Repository EdgeTX/edgetx, pull requests merged in 2021-10, with the labels that each got.

#846 Increase exit button on the widgets setup page
  radio/src/gui/colorlcd/screen_setup.cpp
Labels: color, UX-UI

#855 When changing widget go directly to widget settings
  radio/src/gui/colorlcd/screen_setup.cpp
Labels: color, UX-UI, widget

#839 Implementation of Theme Persistence
  radio/src/gui/colorlcd/CMakeLists.txt
  radio/src/gui/colorlcd/file_preview.h
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/colorlcd/screen_setup.cpp
  radio/src/gui/colorlcd/str_functions.cpp
  radio/src/gui/colorlcd/str_functions.h
  radio/src/gui/colorlcd/theme_manager.cpp
  radio/src/gui/colorlcd/theme_manager.h
  radio/src/gui/colorlcd/themes/480_default.cpp
Labels: color, UX-UI

#859 Remove odt file format option from print model
  companion/src/printdialog.cpp
Labels: bug, companion

#848 Fix companion model edit image names
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/er9x/er9xinterface.cpp
  companion/src/firmwares/er9x/er9xinterface.h
  companion/src/firmwares/ersky9x/ersky9xinterface.cpp
  companion/src/firmwares/ersky9x/ersky9xinterface.h
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/modeldata.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/firmwares/opentx/opentxinterface.h
  companion/src/modeledit/setup.cpp
  companion/src/multimodelprinter.cpp
Labels: bug, companion

#842 Fix lua name
  radio/src/strhelpers.cpp
Labels: color, UX-UI, lua-api

#866 Lua font alignment - per discussion on Discord
  radio/src/lua/api_colorlcd.cpp
Labels: lua-api

#872 Statistics page theming
  radio/src/gui/colorlcd/view_statistics.cpp
  radio/src/gui/colorlcd/view_statistics.h
Labels: color, UX-UI

#873 fixed case insensitive compare
  radio/src/gui/colorlcd/theme_manager.cpp
  radio/src/gui/colorlcd/theme_manager.h
Labels: bug, color, UX-UI
