Repository EdgeTX/edgetx, pull requests merged in 2021-06, with the labels that each got.

#161 Test new EdgeTX splashes and remove vendor specific branding
  radio/src/bitmaps/128x64/splash.png
  radio/src/bitmaps/128x64/splash_frsky.png
  radio/src/bitmaps/212x64/logo.png
  radio/src/bitmaps/212x64/splash.png
  radio/src/bitmaps/212x64/splash_frsky.png
  radio/src/gui/128x64/gui.h
  radio/src/gui/128x64/splash.cpp
  radio/src/gui/212x64/gui.h
  radio/src/gui/212x64/splash.cpp
  radio/src/opentx.cpp
Labels: B&W UI

#172 Fix "wonky timer"
  radio/src/storage/conversions/conversions_219_220.cpp
  radio/src/tests/conversions.cpp
  radio/src/tests/eeprom_23_x9d+2.bin
Labels: B&W, bug, color

#188 Unregister LUA widgets when the factory is destroyed
  radio/src/gui/colorlcd/widget.cpp
  radio/src/gui/colorlcd/widget.h
  radio/src/lua/lua_api.h
  radio/src/lua/widgets.cpp
  radio/src/opentx.cpp
Labels: UX-UI, bug, color

#111 Add mention of ICONS8
  README.md
Labels: documentation

#198 Better match simulator colors to color radio display
  radio/src/simu.cpp
Labels: bug, color, simulator

#195 colorlcd: fix for BOLD font h/v offsets, fix for lcd.clear()
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/api_colorlcd.h
Labels: UX-UI, color

#157 File copy and file rename implementation
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/opentx.h
Labels: UX-UI, color

#200 B/W: make shutdown confirmation depending on the issue at hand
  radio/src/opentx.cpp
Labels: B&W, UX-UI, bug

#205 colorlcd: lua fix INVERS+RIGHT in drawText, drawNumber
  radio/src/lua/api_colorlcd.cpp
Labels: color, lua

#217 Fixed MPM proto subtype reset on subtype change
  radio/src/gui/128x64/model_setup.cpp
  radio/src/pulses/modules_helpers.h
Labels: B&W, bug

#210 Show special functions from 1 to 64, instead of 0 to 63
  radio/src/gui/colorlcd/special_functions.cpp
Labels: UX-UI, color, enhancement

#215 The UARTs of radios are using 3.3V logic level, not TTL / 5V.
  radio/src/translations/cn.h.txt
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
  radio/src/translations/tw.h.txt
Labels: bug, translation

#145 T18 touch screen support
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/hal.h
  radio/src/targets/horus/tp_gt911.cpp
  radio/src/targets/horus/tp_gt911.h
Labels: color, enhancement, help wanted

#261 Adds support for correct Alps EC10E roller hookup
  radio/src/opentx.h
  radio/src/targets/common/arm/stm32/rotary_encoder_driver.cpp
Labels: enhancement, hardware support

#271 Call LuaWidget background() if widget is not painted
  radio/src/lua/widgets.cpp
Labels: bug, lua

#309 Fix isrm pulses
  radio/src/pulses/pulses.cpp
  radio/src/pulses/pxx.h
  radio/src/targets/common/arm/stm32/intmodule_serial_driver.cpp
Labels: bug

#325 Fix colour of inactive SF/GF state in header
  radio/src/gui/colorlcd/special_functions.cpp
Labels: UX-UI, bug, color

#323 Extend lua getVersion()
  radio/src/lua/api_general.cpp
Labels: enhancement, lua

#318 telem item: let it blink
  radio/src/gui/colorlcd/model_telemetry.cpp
Labels: UX-UI, color

#347 [color] enable insta trim on all views
  radio/src/functions.cpp
  radio/src/gui/gui_common.h
Labels: color, enhancement

#346 Removed "Disabled RSSI alarm" warning
  radio/src/opentx.cpp
Labels: enhancement

#336 isAux(2)ModeAvailable called incorrectly
  radio/src/gui/colorlcd/radio_hardware.cpp
Labels: color

#355 [color] set focus on current model or close to the current operation
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/storage/modelslist.cpp
  radio/src/storage/modelslist.h
Labels: UX-UI, color

#361 Highlite active inputs and mixies (#337). Take 2.
  radio/src/gui/colorlcd/model_inputs.cpp
Labels: UX-UI, color
