Repository EdgeTX/edgetx, pull requests merged in 2021-09, with the labels that each got.

#654 Pots and sliders warning implemented. #647
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/gui/colorlcd/switch_warn_dialog.cpp
  radio/src/targets/nv14/board.h
Labels: enhancement, color, UX-UI

#661 Do not reload bitmps during theme update, unless reload argument is true
  radio/src/gui/colorlcd/theme.h
  radio/src/gui/colorlcd/themes/480_default.cpp
  radio/src/gui/colorlcd/themes/flysky.cpp
  radio/src/lua/api_colorlcd.cpp
Labels: color, UX-UI, lua

#645 support both versions of model notes file name. Fix for #641
  radio/src/audio.cpp
  radio/src/gui/colorlcd/view_text.cpp
  radio/src/gui/gui_common.cpp
  radio/src/opentx.h
  radio/src/strhelpers.cpp
Labels: bug, color

#665 allow mixes without source
  radio/src/gui/colorlcd/model_mixes.cpp
  radio/src/mixer.cpp
Labels: bug, color

#681 reversed keyboard icons
  radio/src/bitmaps/480x272/mask_key_lowercase.png
  radio/src/bitmaps/480x272/mask_key_uppercase.png
Labels: enhancement, color, UX-UI

#677 Improved Lua draw text lines
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/lua/api_colorlcd.cpp
Labels: color, lua

#678 Implement Jump to Curve Edit from input and mixer screens
  radio/src/gui/colorlcd/CMakeLists.txt
  radio/src/gui/colorlcd/choiceex.cpp
  radio/src/gui/colorlcd/choiceex.h
  radio/src/gui/colorlcd/menu_model.h
  radio/src/gui/colorlcd/model_curves.cpp
  radio/src/gui/colorlcd/model_curves.h
  radio/src/gui/colorlcd/model_inputs.cpp
  radio/src/gui/colorlcd/model_mixes.cpp
Labels: enhancement, color

#679 allow backlight change with special function on NV14 #527
  radio/src/targets/nv14/board.h
Labels: bug

#689 Implement long touch to launch curves in mixes and inputs
  radio/src/gui/colorlcd/choiceex.cpp
  radio/src/gui/colorlcd/choiceex.h
Labels: color, UX-UI

#690 Only enable HARDWARE_TOUCH for TX16 & T18 (Horus targets) by default
  radio/src/targets/horus/CMakeLists.txt
Labels: bug, color

#664 Set more sensible default colors for output widget
  radio/src/gui/colorlcd/widgets/outputs.cpp
Labels: color, widget

#693 Timer edit enable switch except when mode is off
  companion/src/modeledit/setup.cpp
Labels: companion

#696 Modify Lua function lcd.RGB(...)
  radio/src/lua/api_colorlcd.cpp
Labels: color, lua

#640 Higher baud rates
  radio/src/gui/colorlcd/radio_hardware.cpp
  radio/src/gui/common/stdlcd/radio_hardware.cpp
  radio/src/targets/horus/telemetry_driver.cpp
  radio/src/targets/taranis/telemetry_driver.cpp
  radio/src/telemetry/crossfire.h
  radio/src/translations/untranslated.h
Labels: enhancement

#707 Lua widgets
  radio/src/gui/colorlcd/widget.cpp
  radio/src/gui/colorlcd/widget.h
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/api_colorlcd.h
  radio/src/lua/widgets.cpp
Labels: color, lua

#704 Implement tap count for NV14 TP also
  radio/src/targets/nv14/touch_driver.cpp
Labels: color, UX-UI

#687 Model Outputs - GV for Subtrim, Min, Max values #683
  radio/src/gui/colorlcd/channel_bar.h
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/gui/colorlcd/draw_functions.h
  radio/src/gui/colorlcd/gvar_numberedit.h
  radio/src/gui/colorlcd/model_outputs.cpp
  radio/src/myeeprom.h
Labels: enhancement, color

#710 fix BT build on NV14
  radio/src/targets/nv14/hal.h
Labels: bug

#705 [color] Dynamic MPM proto list
  radio/src/gui/colorlcd/CMakeLists.txt
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/gui/colorlcd/multi_rfprotos.cpp
  radio/src/gui/colorlcd/multi_rfprotos.h
  radio/src/gui/gui_common.cpp
  radio/src/gui/gui_common.h
  radio/src/io/multi_firmware_update.cpp
  radio/src/io/multi_protolist.cpp
  radio/src/io/multi_protolist.h
  radio/src/pulses/multi.cpp
  radio/src/pulses/pulses.cpp
  radio/src/storage/storage_common.cpp
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/telemetry/multi.cpp
  radio/src/telemetry/multi.h
  radio/src/telemetry/telemetry.cpp
Labels: enhancement

#618 Show true raw info on radio analogs diagnose screen (FlySky hall gimbal only)
  radio/src/gui/colorlcd/radio_diaganas.cpp
  radio/src/targets/horus/flyskyHallStick_driver.cpp
  radio/src/targets/horus/flyskyHallStick_driver.h
Labels: enhancement, color, UX-UI

#672 Prevent USB activation while flashing firmware
  radio/src/targets/common/arm/stm32/bootloader/boot.cpp
Labels: bug, enhancement

#719 Add tap count to simulator
  radio/src/lua/widgets.cpp
  radio/src/targets/simu/opentxsimulator.cpp
Labels: color, simulator

#727 Add tap count support to `simu`
  radio/src/simu.cpp
  radio/src/targets/simu/opentxsimulator.cpp
Labels: color, simulator

#726 Call GV_IS_GV_VALUE() without offset applied
  radio/src/gui/128x64/model_outputs.cpp
  radio/src/gui/212x64/model_outputs.cpp
  radio/src/gui/colorlcd/channel_bar.h
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/gui/colorlcd/draw_functions.h
  radio/src/gui/colorlcd/gvar_numberedit.h
  radio/src/gui/colorlcd/model_outputs.cpp
  radio/src/myeeprom.h
Labels: bug, color

#716 Trainer calibration button
  radio/src/gui/colorlcd/radio_trainer.cpp
Labels: bug, color, UX-UI

#721 Slave/Jack - more channels, Bluetooth/Slave bug fix
  radio/src/bluetooth.cpp
  radio/src/bluetooth.h
  radio/src/dataconstants.h
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/translations/untranslated.h
Labels: bug, enhancement, color, UX-UI

#739 [color] properly filter sources in drop-downs
  radio/src/gui/colorlcd/model_inputs.cpp
  radio/src/gui/colorlcd/sourcechoice.cpp
Labels: bug, color

#740 Correctly turn off or restore MPM to normal after running spectrum analyser
  radio/src/gui/colorlcd/radio_spectrum_analyser.cpp
  radio/src/io/multi_protolist.cpp
Labels: bug, color

#745 Support scale
  radio/src/gui/colorlcd/model_inputs.cpp
Labels: bug, color, UX-UI

#746 Fix baud rate defaults
  radio/src/gui/colorlcd/radio_hardware.cpp
  radio/src/gui/common/stdlcd/radio_hardware.cpp
  radio/src/telemetry/crossfire.h
Labels: bug, color, B&W

#747 Add codename define and update all radio version screens
  CMakeLists.txt
  companion/src/constants.h
  companion/src/mainwindow.cpp
  companion/src/storage/appdata.h
  companion/src/version.h.in
  companion/src/warnings.h
  radio/src/gui/128x64/view_about.cpp
  radio/src/gui/212x64/view_about.cpp
  radio/src/gui/colorlcd/view_about.cpp
  radio/src/stamp.h.in
Labels: color, UX-UI, B&W, companion, compilation

#755 Fix max # channels and default channel range
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/pulses/modules_helpers.h
  radio/src/pulses/pxx1.cpp
Labels: bug, color

#510 Add capability to build more firmwares than scheduled for tests
  .github/workflows/actions.yml
  .github/workflows/nightly.yml
  fw.json
  tools/build-gh.sh
Labels: enhancement, compilation

#757 Companion input scale fix and enhancements
  companion/src/modeledit/expodialog.cpp
  companion/src/modeledit/expodialog.ui
  companion/src/modelprinter.cpp
Labels: bug, enhancement, companion

#770 Replacement icon masks thanks to @JimB40
  radio/src/bitmaps/480x272/default_theme/mask_asterisk.png
  radio/src/bitmaps/480x272/default_theme/mask_busy.png
  radio/src/bitmaps/480x272/default_theme/mask_error.png
  radio/src/bitmaps/480x272/default_theme/mask_question.png
  radio/src/bitmaps/480x272/default_theme/mask_shutdown.png
Labels: color, UX-UI

#788 Fix model input trims
  companion/src/firmwares/input_data.cpp
  companion/src/firmwares/input_data.h
  companion/src/modeledit/expodialog.cpp
  companion/src/modeledit/expodialog.h
  companion/src/modeledit/expodialog.ui
  companion/src/modelprinter.cpp
Labels: bug, companion

#796 Remove scale fields artefacts
  companion/src/modeledit/expodialog.cpp
Labels: bug, companion

#800 Eshifri/fix 792
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/gui/colorlcd/radio_version.cpp
Labels: color, UX-UI

#805 [MPM] Sanitized static protocol definition pointer checks
  radio/src/pulses/modules_helpers.h
Labels: color, B&W

#828 Use correct index on 128 B&W radios for MPM status
  radio/src/gui/128x64/model_setup.cpp
Labels: bug, UX-UI, B&W

#827 Make 'back' hitbox bigger for touch
  radio/src/gui/colorlcd/page.cpp
  radio/src/gui/colorlcd/tabsgroup.cpp
  radio/src/targets/horus/libopenui_config.h
  radio/src/targets/nv14/libopenui_config.h
Labels: color, UX-UI

#832 Fix shift in NV14 switches during Companion import and export
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/opentx/opentxeeprom.cpp
Labels: bug, companion
