Repository EdgeTX/edgetx, pull requests merged in 2021-07, with the labels that each got.

#377 range mode RSSI (fix for #356)
  radio/src/gui/colorlcd/message_dialog.cpp
  radio/src/gui/colorlcd/message_dialog.h
  radio/src/gui/colorlcd/model_setup.cpp
Labels: UX-UI, color

#378 [color] fix attempt for GT911 touch sensor driver
  radio/src/targets/horus/tp_gt911.cpp
  radio/src/targets/horus/tp_gt911.h
Labels: color

#379 Show RSSI if RF Freq Fine tuning supported
  radio/src/gui/colorlcd/model_setup.cpp
Labels: UX-UI, color

#383 Reset logical switch v2 range if v1 changes
  radio/src/gui/colorlcd/model_logical_switches.cpp
Labels: UX-UI, color

#394 Use uint32_t values consistent with underlying data structures
  radio/src/gui/colorlcd/model_inputs.cpp
  radio/src/gui/colorlcd/model_mixes.cpp
Labels: bug, color

#396 Try fix X12S RTC coin cell sampling
  radio/src/targets/horus/x12s_adc_driver.cpp
Labels: UX-UI, bug, color

#424 Reset MultiProtocol subType reset to zero on protocol change
  radio/src/gui/colorlcd/model_setup.cpp
Labels: UX-UI, bug, color

#317 avoid compile warning
  radio/src/targets/horus/tp_gt911.cpp
Labels: compilation

#427 Touch Lockup Recovery
  radio/src/gui/colorlcd/radio_diaganas.cpp
  radio/src/targets/horus/tp_gt911.cpp
  radio/src/targets/horus/tp_gt911.h
  radio/src/targets/nv14/touch_driver.cpp
Labels: color

#425 [color] Fix vario settings range
  radio/src/gui/colorlcd/model_telemetry.cpp
Labels: UX-UI, bug, color

#426 Re-open selected model category
  radio/src/gui/colorlcd/model_select.cpp
Labels: UX-UI, color, compilation

#320 Consistify icons for model setting, select, and category
  radio/src/bitmaps/480x272/default_theme/mask_menu_model_select.png
  radio/src/bitmaps/480x272/default_theme/mask_model_select_category.png
  radio/src/gui/colorlcd/menus.h
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/themes/480_bitmaps.h
  radio/src/gui/colorlcd/themes/480_default.cpp
  radio/src/gui/colorlcd/view_main_menu.cpp
Labels: UX-UI, color

#406 Implemented View Text
  radio/src/gui/colorlcd/CMakeLists.txt
  radio/src/gui/colorlcd/message_dialog.cpp
  radio/src/gui/colorlcd/message_dialog.h
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/colorlcd/view_text.cpp
  radio/src/gui/colorlcd/view_text.h
  radio/src/opentx.cpp
Labels: UX-UI, color

#455 Make outputs widget use outputs names
  radio/src/gui/colorlcd/widgets/outputs.cpp
Labels: bug, color, widget

#463 TextEdit should trigger Model save, not Radio save
  radio/src/gui/colorlcd/model_mixes.cpp
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: bug, color

#461 Fix timer edit and time display in logical switch edit
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/gui/colorlcd/model_logical_switches.cpp
Labels: UX-UI, bug, color

#466 LcdColorIndex - Make default colour first entry
  radio/src/gui/colorlcd/colors.h
  radio/src/tests/transparency_CN_480x272.png
  radio/src/tests/transparency_EN_480x272.png
Labels: UX-UI, color, lua

#457 Fully rewrote I2C based on STM32F4 HAL
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/hal.h
  radio/src/targets/horus/i2c_driver.cpp
  radio/src/targets/horus/i2c_driver.h
  radio/src/targets/horus/tp_gt911.cpp
  radio/src/targets/horus/tp_gt911.h
  radio/src/targets/taranis/hal.h
  radio/src/targets/taranis/i2c_driver.cpp
Labels: color, hardware support

#428 Run safety checks on model select and exit menu
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/pulses/pulses.cpp
Labels: UX-UI, color

#471 [color] fixed MPM options (esp. DSM related)
  radio/src/gui/colorlcd/model_setup.cpp
Labels: UX-UI, bug, color

#262 Matches the splash background with bootloader background
  radio/src/bitmaps/480x272/CMakeLists.txt
  radio/src/bitmaps/480x272/splash.png
  radio/src/gui/colorlcd/splash.cpp
Labels: UX-UI, color

#498 Merge of #285, #489 and #490
  radio/src/gui/128x64/model_custom_scripts.cpp
  radio/src/gui/128x64/view_telemetry.cpp
  radio/src/gui/212x64/model_custom_scripts.cpp
  radio/src/gui/212x64/view_telemetry.cpp
  radio/src/gui/colorlcd/model_mixer_scripts.cpp
  radio/src/gui/colorlcd/standalone_lua.cpp
  radio/src/gui/colorlcd/widget.cpp
  radio/src/gui/colorlcd/widget.h
  radio/src/keys.h
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/api_general.cpp
  radio/src/lua/interface.cpp
  radio/src/lua/lua_api.h
  radio/src/lua/widgets.cpp
  radio/src/main.cpp
Labels: UX-UI, lua

#285 Lua task preempts long running scripts instead of killing them
  radio/src/gui/128x64/model_custom_scripts.cpp
  radio/src/gui/128x64/view_telemetry.cpp
  radio/src/gui/212x64/model_custom_scripts.cpp
  radio/src/gui/212x64/view_telemetry.cpp
  radio/src/gui/colorlcd/model_mixer_scripts.cpp
  radio/src/gui/colorlcd/standalone_lua.cpp
  radio/src/lua/api_general.cpp
  radio/src/lua/interface.cpp
  radio/src/lua/lua_api.h
  radio/src/lua/widgets.cpp
  radio/src/main.cpp
Labels: enhancement, lua

#490 Added VCENTER to lcd flags in Lua
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/api_general.cpp
  radio/src/lua/widgets.cpp
Labels: color, lua

#467 Gitpod
  .gitpod.yml
  README.md
Labels: compilation

#468 Add VSCode Development Containers support
  .devcontainer/devcontainer.json
Labels: compilation

#507 Added event buffer to LuaWidget
  radio/src/lua/widgets.cpp
Labels: lua

#517 Add +/- button to virtual number_edir keyboard.
  radio/src/keys.h
Labels: bug

#523 Added a lua function lcd.sizeText(text[, flags])
  radio/src/lua/api_colorlcd.cpp
Labels: color, lua

#525 Add model notes icon
  radio/src/bitmaps/480x272/default_theme/mask_menu_notes.png
  radio/src/gui/colorlcd/menus.h
  radio/src/gui/colorlcd/themes/480_bitmaps.h
  radio/src/gui/colorlcd/themes/480_default.cpp
  radio/src/gui/colorlcd/view_main_menu.cpp
Labels: UX-UI, color
