Repository EdgeTX/edgetx, pull requests merged in 2021-12, with the labels that each got.

#1196 [B&W] Don't add entries for non-existant rows
  radio/src/gui/common/stdlcd/radio_hardware.cpp
Labels: B&W

#1154 Issue #978 - Get switch index, name, value and position in lua
  radio/src/lua/api_general.cpp
Labels: lua-api

#1179 Reload Lua scripts when a new function script is selected on COLORLCD
  radio/src/gui/colorlcd/special_functions.cpp
Labels: lua-api

#1202 use yml instead of bin to construct notes file name from model file n…
  radio/src/gui/colorlcd/view_text.cpp
Labels: bug, color

#1206 fix crash on tab group sub page access/exit
  radio/src/gui/colorlcd/tabsgroup.cpp
Labels: bug, color, touch

#1208 Fixed "lua(...,...)" source
  radio/src/storage/conversions/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
Labels: bug

#1142 Rle for greyscale lcd
  companion/src/customizesplashdialog.cpp
  companion/src/customizesplashdialog.h
  companion/src/storage/firmwareinterface.cpp
  companion/src/storage/firmwareinterface.h
  radio/src/bitmaps/212x64/CMakeLists.txt
  radio/src/gui/212x64/bmp.cpp
  radio/src/gui/212x64/lcd.cpp
  radio/src/gui/212x64/lcd.h
  radio/src/gui/212x64/popups.cpp
  radio/src/gui/212x64/splash.cpp
  radio/src/gui/212x64/startup_shutdown.cpp
  radio/src/gui/212x64/view_main.cpp
Labels: enhancement, B&W

#1209 support file copy to the same folder #294
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/common/stdlcd/radio_sdmanager.cpp
  radio/src/sdcard.h
Labels: color, UX-UI, B&W

#1210 Fix theme defects
  radio/src/gui/colorlcd/color_editor.cpp
  radio/src/gui/colorlcd/file_carosell.cpp
  radio/src/gui/colorlcd/file_carosell.h
  radio/src/gui/colorlcd/fullscreen_dialog.cpp
  radio/src/gui/colorlcd/fullscreen_dialog.h
  radio/src/gui/colorlcd/listbox.cpp
  radio/src/gui/colorlcd/preview_window.h
  radio/src/gui/colorlcd/radio_theme.cpp
  radio/src/gui/colorlcd/radio_theme.h
Labels: color, UX-UI, touch

#1150 sort lua scripts before building ui in radio tools
  radio/src/gui/colorlcd/radio_tools.cpp
  radio/src/gui/colorlcd/radio_tools.h
Labels: color

#1194 SD Card version cleanup + update more OTX references
  CMakeLists.txt
  radio/src/targets/common/arm/CMakeLists.txt
  radio/src/targets/common/arm/stm32/usbd_storage_msd.cpp
Labels: compilation

#1228 Align Companion radio default settings
  companion/src/firmwares/generalsettings.cpp
Labels: companion

#1232 Fix building with -DGVARS=NO
  radio/src/gui/colorlcd/menu_model.cpp
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: bug, color, compilation

#1211 change source_t from uint8_t to uint16_t for NV14. #806
  radio/src/opentx_types.h
Labels: bug

#1236 Fix UI elements left visible when `FLIGHT_MODES=N`
  radio/src/gui/colorlcd/menu_model.cpp
  radio/src/gui/colorlcd/model_inputs.cpp
  radio/src/gui/colorlcd/model_mixes.cpp
Labels: color, compilation

#1242 Fix NV14 touch behavior.
  radio/src/targets/nv14/touch_driver.cpp
Labels: bug, touch

#1231 fix mix channel monitor size on nv14
  radio/src/gui/colorlcd/model_mixes.cpp
Labels: UX-UI

#1241 Reset sdcard sync local folder and radio on change of profile
  companion/src/mainwindow.cpp
  companion/src/process_sync.h
Labels: companion

#1247 corresponding change for fix touch processing. Listbox now explicitl…
  radio/src/gui/colorlcd/listbox.cpp
Labels: bug, color, touch

#1237 Truncate Mixer Lua script input and output names to 6 chars
  radio/src/lua/interface.cpp
Labels: bug, lua-api

#1218 Fixed string option for Lua widgets
  radio/src/lua/widgets.cpp
Labels: bug, color, lua-api

#1223 Added Lua constants for logical switch and special/custom functions
  radio/src/lua/api_general.cpp
Labels: lua-api

#1261 Fix Return behavior on Ghost Menus
  radio/src/gui/colorlcd/radio_ghost_module_config.cpp
  radio/src/gui/colorlcd/radio_ghost_module_config.h
Labels: bug, color

#1040 Fix switch warnings
  radio/src/datastructs.h
  radio/src/datastructs_private.h
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/128x64/splash.cpp
  radio/src/gui/128x64/view_main.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/212x64/splash.cpp
  radio/src/gui/212x64/view_main.cpp
  radio/src/gui/colorlcd/switch_warn_dialog.cpp
  radio/src/gui/colorlcd/switch_warn_dialog.h
  radio/src/opentx.cpp
  radio/src/opentx.h
  radio/src/storage/conversions/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/conversions/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/strhelpers.cpp
  radio/src/strhelpers.h
  radio/src/switches.cpp
  radio/src/switches.h
  radio/src/tests/conversions.cpp
  radio/src/tests/eeprom_23_x7.bin
  radio/src/tests/eeprom_23_x9d+.bin
  radio/src/tests/model_25_tx16s.otx
  radio/src/translations.cpp
  radio/src/translations.h
Labels: bug, color, B&W

#1264 Fix outputs max/min without GVARS ver.2 #1254
  radio/src/gui/colorlcd/gvar_numberedit.h
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: bug, color, compilation

#1279 Add power delay for when turning on MPM for T16
  radio/src/targets/horus/board.h
Labels: hardware support

#1282 End the LUA != LUA confusion
  radio/src/CMakeLists.txt
  radio/src/gui/128x64/CMakeLists.txt
  radio/src/gui/212x64/CMakeLists.txt
  radio/src/gui/colorlcd/CMakeLists.txt
  radio/src/gui/colorlcd/radio_tools.cpp
  radio/src/gui/colorlcd/standalone_lua.h
Labels: compilation

#1294 repair support for ST7796S driven displays
  radio/src/gui/colorlcd/radio_version.cpp
  radio/src/targets/nv14/lcd_driver.cpp
Labels: hardware support

#1268 Resolve a problem in font generation when y_offset is negative.
  radio/src/translations/CMakeLists.txt
  tools/build-font-bitmap.py
  tools/charset.py
  tools/encode-translation.py
Labels: bug, translation

#1281 Fix pots and sliders warning #1277
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/gui/colorlcd/switch_warn_dialog.cpp
  radio/src/gui/colorlcd/switch_warn_dialog.h
  radio/src/switches.cpp
  radio/src/switches.h
Labels: bug, color

#1313 Add switches definitions for NV14 #1301
  radio/src/switches.cpp
Labels: bug

#1314 fix touch screen test in analog input test screen
  radio/src/gui/colorlcd/radio_diaganas.cpp
  radio/src/targets/horus/tp_gt911.cpp
  radio/src/targets/horus/tp_gt911.h
  radio/src/targets/nv14/board.h
  radio/src/targets/nv14/touch_driver.cpp
  radio/src/targets/simu/simpgmspace.cpp
Labels: bug

#1303 Fixed support for Radiomaster TX12 additional switches (SI and SJ)
  radio/src/gui/128x64/radio_diagkeys.cpp
  radio/src/gui/common/stdlcd/radio_hardware.cpp
  radio/src/strhelpers.cpp
  radio/src/targets/taranis/keys_driver.cpp
Labels: hardware support

#1312 Fix Lua Mixer index issue
  radio/src/lua/interface.cpp
Labels: bug, lua-api
