Repository EdgeTX/edgetx, pull requests merged in 2021-08, with the labels that each got.

#532 Add missing SF "Adjust" label, dependent on source
  radio/src/gui/colorlcd/special_functions.cpp
Labels: UX-UI, bug, color

#542 rtcInit() to NV14
  radio/src/targets/nv14/board.cpp
Labels: bug

#539 touch interface support for time_edit. Take2.
  radio/src/gui/colorlcd/timeedit.cpp
  radio/src/gui/colorlcd/timeedit.h
Labels: color, enhancement

#551 Refresh display when logical switch state changes
  radio/src/gui/colorlcd/model_logical_switches.cpp
Labels: UX-UI, bug, color

#584 Fix 579 581
  radio/src/gui/colorlcd/topbar.cpp
  radio/src/gui/colorlcd/widgets_container.h
  radio/src/hal/adc_driver.cpp
Labels: bug, color, UX-UI

#608 Eshifri/delay icons
  radio/src/gui/colorlcd/bitmaps.h
  radio/src/gui/colorlcd/model_mixes.cpp
  radio/src/gui/colorlcd/themes/480_default.cpp
Labels: color, UX-UI

#619 fix timer display for logical switches.
  radio/src/gui/colorlcd/model_logical_switches.cpp
Labels: bug, color, UX-UI

#611 Removes two compiler warnings
  radio/src/gui/colorlcd/layouts/layout1x4.cpp
  radio/src/pulses/pulses.cpp
Labels: compilation

#602 Eshifri/sd navigation
  radio/src/gui/colorlcd/radio_sdmanager.cpp
Labels: enhancement, color, UX-UI

#615 Implement 4+2 layout
  radio/src/gui/colorlcd/layouts/layout4+2.cpp
  radio/src/gui/colorlcd/layouts/mask_layout4+2.png
Labels: color, UX-UI

#594 long press or long touch open selection menu on the inverted switch
  radio/src/gui/colorlcd/switchchoice.cpp
  radio/src/gui/colorlcd/switchchoice.h
Labels: enhancement, color, UX-UI

#646 Color options for Lua widget get translated to Lua color flags
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/api_colorlcd.h
  radio/src/lua/widgets.cpp
Labels: color, lua

#639 Show more files on the NV14
  radio/src/targets/common/arm/stm32/bootloader/bin_files.h
Labels: color, UX-UI

#653 Show error message in Lua widgets instead of "disabled"
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/gui/colorlcd/draw_functions.h
  radio/src/lua/widgets.cpp
Labels: color, lua

#644 Software keyboard support.
  radio/src/bitmaps/480x272/mask_key_backspace.png
  radio/src/targets/horus/CMakeLists.txt
Labels: enhancement, color, UX-UI

#643 Don't remove 2POS from avail switches for invert
  radio/src/gui/gui_common.cpp
Labels: enhancement, UX-UI

#630 Added LUA file system operations
  radio/src/CMakeLists.txt
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/api_filesystem.cpp
  radio/src/lua/api_filesystem.h
  radio/src/lua/api_general.cpp
  radio/src/lua/interface.cpp
  radio/src/lua/lua_api.h
Labels: lua

#550 Use the current time to generate the log filename
  radio/src/logs.cpp
Labels: enhancement

#659 Nv14 model setup extra line
  radio/src/gui/colorlcd/model_setup.cpp
Labels: color, UX-UI

#660 Add 50 mW TX power level to CRSF protocol
  radio/src/telemetry/crossfire.cpp
Labels: enhancement

#580 Fixed Protocol Sorting in model_setup.cpp
  radio/src/gui/colorlcd/model_setup.cpp
Labels: enhancement
