Repository EdgeTX/edgetx, pull requests merged in 2021-11, with the labels that each got.

#939 Add trainer mode OFF for NV14
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/modeldata.h
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/modeledit/setup.cpp
Labels: bug, companion

#997 Handle model conversion with invalid sources
  companion/src/firmwares/rawsource.cpp
Labels: bug, companion

#965 [nv14] Add crash causing missing curveDataEdit
  radio/src/gui/colorlcd/model_curves.cpp
  radio/src/gui/colorlcd/model_inputs.cpp
  radio/src/gui/colorlcd/page.h
  radio/src/gui/colorlcd/view_about.cpp
Labels: bug, color

#985 Preliminary trims as keys for lua
  radio/src/lua/api_general.cpp
  radio/src/lua/lua_api.h
  radio/src/targets/nv14/board.h
  radio/src/targets/nv14/keys_driver.cpp
Labels: enhancement, color, UX-UI

#998 improve backlight handling on color lcd radios
  companion/src/generaledit/generalsetup.cpp
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/gui/colorlcd/radio_setup.h
  radio/src/opentx.cpp
Labels: color, UX-UI

#1002 Split window touch toр carousel start #981
  radio/src/gui/colorlcd/view_main.cpp
Labels: color, UX-UI, touch

#1018 Issue #132
  radio/src/lua/api_general.cpp
Labels: lua-api

#982 Updates to Lua scripts
  radio/src/gui/128x64/popups.h
  radio/src/gui/128x64/view_telemetry.cpp
  radio/src/gui/212x64/popups.h
  radio/src/gui/212x64/view_telemetry.cpp
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/colorlcd/radio_tools.cpp
  radio/src/gui/colorlcd/standalone_lua.cpp
  radio/src/gui/colorlcd/standalone_lua.h
  radio/src/gui/common/stdlcd/popups.cpp
  radio/src/lua/interface.cpp
  radio/src/lua/lua_api.h
Labels: bug, lua-api

#1060 Taranis Bootloader: Menu fix
  radio/src/targets/taranis/bootloader/boot_menu.cpp
Labels: bug, B&W

#1047 Add live data to Telemetry Edit Screen
  radio/src/gui/colorlcd/model_telemetry.cpp
Labels: enhancement, color, UX-UI, telemetry

#1078 Companion set new curves (-100,-100) to (100,100)
  companion/src/firmwares/curvedata.cpp
Labels: enhancement, companion

#1033 std::string::data() gives no guaranty on 0-termination
  radio/src/gui/colorlcd/radio_sdmanager.cpp
Labels: bug

#1090 fix split touch window for carousel #1088
  radio/src/gui/colorlcd/view_main.cpp
Labels: bug, color, UX-UI

#1080 Fix #1062
  radio/src/audio.cpp
  radio/src/opentx.h
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
Labels: bug, color

#1094 Fix #411
  radio/src/gui/colorlcd/model_setup.cpp
Labels: bug, color, UX-UI

#1076 partial implementation of 354
  radio/src/gui/colorlcd/model_outputs.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/untranslated.h
Labels: enhancement, color

#1066 Fix theme editor
  radio/src/gui/colorlcd/listbox.cpp
  radio/src/gui/colorlcd/preview_window.h
  radio/src/gui/colorlcd/radio_theme.cpp
  radio/src/gui/colorlcd/screen_setup.cpp
  radio/src/gui/colorlcd/theme.h
  radio/src/gui/colorlcd/theme_manager.cpp
  radio/src/gui/colorlcd/theme_manager.h
  radio/src/gui/colorlcd/themes/480_default.cpp
Labels: color, UX-UI

#1099 Taranis-based B/W: Initial Contrast fix
  radio/src/gui/128x64/lcd.cpp
  radio/src/gui/212x64/lcd.cpp
  radio/src/targets/taranis/board.cpp
  radio/src/targets/taranis/board.h
  radio/src/targets/taranis/bootloader/boot_menu.cpp
Labels: enhancement, B&W

#1102 fix touch slide deltaX/deltaY not resetting
  radio/src/targets/horus/tp_gt911.cpp
  radio/src/targets/nv14/touch_driver.cpp
Labels: bug, touch

#1105 Fix compiler error when Debug_Timers is enabled
  radio/src/debug.cpp
  radio/src/gui/colorlcd/model_select.cpp
Labels: compilation

#999 Monospaced font for digits
  tools/build-font-bitmap.py
Labels: color, UX-UI

#543 Hacky port of FRSKY_FIRMWARE_EXT update menu
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/colorlcd/radio_sdmanager.h
  radio/src/io/multi_firmware_update.h
Labels: bug, enhancement, color

#1132 Add filename to lua `model.getInfo()`
  radio/src/lua/api_model.cpp
  radio/src/storage/conversions/conversions_220_221.cpp
  radio/src/storage/sdcard_yaml.cpp
  radio/src/storage/sdcard_yaml.h
Labels: enhancement, color, lua-api, B&W

#1082 Touch events to Standalone Lua scripts
  radio/src/gui/colorlcd/standalone_lua.cpp
  radio/src/gui/colorlcd/standalone_lua.h
  radio/src/lua/interface.cpp
  radio/src/lua/lua_api.h
  radio/src/lua/widgets.cpp
Labels: lua-api

#1147 Enable lua `table` for colorlcd, not just horus style targets
  radio/src/thirdparty/Lua/src/linit.c
Labels: enhancement, lua-api

#1149 fix SF override limts #1145
  radio/src/gui/colorlcd/special_functions.cpp
Labels: bug, color

#1156 Read SF enable state from YAML #1136
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
Labels: bug

#1146 Added zone.absx and zone.absy to give position of a Lua widget on the screen
  radio/src/lua/widgets.cpp
Labels: lua-api

#1148 Use COLOR_THEME_PRIMARY1 as a default lua script color
  radio/src/gui/colorlcd/colors.h
Labels: color, lua-api

#1074 fix issues:
  radio/src/gui/colorlcd/channel_bar.h
  radio/src/gui/colorlcd/menu_screen.cpp
  radio/src/gui/colorlcd/model_mixes.cpp
  radio/src/gui/colorlcd/screen_setup.cpp
  radio/src/gui/colorlcd/special_functions.cpp
Labels: bug, enhancement, color, UX-UI

#1166 Removed the call to update() when widget leaves fullscreen mode
  radio/src/gui/colorlcd/widget.cpp
Labels: lua-api

#1164 fix auto power off on cleared warning trigger
  radio/src/gui/colorlcd/fullscreen_dialog.cpp
  radio/src/opentx.cpp
  radio/src/opentx.h
Labels: bug, color

#1161 Make list of supported internal module configurable per cmake option
  radio/src/targets/common/arm/CMakeLists.txt
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/targets/taranis/CMakeLists.txt
Labels: compilation

#1180 298 keys stuck
  radio/src/gui/colorlcd/tabsgroup.cpp
  radio/src/gui/colorlcd/tabsgroup.h
Labels: bug, color, touch

#1056 Take 2 on Issue817
  radio/src/lua/api_general.cpp
  radio/src/opentx.h
  radio/src/opentx_helpers.h
  radio/src/switches.cpp
Labels: lua-api
