Repository EdgeTX/edgetx, pull requests merged in 2022-11, with the labels that each got.

#2655 Added translation for left stick for color radios
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#2656 More translations to DK
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#2607 chore: Translate some more radio firmware elements
  radio/src/gui/colorlcd/layouts/topbar_impl.cpp
  radio/src/gui/colorlcd/model_mixes.cpp
  radio/src/gui/colorlcd/preview_window.h
  radio/src/gui/colorlcd/themes/480_default.cpp
  radio/src/gui/colorlcd/themes/flysky.cpp
  radio/src/gui/colorlcd/timer_setup.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#2609 Added EL18 specific firmware naming.
  .github/workflows/actions.yml
  .github/workflows/nightly.yml
  fw.json
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/targets/nv14/board.h
  tools/build-flysky.py
  tools/build-gh.sh
Labels: compilation

#2663 More se updates
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#2667 fix(nv14): Use PP for extmod invert output, remove redundant init
  radio/src/targets/nv14/extmodule_helper.cpp
Labels: bug 🪲

#2670 Fixed missing CN and TW translations
  radio/src/translations/cn.h
  radio/src/translations/tw.h
Labels: translation

#2668 fix(lua): [page down long] translation to [page up]
  radio/src/lua/lua_widget.cpp
Labels: bug 🪲, lua

#2676 fix(simu): rotencDt must be updated as well
  radio/src/simu.cpp
  radio/src/targets/simu/opentxsimulator.cpp
Labels: simulator, bug/regression ↩️

#2661 fix(color): Outputs lines not updating after reset
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: color, UX-UI, bug/regression ↩️

#2618 Fix ghost module remote menu for 2.8
  radio/src/gui/colorlcd/radio_ghost_module_config.cpp
  radio/src/gui/colorlcd/radio_ghost_module_config.h
Labels: bug/regression ↩️

#2681 chore(cpn): More Danish translations (customfunctiondata)
  companion/src/translations/companion_da.ts
Labels: translation

#2684 fix(color): 6POS display on the main and calib. screens (#2679)
  radio/src/gui/colorlcd/layouts/sliders.cpp
  radio/src/gui/colorlcd/layouts/sliders.h
Labels: color, UX-UI

#2701 Update de.h
  radio/src/translations/de.h
Labels: translation

#2717 fix(crsf): internal module baudrate
  radio/src/gui/colorlcd/hw_intmodule.cpp
Labels: color, bug/regression ↩️

#2730 Streamlined the SPI audio init of EL18.
  radio/src/audio.cpp
  radio/src/targets/nv14/audio_spi_driver.cpp
Labels: bug 🪲

#2513 chore(github): Node.js 12 based actions deprecated
  .github/workflows/actions.yml
  .github/workflows/linux_cpn.yml
  .github/workflows/macosx_cpn.yml
  .github/workflows/nightly.yml
  .github/workflows/win-cpn-32.yml
  .github/workflows/win_cpn-64.yml
Labels: ci/cd

#2550 chore(hal): streamline rotary encoder definitions
  radio/src/targets/common/arm/stm32/rotary_encoder_driver.cpp
  radio/src/targets/horus/hal.h
  radio/src/targets/taranis/hal.h
Labels: compilation

#2740 cpn(fix): gyro and joystick
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/edgetx/yaml_rawsource.cpp
  companion/src/firmwares/opentx/opentxeeprom.cpp
Labels: companion, bug/regression ↩️

#2737 de optimization
  radio/src/translations/de.h
Labels: translation

#2732 fix: Always show GPS button in radio setup
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/translations/de.h
Labels: color, UX-UI, bug/regression ↩️

#2724 cpn(fix): Multi module DSM protocol options
  companion/src/modeledit/setup.cpp
  companion/src/modeledit/setup.h
  companion/src/modeledit/setup_module.ui
Labels: bug 🪲, companion

#2759 add setDefault() to PPM Center
  radio/src/gui/colorlcd/output_edit.cpp
Labels: bug 🪲, color

#2755 Se translation corrections
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#2756 cpn(fix): yaml encode/decode telemetry sensor subId
  companion/src/firmwares/edgetx/yaml_sensordata.cpp
Labels: bug 🪲, companion

#2712 chore(compilation): silence some warning on apple silicon
  cmake/toolchain/native.cmake
Labels: compilation

#2747 fix(ui): fixed a memory leak and warning in topbar.cpp
  radio/src/gui/colorlcd/topbar.cpp
  radio/src/gui/colorlcd/topbar.h
Labels: bug 🪲

#2782 fix(lua): do not push long enter key press on long touch
  radio/src/lua/lua_widget.cpp
Labels: touch

#2787 initialise pointers to nullptr before the first use (fix #2785)
  radio/src/gui/colorlcd/radio_theme.cpp
Labels: bug 🪲, color

#2567 fix(lua): array indexes in some set/get functions
  radio/src/lua/api_general.cpp
  radio/src/lua/api_model.cpp
Labels: bug 🪲, lua-api

#2760 `build-gh.sh` tweaks
  tools/build-gh.sh
Labels: compilation

#2483 Lua function for trainer status
  radio/src/audio.cpp
  radio/src/audio.h
  radio/src/lua/api_general.cpp
  radio/src/opentx.h
  radio/src/trainer.cpp
Labels: enhancement ✨, lua-api
