Repository EdgeTX/edgetx, pull requests merged in 2022-09, with the labels that each got.

#2257 More Danish translations
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#2240 Companion improve module and protocol conversion
  companion/src/firmwares/boards.h
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
Labels: bug 🪲, companion

#2259 Added characters for TRANSLATIONS_SE
  radio/src/gui/common/stdlcd/utf8.cpp
Labels: translation

#2258 feat(B&W): Lua tools list sorted alphabetically
  radio/src/gui/common/stdlcd/radio_tools.cpp
Labels: UX-UI, B&W

#2274 Fix 32 bits negative values YAML saving (#2270)
  radio/src/storage/yaml/yaml_bits.cpp
Labels: bug 🪲

#2281 Companion simulator will not start after adding new model
  companion/src/mdichild.cpp
Labels: bug 🪲, companion

#2273 Change labels order for two labels list (#2269)
  radio/src/gui/colorlcd/zone.h
  radio/src/storage/modelslist.cpp
Labels: bug 🪲, color

#2289 Companion add model with template crashes simulator
  companion/src/mdichild.cpp
Labels: companion, bug/regression ↩️

#2271 Danish special characters
  radio/src/fonts/sqt5/font_da_04x06.png
  radio/src/fonts/sqt5/font_da_05x07.png
  radio/src/fonts/sqt5/font_da_08x10.png
  radio/src/fonts/sqt5/font_da_10x14.png
  radio/src/fonts/std/font_da_04x06.png
  radio/src/fonts/std/font_da_05x07.png
  radio/src/fonts/std/font_da_08x10.png
  radio/src/fonts/std/font_da_10x14.png
  radio/src/gui/common/stdlcd/fonts.cpp
  radio/src/gui/common/stdlcd/utf8.cpp
  radio/src/translations/da.h
  radio/util/font2png.py
  tools/charset.py
Labels: B&W, translation

#2275 Allow LUA widget translations
  radio/src/gui/colorlcd/widget_settings.cpp
  radio/src/gui/colorlcd/zone.h
  radio/src/lua/lua_widget_factory.cpp
  radio/src/lua/lua_widget_factory.h
  radio/src/lua/widgets.cpp
Labels: color, translation, widget

#2113 Improve gyro/acc range and config
  radio/src/gyro.cpp
  radio/src/gyro.h
  radio/src/targets/common/arm/stm32/lsm6ds_driver.cpp
Labels: enhancement ✨

#2290 Prevent multiple audio beeps on touch
  radio/src/gui/colorlcd/LvglWrapper.cpp
Labels: bug 🪲, touch

#2221 EL18 RF USB switch
  radio/src/fonts/lvgl/lv_font_roboto_bl_16.c
  radio/src/fonts/lvgl/make_fonts.sh
  radio/src/targets/common/arm/stm32/bootloader/boot.cpp
  radio/src/targets/common/arm/stm32/bootloader/boot.h
  radio/src/targets/horus/bootloader/boot_menu.cpp
  radio/src/targets/nv14/board.cpp
  radio/src/targets/nv14/board.h
  radio/src/targets/nv14/bootloader/boot_menu.cpp
  radio/src/targets/nv14/hal.h
  radio/src/targets/taranis/bootloader/boot_menu.cpp
Labels: hardware support

#2296 Companion rename model Save to Export
  companion/src/mdichild.cpp
  companion/src/mdichild.h
Labels: enhancement ✨, companion

#2279 feat(lua): Add several Lua API funcs and constants
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/api_general.cpp
  radio/src/lua/api_model.cpp
Labels: enhancement ✨, lua-api

#2297 Companion model print add missing brackets
  companion/src/multimodelprinter.cpp
Labels: bug 🪲, companion

#2288 feat(color): Labels Pgup/Down keys move up down selected label
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_select.h
Labels: enhancement ✨, color

#2301 chore(translation): Shorten Danish phrases to fit 128x64 screens
  radio/src/translations/da.h
Labels: translation

#2314 fix(mpm): update internal module
  radio/src/dmafifo.h
  radio/src/io/multi_firmware_update.cpp
Labels: em, bug/regression ↩️

#2299 fix: Don't allow select MULTI_TRAINER if no MULTI
  radio/src/gui/gui_common.cpp
  radio/src/translations/da.h
  radio/src/translations/en.h
  radio/src/translations/fi.h
  radio/src/translations/se.h
Labels: bug 🪲, enhancement ✨

#2308 fix (color): Inability to select labels after editing them
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_setup.cpp
Labels: color, UX-UI, bug/regression ↩️

#2287 fix(color): Limit label lengths, improve lbl display, prevent inv. char
  companion/src/firmwares/modeldata.h
  companion/src/firmwares/radiodata.cpp
  companion/src/firmwares/radiodata.h
  companion/src/labels.cpp
  companion/src/labels.h
  companion/src/mdichild.cpp
  companion/src/mdichild.h
  companion/src/modelslist.cpp
  radio/src/dataconstants.h
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_select.h
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/storage/modelslist.cpp
  radio/src/storage/modelslist.h
  radio/src/storage/yaml/yaml_labelslist.cpp
  radio/src/storage/yaml/yaml_parser.h
Labels: bug 🪲, color, companion

#2318 feat(color): re-add support for rotary encoder velocity increase
  radio/src/gui/colorlcd/LvglWrapper.cpp
Labels: bug/regression ↩️

#2327 fix(color): disallow fullscreen mode for topbar widgets
  radio/src/gui/colorlcd/widget.cpp
  radio/src/gui/colorlcd/widget.h
Labels: bug 🪲, color, widget

#1853 feat: Add support for SpaceMouse mod (6D input knob)
  companion/src/constants.h
  companion/src/datamodels/compounditemmodels.cpp
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/edgetx/yaml_rawsource.cpp
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/firmwares/rawsource.cpp
  companion/src/firmwares/rawsource.h
  radio/src/cli.cpp
  radio/src/dataconstants.h
  radio/src/debug.cpp
  radio/src/debug.h
  radio/src/gui/gui_common.cpp
  radio/src/mixer.cpp
  radio/src/opentx.cpp
  radio/src/opentx.h
  radio/src/options.h
  radio/src/serial.cpp
  radio/src/spacemouse.cpp
  radio/src/spacemouse.h
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/board.h
  radio/src/telemetry/telemetry.cpp
  radio/src/tests/conversions.cpp
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/untranslated.h
Labels: enhancement ✨, hardware support

#2321 feat: Updated all Swedish Companion translations, minor changes to radio translations 🇸🇪
  companion/src/translations/companion_sv.ts
  companion/src/updates/updatecompanion.cpp
  companion/src/updates/updatefirmware.cpp
  companion/src/updates/updatemultiprotocol.cpp
  companion/src/updates/updatesdcard.cpp
  companion/src/updates/updatesounds.cpp
  companion/src/updates/updatethemes.cpp
  radio/src/translations/se.h
Labels: enhancement ✨, companion

#2330 feat: Updates to Italian translation on radio 🇮🇹
  radio/src/translations/it.h
Labels: translation

#2333 fix(color): Fix appearance of Italian shutdown warning messages 🇮🇹
  radio/src/translations/it.h
Labels: color, translation

#2325 fix(color): Improve layout of Module / RX version pop up
  radio/src/gui/colorlcd/radio_version.cpp
Labels: enhancement ✨, color

#2328 Add some translation strings + update helper
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/translation.py
  radio/src/translations/tw.h
Labels: translation

#2346 More RGB Status Led fixes
  radio/src/opentx.h
  radio/src/targets/taranis/board.cpp
  radio/src/targets/taranis/hal.h
Labels: bug 🪲, compilation

#2345 fix: More Swedish translations and typo fixes 🇸🇪
  companion/src/modeledit/mixerdialog.ui
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#2336 fix: Updates to Czech translations 🇨🇿
  radio/src/translations/cz.h
Labels: translation

#2347 fix(color): `@` displayed on radios instead of `°`
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/gui/colorlcd/model_curves.cpp
Labels: color, bug/regression ↩️

#2323 feat: Remove TR# mixsrc when trainer disabled
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/rawsource.cpp
  companion/src/modeledit/setup.cpp
  radio/src/gui/common/stdlcd/model_inputs.cpp
  radio/src/gui/gui_common.cpp
Labels: enhancement ✨

#2351 feat(GT911): Add CLI command to reset touch panel config
  radio/src/cli.cpp
  radio/src/gui/colorlcd/LvglWrapper.cpp
  radio/src/targets/horus/tp_gt911.cpp
  radio/src/targets/horus/tp_gt911.h
Labels: enhancement ✨, touch

#2324 feat(cpn): Enhancements to update component runtime options
  companion/src/apppreferencesdialog.cpp
  companion/src/apppreferencesdialog.h
  companion/src/apppreferencesdialog.ui
  companion/src/mainwindow.cpp
  companion/src/mainwindow.h
  companion/src/storage/appdata.cpp
  companion/src/storage/appdata.h
  companion/src/updates/repomodels.cpp
  companion/src/updates/repomodels.h
  companion/src/updates/updatecompanion.cpp
  companion/src/updates/updatecompanion.h
  companion/src/updates/updatefirmware.cpp
  companion/src/updates/updatefirmware.h
  companion/src/updates/updateinterface.cpp
  companion/src/updates/updateinterface.h
  companion/src/updates/updatemultiprotocol.cpp
  companion/src/updates/updatemultiprotocol.h
  companion/src/updates/updateoptionsdialog.cpp
  companion/src/updates/updateoptionsdialog.h
  companion/src/updates/updateoptionsdialog.ui
  companion/src/updates/updates.cpp
  companion/src/updates/updates.h
  companion/src/updates/updatesdcard.cpp
  companion/src/updates/updatesdcard.h
  companion/src/updates/updatesdialog.cpp
  companion/src/updates/updatesdialog.h
  companion/src/updates/updatesdialog.ui
  companion/src/updates/updatesounds.cpp
  companion/src/updates/updatesounds.h
  companion/src/updates/updatethemes.cpp
  companion/src/updates/updatethemes.h
Labels: enhancement ✨, companion

#2353 fix(lua): handle ENTER_LONG properly
  radio/src/lua/lua_widget.cpp
Labels: lua, bug/regression ↩️

#2359 feature: add support UTF-8 ° symbol for B&W radios
  radio/src/gui/128x64/lcd.cpp
  radio/src/gui/128x64/model_curve_edit.cpp
  radio/src/gui/128x64/radio_diaganas.cpp
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/212x64/lcd.cpp
  radio/src/gui/212x64/model_curve_edit.cpp
  radio/src/gui/common/stdlcd/utf8.cpp
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/untranslated.h
Labels: bug/regression ↩️

#2374 fix(color): Remove Main View - Main Zone left side offset
  radio/src/gui/colorlcd/view_main_decoration.cpp
Labels: color, bug/regression ↩️

#2366 Better encoder accel
  radio/src/gui/colorlcd/LvglWrapper.cpp
  radio/src/gui/colorlcd/color_editor.cpp
Labels: enhancement ✨, color

#2375 fix(lua): lcd.drawGauge wide gauge error
  radio/src/lua/api_colorlcd.cpp
Labels: bug 🪲, color, lua

#2371 fix(gui): fixes #2370 wrong Lua font aligntment
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/api_colorlcd.h
Labels: color, lua, bug/regression ↩️

#2360 Update de.h
  radio/src/translations/de.h
Labels: translation

#2369 fix(cpn): Calculated telemetery sensors in simulator not updating
  radio/src/tasks.cpp
Labels: bug 🪲, simulator, telemetry

#2302 feat: Support for 8s Cell Sensor such as FrSky FLVS ADV
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/firmwares/sensordata.h
  companion/src/helpers.cpp
  companion/src/helpers.h
  companion/src/simulation/telemetrysimu.cpp
  companion/src/simulation/telemetrysimu.h
  companion/src/simulation/telemetrysimu.ui
  radio/src/gui/128x64/model_telemetry_sensor.cpp
  radio/src/gui/212x64/model_telemetry_sensor.cpp
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/telemetry/telemetry.h
  radio/src/telemetry/telemetry_holders.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨, hardware support, telemetry, lua

#2316 feat(lua): Add getSourceValue
  radio/src/lua/api_general.cpp
  radio/src/lua/lua_api.h
  radio/src/mixer.cpp
  radio/src/opentx.h
Labels: documentation, enhancement ✨, lua-api

#2378 fix(cpn): Start up interface error 301
  companion/src/updates/updatecompanion.cpp
Labels: bug 🪲, companion

#2377 fix(color): Radio tools buttons fit screen better
  radio/src/gui/colorlcd/radio_tools.cpp
Labels: color, UX-UI

#2392 fix(color): Deleting empty label caused EM/Hang
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/storage/modelslist.cpp
Labels: bug 🪲, color

#2394 fix(color): focus order after layout choice
  radio/src/gui/colorlcd/screen_setup.cpp
Labels: bug 🪲, color, UX-UI

#2395 fix: default input names on model creation
  radio/src/model_init.cpp
Labels: bug/regression ↩️

#2402 fix(gui): vertical tab title alignment on color lcd radios fixed
  radio/src/gui/colorlcd/themes/480_default.cpp
  radio/src/gui/colorlcd/themes/flysky.cpp
Labels: color, UX-UI

#2382 New Swedish translations
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#2401 fix(color): Trainer stick labels not correct
  radio/src/gui/colorlcd/radio_trainer.cpp
Labels: bug 🪲, color

#2380 feat: Few more German translations 🇩🇪
  radio/src/translations/de.h
Labels: translation

#2421 Model print pot warnings
  companion/src/modelprinter.cpp
Labels: companion, bug/regression ↩️

#2390 Restore "go to channel monitor" Button
  radio/src/gui/colorlcd/menu_model.cpp
  radio/src/gui/colorlcd/menu_model.h
Labels: color, UX-UI, bug/regression ↩️

#2422 Add extra line in telemetry screen for vertical LCD.
  radio/src/gui/colorlcd/model_telemetry.cpp
Labels: bug 🪲

#2426 Model print remove B&W eeprom size
  companion/src/multimodelprinter.cpp
Labels: bug 🪲, companion

#2423 Fix Copy/Move/Paste mixer line
  radio/src/gui/colorlcd/model_mixes.cpp
Labels: color, bug/regression ↩️
