Repository EdgeTX/edgetx, pull requests merged in 2022-07, with the labels that each got.

#2101 Changes to add danish translations - companion and radio :denmark:
  companion/src/CMakeLists.txt
  companion/src/firmwares/opentx/opentxinterface.h
  companion/src/generaledit/generalsetup.cpp
  companion/src/translations.cpp
  companion/src/translations/companion_da.ts
  radio/src/CMakeLists.txt
  radio/src/gui/common/stdlcd/fonts.cpp
  radio/src/translations.h
  radio/src/translations/da.h
  radio/src/translations/tts_da.cpp
Labels: translation

#2109 Fix references to "USB Serial(Debug)" and use correct header text
  radio/src/translations/cz.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
Labels: bug 🪲, translation

#2095 Updated Swedish translations for Companion and radio :sweden:
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#2070 view text functionality restored
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/gui/colorlcd/view_text.cpp
  radio/src/gui/colorlcd/view_text.h
Labels: color, bug/regression ↩️

#1955 Issue 1936 - Trim audio at max/min trim (Alternate)
  radio/src/opentx.cpp
Labels: enhancement ✨

#1891 Long timer announce minutes only (#1869)
  radio/src/audio.h
  radio/src/functions.cpp
  radio/src/translations/tts_cn.cpp
  radio/src/translations/tts_cz.cpp
  radio/src/translations/tts_de.cpp
  radio/src/translations/tts_en.cpp
  radio/src/translations/tts_es.cpp
  radio/src/translations/tts_fr.cpp
  radio/src/translations/tts_hu.cpp
  radio/src/translations/tts_it.cpp
  radio/src/translations/tts_nl.cpp
  radio/src/translations/tts_pl.cpp
  radio/src/translations/tts_pt.cpp
  radio/src/translations/tts_ru.cpp
  radio/src/translations/tts_se.cpp
  radio/src/translations/tts_sk.cpp
Labels: enhancement ✨

#2127 TX16S LCD max clock 12 MHz
  radio/src/targets/horus/lcd_driver.cpp
Labels: partner

#2125 Added GPS simulator to Companion simulator. Saved telemetry data extension changed from .txt to .tlm.
  companion/src/simulation/telemetrysimu.cpp
  companion/src/simulation/telemetrysimu.h
  companion/src/simulation/telemetrysimu.ui
Labels: enhancement ✨, companion

#2019 Companion fix yaml handling of ACCESS receiver names
  companion/src/firmwares/edgetx/yaml_moduledata.cpp
Labels: bug 🪲, companion

#2133 chore(yaml): PR#2064 didn't regenerate files
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
Labels: compilation

#2134 Changes as to PR 2109
  radio/src/translations/da.h
  radio/src/translations/tts_da.cpp
Labels: translation

#2144 fix[text]: fixes #1772, we now have enough space to write "SetFailsafe"
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/fi.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
Labels: UX-UI

#1994 Added OneBit option also to color radios
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/generaledit/hardware.cpp
  radio/src/gui/colorlcd/CMakeLists.txt
  radio/src/gui/colorlcd/hw_extmodule.cpp
  radio/src/gui/colorlcd/hw_extmodule.h
  radio/src/gui/colorlcd/radio_hardware.cpp
  radio/src/targets/horus/telemetry_driver.cpp
Labels: enhancement ✨, color

#2149 Remove CFGV as no longer needed
  radio/src/fw_version.h
  radio/src/gui/colorlcd/radio_version.cpp
  radio/src/stamp.cpp
Labels: UX-UI, bug/regression ↩️

#2151 Added CN and TW translations for new content
  radio/src/fonts/lvgl/lv_font_noto_cn_13.c
  radio/src/fonts/lvgl/lv_font_noto_cn_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_17.c
  radio/src/fonts/lvgl/lv_font_noto_cn_24.c
  radio/src/fonts/lvgl/lv_font_noto_cn_9.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_17.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_32.c
  radio/src/fonts/lvgl/lv_font_noto_tw_13.c
  radio/src/fonts/lvgl/lv_font_noto_tw_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_17.c
  radio/src/fonts/lvgl/lv_font_noto_tw_24.c
  radio/src/fonts/lvgl/lv_font_noto_tw_9.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_17.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_32.c
  radio/src/fonts/lvgl/make_fonts.sh
  radio/src/translations/cn.h
  radio/src/translations/tw.h
Labels: translation

#2155 Solve ZORRO and TX12MK2 display cluttered stripes on the screen after…
  radio/src/targets/taranis/board.cpp
Labels: B&W

#2170 fix: type cast for failsafe channel update
  radio/src/gui/colorlcd/custom_failsafe.cpp
Labels: color, bug/regression ↩️

#2060 Jumper T16 TouchScreen mod (using RadioMaster TX16S touch panel add-on)
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/hal.h
Labels: enhancement ✨, hardware support, touch
