Repository EdgeTX/edgetx, pull requests merged in 2022-06, with the labels that each got.

#1977 Companion read/write semver in model and radio yml files
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/firmwares/modeldata.h
Labels: companion

#1970 Stop Companion crashing due to malformed theme.yml files
  companion/src/modeledit/colorcustomscreens.cpp
Labels: bug, companion

#2001 Companion - Log Viewer - Reorder colors for better reading
  companion/src/logsdialog.cpp
Labels: enhancement ✨, companion

#1959 Companion open individual model settings yml files
  companion/src/mdichild.cpp
  companion/src/storage/yaml.cpp
  companion/src/storage/yaml.h
Labels: enhancement ✨, companion

#1981 Fix pot and slider warnings in Companion and radios
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/modeledit/setup.cpp
  companion/src/modeledit/setup.ui
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/storage/storage_common.cpp
  radio/src/switches.cpp
Labels: bug 🪲, color, B&W, companion, rn: warning

#1976 Companion option to insert if pasting onto existing model
  companion/src/mdichild.cpp
Labels: enhancement ✨, companion

#1968 Companion save individual models
  companion/src/mdichild.cpp
  companion/src/mdichild.h
  companion/src/storage/storage.cpp
  companion/src/storage/storage.h
  companion/src/storage/yaml.cpp
  companion/src/storage/yaml.h
Labels: enhancement ✨, companion

#2010 Companion bump miniz to release 2.2.0
  companion/src/CMakeLists.txt
  companion/src/storage/CMakeLists.txt
  companion/src/storage/categorized.h
  companion/src/storage/etx.h
  companion/src/storage/otx.h
  companion/src/thirdparty/miniz/CMakeLists.txt
  companion/src/thirdparty/miniz/ChangeLog.md
  companion/src/thirdparty/miniz/LICENSE
  companion/src/thirdparty/miniz/examples/example1.c
  companion/src/thirdparty/miniz/examples/example2.c
  companion/src/thirdparty/miniz/examples/example3.c
  companion/src/thirdparty/miniz/examples/example4.c
  companion/src/thirdparty/miniz/examples/example5.c
  companion/src/thirdparty/miniz/examples/example6.c
  companion/src/thirdparty/miniz/miniz.c
  companion/src/thirdparty/miniz/miniz.h
  companion/src/thirdparty/miniz/readme.md
Labels: companion

#1954 Save and reload telemetry values in companion telemetry simulator
  companion/src/simulation/telemetrysimu.cpp
  companion/src/simulation/telemetrysimu.h
  companion/src/simulation/telemetrysimu.ui
Labels: enhancement ✨, companion
