Repository EdgeTX/edgetx, pull requests merged in 2022-12, with the labels that each got.

#2748 fix a bunch of warnings
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/212x64/radio_setup.cpp
  radio/src/gui/colorlcd/LvglWrapper.cpp
  radio/src/gui/colorlcd/access_settings.cpp
  radio/src/gui/colorlcd/input_mix_group.cpp
  radio/src/gui/colorlcd/input_source.cpp
  radio/src/gui/colorlcd/layouts/sliders.cpp
  radio/src/gui/colorlcd/lcd.cpp
  radio/src/gui/colorlcd/model_inputs.cpp
  radio/src/gui/colorlcd/model_mixes.cpp
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/gui/colorlcd/preview_window.h
  radio/src/gui/colorlcd/splash.cpp
  radio/src/gui/common/stdlcd/radio_sdmanager.cpp
  radio/src/gui/common/stdlcd/radio_version.cpp
  radio/src/gui/common/stdlcd/utf8.cpp
  radio/src/gui/gui_common.cpp
  radio/src/gui/screenshot.cpp
  radio/src/lua/api_general.cpp
  radio/src/simu.cpp
  radio/src/targets/common/arm/stm32/intmodule_serial_driver.cpp
  radio/src/targets/nv14/bootloader/boot_menu.cpp
  radio/src/targets/simu/simulcd.cpp
Labels: compilation

#2800 Check FM Trims translateable for color radios
  radio/src/gui/colorlcd/model_flightmodes.cpp
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#2752 chore(cpn): remove some compiler warnings
  companion/src/firmwares/edgetx/yaml_rawsource.cpp
  companion/src/firmwares/radiodata.cpp
  companion/src/mdichild.cpp
Labels: companion, compilation

#2580 feat(color): Display current stick position on CurveEdit screen
  radio/src/gui/colorlcd/curveedit.cpp
  radio/src/gui/colorlcd/curveedit.h
  radio/src/gui/colorlcd/input_edit.cpp
  radio/src/gui/colorlcd/mixer_edit.cpp
  radio/src/gui/colorlcd/model_curves.cpp
Labels: enhancement ✨, color

#2745 chore(ui): update special function edit screen to LVGL
  radio/src/gui/colorlcd/special_functions.cpp
Labels: color

#2823 cpn(fix): release list order use version when available otherwise use date
  companion/src/helpers.cpp
  companion/src/helpers.h
  companion/src/updates/repomodels.cpp
  companion/src/updates/repomodels.h
  companion/src/updates/updateinterface.cpp
  companion/src/updates/updateinterface.h
Labels: bug 🪲, companion

#2826 Audio mute: remove obsolete functions
  radio/src/targets/taranis/board.cpp
Labels: compilation

#2687 fix(cpn): ACCESS owner registration id validation (#2672)
  companion/src/generaledit/generalsetup.cpp
  companion/src/generaledit/generalsetup.ui
Labels: bug 🪲, companion

#2835 fix(color): Fix top bar timer widget names sometimes having garbage characters
  radio/src/gui/colorlcd/widgets/timer.cpp
Labels: bug 🪲, color

#2831 fix(sim): Consistent steps for 6POS
  companion/src/simulation/widgets/radioknobwidget.h
  companion/src/simulation/widgets/radiowidget.cpp
Labels: bug 🪲, simulator

#2830 fix(cpn): MacOS not saving unless `.etx` in filename
  companion/src/mdichild.cpp
Labels: bug 🪲, companion

#2839 feat(cpn): Force light mode UI on MacOS for legibility
  companion/targets/mac/MacOSXBundleInfo.plist.in
Labels: UX-UI, companion, simulator

#2840 feat(sim): Forced style for POT/6POS knobs on MacOS for legibility
  companion/src/simulation/widgets/radioknobwidget.h
Labels: UX-UI, simulator

#2834 cpn(fix): Set default voice language to en
  companion/src/firmwares/generalsettings.cpp
Labels: bug 🪲, companion

#2841 fix(cz): Add Latin1 Extended-A (0x100-0x17F)
  radio/src/fonts/lvgl/lv_font_roboto_13.c
  radio/src/fonts/lvgl/lv_font_roboto_16.c
  radio/src/fonts/lvgl/lv_font_roboto_17.c
  radio/src/fonts/lvgl/lv_font_roboto_24.c
  radio/src/fonts/lvgl/lv_font_roboto_9.c
  radio/src/fonts/lvgl/lv_font_roboto_bold_16.c
  radio/src/fonts/lvgl/lv_font_roboto_bold_17.c
  radio/src/fonts/lvgl/lv_font_roboto_bold_32.c
  radio/src/fonts/lvgl/make_fonts.sh
Labels: bug 🪲, color

#2620 chore(cmake): CMake cleanup and simplifications
  cmake/Macros.cmake
  radio/src/CMakeLists.txt
  radio/src/model_init.cpp
  radio/src/rtos.h
  radio/src/serial.cpp
  radio/src/storage/rtc_backup.cpp
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/targets/simu/CMakeLists.txt
  radio/src/targets/simu/simudisk.cpp
  radio/src/targets/simu/simueeprom.cpp
  radio/src/tasks.cpp
  radio/src/tests/CMakeLists.txt
  radio/src/tests/gtests.cpp
Labels: compilation

#2846 fix(simu): do not use "update" mode for opening read-only files
  radio/src/targets/simu/simufatfs.cpp
Labels: simulator

#2860 fix(sim): Fix for 2POS switch logic affected by 6POS switch change.
  companion/src/simulation/widgets/radioknobwidget.h
  companion/src/simulation/widgets/radioswitchwidget.h
  companion/src/simulation/widgets/radiowidget.cpp
Labels: simulator, bug/regression ↩️

#2845 fix(color): EM triggered when checking if modelID unique in certain instances
  radio/src/storage/modelslist.cpp
Labels: bug/regression ↩️

#2851 Fix for issue 2703 - mixer layout on color lcd screens
  radio/src/gui/colorlcd/input_mix_button.cpp
  radio/src/gui/colorlcd/input_mix_group.cpp
Labels: color, UX-UI, bug/regression ↩️

#2867 fix(ui): don't trigger an rtc write just because the second was updat…
  radio/src/gui/colorlcd/radio_setup.cpp
Labels: bug 🪲, color, UX-UI

#2864 Minor changes to remove compiler warnings when building companion and libsimulator.
  companion/src/shared/curvedialog.cpp
  companion/src/simulation/simulateduiwidgetX9D2019.cpp
  companion/src/simulation/simulateduiwidgetX9LITE.cpp
  companion/src/storage/yaml.h
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/theme_manager.cpp
  radio/src/storage/modelslist.h
  radio/src/strhelpers.cpp
  radio/src/telemetry/frsky_pxx2.cpp
  radio/src/telemetry/multi.cpp
Labels: compilation

#2738 Changes after using QtLinguist (Danish)
  companion/src/multimodelprinter.cpp
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
  radio/src/translations/untranslated.h
Labels: translation

#2876 Radiomaster Boxer support
  .github/workflows/actions.yml
  radio/src/dataconstants.h
  radio/src/datastructs.h
  radio/src/gui/128x64/radio_calibration.cpp
  radio/src/gui/128x64/view_main.cpp
  radio/src/gui/common/stdlcd/radio_hardware.cpp
  radio/src/hal/adc_driver.cpp
  radio/src/lua/CMakeLists.txt
  radio/src/lua/api_general.cpp
  radio/src/simu.cpp
  radio/src/storage/conversions/CMakeLists.txt
  radio/src/storage/yaml/CMakeLists.txt
  radio/src/storage/yaml/yaml_datastructs.cpp
  radio/src/storage/yaml/yaml_datastructs_boxer.cpp
  radio/src/strhelpers.cpp
  radio/src/switches.cpp
  radio/src/targets/common/arm/stm32/rotary_encoder_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_hal_adc.cpp
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/board.cpp
  radio/src/targets/taranis/board.h
  radio/src/targets/taranis/hal.h
  radio/src/targets/taranis/keys_driver.cpp
  radio/src/targets/taranis/lcd_driver_spi.cpp
  radio/src/translations/untranslated.h
  radio/util/fwoptions.py
  tools/build-gh.sh
  tools/build-radiomaster.py
  tools/generate-yaml.sh
Labels: hardware support

#2886 fix(ui): check if there is an object to access before accessing it
  radio/src/gui/colorlcd/view_main.cpp
Labels: bug 🪲, color, em

#2884 Changes to date/time setting on color LCD radios.
  radio/src/gui/colorlcd/radio_setup.cpp
Labels: color, UX-UI

#2870 Add a natural sort order for SD card file browser on color LCD radios.
  radio/src/gui/colorlcd/file_browser.cpp
Labels: enhancement ✨, color, UX-UI

#2896 fix(ui) - increase the maximum menu height to better fit some menus (color LCD landscape layout)
  radio/src/targets/horus/libopenui_config.h
Labels: color, UX-UI

#2903 feat(ui) - Change dialog background color to make buttons more visible.
  radio/src/gui/colorlcd/color_picker.cpp
  radio/src/gui/colorlcd/confirm_dialog.cpp
Labels: color, UX-UI

#2891 fix(cpn): Fix the size of the YamlStickConfig struct in companion.
  companion/src/firmwares/edgetx/yaml_switchconfig.h
Labels: bug 🪲, companion

#2908 fix(ui) - UI is not updated when using the 'Add trims to subtrims' button on the Outputs page.
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: bug 🪲, color, UX-UI

#2874 fix(cpn): Ignore 'Quit' event in main window on MacOS simulator running
  companion/src/helpers.cpp
  companion/src/helpers.h
  companion/src/mainwindow.cpp
Labels: bug 🪲, companion

#2911 fix(color) - Fix file handle leak in theme manager.
  radio/src/gui/colorlcd/theme_manager.cpp
Labels: bug 🪲, color

#2907 More translated
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#2894 Fix source selection for curve display
  radio/src/gui/colorlcd/curveedit.cpp
Labels: bug 🪲, color

#2909 feat(ui): Revised color picker
  radio/src/gui/colorlcd/color_editor.cpp
  radio/src/gui/colorlcd/color_editor.h
  radio/src/gui/colorlcd/color_picker.cpp
Labels: enhancement ✨, color, UX-UI

#2922 fix(color): Display of model notes when selecting model
  radio/src/gui/colorlcd/model_select.cpp
Labels: color, UX-UI, bug/regression ↩️

#2926 fix(color): Ouputs tab wrong value used for min/max highlighting
  radio/src/gui/colorlcd/output_edit.cpp
  radio/src/gui/colorlcd/output_edit.h
Labels: bug 🪲, color, UX-UI

#2893 fix(color): Center flight mode text and 6Pos numbers
  radio/src/gui/colorlcd/layouts/sliders.cpp
  radio/src/gui/colorlcd/layouts/sliders.h
  radio/src/gui/colorlcd/view_main_decoration.cpp
Labels: color, UX-UI

#2895 feat(color): Quick Model Select, keep active model in view when changing labels
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/generaledit/generalsetup.cpp
  companion/src/generaledit/generalsetup.h
  companion/src/generaledit/generalsetup.ui
  radio/src/datastructs_private.h
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_select.h
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
Labels: enhancement ✨, color, UX-UI

#2928 fix(ui) - Fix flight mode color on startup, or when theme is edited or active theme is changed.
  radio/src/gui/colorlcd/layouts/layout_factory_impl.cpp
  radio/src/gui/colorlcd/layouts/layout_factory_impl.h
  radio/src/gui/colorlcd/theme_manager.cpp
  radio/src/gui/colorlcd/view_main.cpp
  radio/src/gui/colorlcd/view_main.h
  radio/src/gui/colorlcd/view_main_decoration.cpp
  radio/src/gui/colorlcd/view_main_decoration.h
  radio/src/gui/colorlcd/widgets/widgets_container_impl.h
  radio/src/gui/colorlcd/widgets_container.h
Labels: bug 🪲, color, UX-UI

#2925 fix(ui) - Ignore hidden file when iterating SD card contents.
  radio/src/gui/colorlcd/file_browser.cpp
  radio/src/gui/colorlcd/model_templates.cpp
  radio/src/gui/colorlcd/radio_tools.cpp
  radio/src/gui/common/stdlcd/radio_sdmanager.cpp
  radio/src/gui/common/stdlcd/radio_tools.cpp
  radio/src/sdcard.cpp
Labels: enhancement ✨, UX-UI

#2866 chore: convert RTC to HAL
  radio/src/targets/common/arm/stm32/board_common.h
  radio/src/targets/common/arm/stm32/f2/CMakeLists.txt
  radio/src/targets/common/arm/stm32/f4/CMakeLists.txt
  radio/src/targets/common/arm/stm32/rtc_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_hal.h
  radio/src/targets/common/arm/stm32/stm32f2xx_hal_conf.h
  radio/src/targets/common/arm/stm32/stm32f4xx_hal_conf.h
  radio/src/targets/simu/simpgmspace.cpp
Labels: compilation

#2940 fix(translation): Add SpaceMouse/External Module and other minor translation catchups
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#2916 fix(color): Clear Lua lcd buffer and display 'Loading...'
  radio/src/gui/colorlcd/standalone_lua.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
Labels: bug 🪲, color

#2877 feat: Add Radiomaster Boxer
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/actions.yml
  .github/workflows/nightly.yml
  radio/src/dataconstants.h
  radio/src/datastructs.h
  radio/src/gui/128x64/radio_calibration.cpp
  radio/src/gui/128x64/view_main.cpp
  radio/src/gui/common/stdlcd/radio_hardware.cpp
  radio/src/hal/adc_driver.cpp
  radio/src/lua/CMakeLists.txt
  radio/src/lua/api_general.cpp
  radio/src/simu.cpp
  radio/src/storage/yaml/CMakeLists.txt
  radio/src/storage/yaml/yaml_datastructs.cpp
  radio/src/storage/yaml/yaml_datastructs_boxer.cpp
  radio/src/strhelpers.cpp
  radio/src/switches.cpp
  radio/src/targets/common/arm/stm32/stm32_hal_adc.cpp
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/board.cpp
  radio/src/targets/taranis/board.h
  radio/src/targets/taranis/hal.h
  radio/src/targets/taranis/keys_driver.cpp
  radio/src/targets/taranis/lcd_driver_spi.cpp
  radio/src/translations/untranslated.h
  radio/util/fwoptions.py
  tools/build-gh.sh
  tools/build-radiomaster.py
  tools/generate-yaml.sh
Labels: hardware support
