Repository EdgeTX/edgetx, pull requests merged in 2022-03, with the labels that each got.

#1651 fixed cosmetic in flight modes
  radio/src/gui/128x64/model_flightmodes.cpp
Labels: bug

#1657 handle events on the outputs screen (#1652)
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: bug, color

#1648 fix: Make decision to show int MPM spectrum analyser entry settings dependent
  radio/src/gui/colorlcd/radio_tools.cpp
  radio/src/gui/common/stdlcd/radio_tools.cpp
Labels: bug

#1595 Updates to CRSF parsing script
  radio/util/crossfire-parse.py
Labels: utils

#1533 On CRSF CRC error, search for second packet embedded in the failed one
  radio/src/telemetry/crossfire.cpp
Labels: enhancement

#1485 Vertical speed sensor for NV14
  radio/src/telemetry/flysky_nv14.cpp
Labels: enhancement, telemetry

#1669 add "Assign bitmap" to image file menu (#1668)
  radio/src/gui/colorlcd/radio_sdmanager.cpp
Labels: enhancement, color

#1570 Companion fix otx and etx read and write for max telemetry baudrate
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/firmwares/opentx/opentxeeprom.cpp
Labels: bug, companion

#1575 Companion set critical radio general settings to profile defaults if mismatched boards
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/generalsettings.h
Labels: bug, companion

#1569 Model templates for color radios
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/sdcard.h
  radio/src/storage/sdcard_common.cpp
  radio/src/storage/sdcard_common.h
  radio/src/storage/sdcard_yaml.cpp
  radio/src/storage/sdcard_yaml.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h.txt
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
  radio/src/translations/tw.h.txt
Labels: enhancement, color

#1667 Do not enable DMA1_Stream2 IRQ for FlySky Hall Sticks
  radio/src/targets/horus/flyskyHallStick_driver.cpp
Labels: bug, color

#1675 Touch and Narrow LCD template tweaks
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h.txt
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
  radio/src/translations/tw.h.txt
Labels: enhancement, color

#1664 Add channel bar to Output Edit Screen
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: enhancement, color

#1682 Port of OpenTX Tpro charge led indicator
  radio/src/targets/taranis/board.cpp
Labels: enhancement

#1676 proposal: Pressing power button should reset backlight timeout
  radio/src/opentx.cpp
Labels: enhancement, color

#1684 fix: colorlcd "Global" bg image not being loaded at theme change
  radio/src/gui/colorlcd/theme_manager.cpp
Labels: bug, color

#1702 fix: Ext mod XJT opts on 128x64 B&W altering int mod settings
  radio/src/gui/128x64/model_setup.cpp
Labels: bug, B&W

#1617 Hott integration
  radio/src/lua/api_general.cpp
  radio/src/telemetry/hott.cpp
  radio/src/translations/untranslated.h
Labels: telemetry

#1678 read CPU_UID
  radio/src/opentx.cpp
Labels: bug

#1685 fix: Trainer Slave not recognized in Master for ACCESS radios
  radio/src/targets/taranis/board.h
  radio/src/targets/taranis/hal.h
Labels: bug, hardware support

#1709 Update model image after reading template
  radio/src/gui/colorlcd/model_select.cpp
Labels: color, UX-UI

#1610 Short press to SYS/MODEL on BW screens, long for ModelSelect on colorlcd
  radio/src/gui/128x64/view_main.cpp
  radio/src/gui/colorlcd/view_main.cpp
Labels: enhancement

#1708 Companion fix reading of Act and Telemetry switches
  companion/src/firmwares/edgetx/yaml_rawswitch.cpp
Labels: bug, companion

#1694 TPro - Port of OpenTX function switches management
  companion/src/datamodels/compounditemmodels.cpp
  companion/src/datamodels/compounditemmodels.h
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/edgetx/yaml_rawsource.cpp
  companion/src/firmwares/edgetx/yaml_rawswitch.cpp
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/modeldata.h
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/firmwares/rawsource.cpp
  companion/src/firmwares/rawsource.h
  companion/src/firmwares/rawswitch.cpp
  companion/src/firmwares/rawswitch.h
  companion/src/helpers.cpp
  companion/src/helpers.h
  companion/src/modeledit/setup.cpp
  companion/src/modeledit/setup.h
  companion/src/modelprinter.cpp
  companion/src/multimodelprinter.cpp
Labels: companion

#1712 implement canonial terminal back delete
  radio/src/cli.cpp
Labels: bug, enhancement

#1705 Misc B&W fixes + MPM protocol list updates
  companion/src/firmwares/moduledata.h
  companion/src/firmwares/multiprotocols.cpp
  radio/src/gui/gui_common.cpp
  radio/src/io/multi_protolist.cpp
  radio/src/myeeprom.h
  radio/src/pulses/modules_constants.h
  radio/src/targets/taranis/lcd_driver_spi.cpp
  radio/src/translations/untranslated.h
Labels: color, B&W, companion

#1719 Companion update MPM list and MT99 sub-types
  companion/src/firmwares/multiprotocols.cpp
Labels: bug, companion

#1721 added X9E target
  .github/workflows/actions.yml
  fw.json
  tools/build-frsky.py
  tools/build-gh.sh
Labels: compilation

#1690 feat: Option for inverting rotary encoder direction
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/generalsettings.h
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/generaledit/generalsetup.cpp
  companion/src/generaledit/generalsetup.h
  companion/src/generaledit/generalsetup.ui
  radio/src/datastructs_private.h
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/212x64/radio_setup.cpp
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/opentx.h
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
  radio/src/targets/common/arm/stm32/rotary_encoder_driver.cpp
  radio/src/targets/simu/opentxsimulator.cpp
  radio/src/targets/taranis/board.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h.txt
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
  radio/src/translations/tw.h.txt
Labels: enhancement, color, UX-UI, B&W, companion

#1720 Changed getSwitch* to get "One" and "ON" switch positions
  radio/src/lua/api_general.cpp
Labels: lua-api

#1724 Let's do some dirty hack with MPM RX
  radio/src/pulses/multi.cpp
  radio/src/pulses/pulses.cpp
  radio/src/pulses/pulses.h
  radio/src/telemetry/multi.cpp
  radio/src/telemetry/multi.h
  radio/src/telemetry/telemetry.h
Labels: enhancement

#1737 About screen cosmetics / translation
  radio/src/gui/128x64/view_about.cpp
  radio/src/translations/de.h.txt
Labels: UX-UI, B&W

#1743 Fix YAML write issue with mix offset
  radio/src/storage/conversions/yaml/yaml_datastructs_funcs.cpp
Labels: needs-testing

#1758 Fix Lemon-rx dsmp type yaml
  companion/src/firmwares/edgetx/yaml_moduledata.cpp
Labels: bug, companion

#1748 Jump to channel monitor from any model page.
  radio/src/gui/colorlcd/menu_model.cpp
  radio/src/gui/colorlcd/menu_model.h
  radio/src/gui/colorlcd/model_outputs.cpp
  radio/src/gui/colorlcd/tabsgroup.cpp
  radio/src/gui/colorlcd/tabsgroup.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h.txt
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
  radio/src/translations/tw.h.txt
Labels: color, UX-UI

#1761 Show internal RF module info instead of "No information"
  radio/src/gui/colorlcd/radio_version.cpp
Labels: bug, color

#1763 Companion improve themes exceptions handling
  companion/src/modeledit/colorcustomscreens.cpp
Labels: bug, companion

#1746 Fancy FS led startup sequence
  radio/src/gui/128x64/startup_shutdown.cpp
  radio/src/switches.cpp
Labels: enhancement

#1755 `LUA=N` compile fixes and radio hardware tab bottom padding (for touch)
  radio/src/cli.cpp
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/radio_hardware.cpp
Labels: UX-UI, compilation, touch
