Repository EdgeTX/edgetx, pull requests merged in 2022-05, with the labels that each got.

#1915 feat(T16,T18): Add support for USART6/AUX2, incl. internal GPS, if Bluetooth is not enabled
  radio/src/targets/horus/CMakeLists.txt
Labels: enhancement, color, hardware support

#1925 Fix crash in category Clear (#1897)
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/storage/modelslist.cpp
Labels: bug, color, em

#1932 Companion B&W radios clean up sd card MODELS folder before writing updated models to sd card
  companion/src/storage/categorized.cpp
  companion/src/storage/categorized.h
  companion/src/storage/etx.h
  companion/src/storage/otx.h
  companion/src/storage/sdcard.cpp
  companion/src/storage/sdcard.h
Labels: bug, companion

#1923 Companion fix model edit curves tab plot points formatting
  companion/src/modeledit/curves.cpp
Labels: bug, companion

#1906 Set the same highest brown-out threshold level for all T16 family radios
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/board.cpp
Labels: enhancement, color

#1819 Crossfire: add barometer altitude sensor
  radio/src/telemetry/crossfire.cpp
  radio/src/telemetry/crossfire.h
Labels: enhancement, telemetry

#1944 fix: flashing ELRS modules would use the wrong port driver
  radio/src/io/multi_firmware_update.cpp
Labels: bug

#1945 fix: stack buffer overflow in PreviewWindow::drawTime
  radio/src/gui/colorlcd/preview_window.h
Labels: bug

#1940 move input name together with input string
  radio/src/gui/colorlcd/model_inputs.cpp
Labels: enhancement, color

#1913 Companion-build-updates
  .github/workflows/linux_cpn.yml
  .github/workflows/macosx_cpn.yml
  .github/workflows/win-cpn-32.yml
  .github/workflows/win_cpn-64.yml
  companion/src/constants.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/mainwindow.cpp
  companion/src/version.h.in
  radio/src/gui/128x64/view_about.cpp
  radio/src/gui/212x64/view_about.cpp
  radio/src/gui/colorlcd/view_about.cpp
  radio/src/stamp.cpp
  tools/build-companion-nightly-win32.sh
  tools/build-companion-release.sh
  tools/build-companion.sh
  tools/build-gh.sh
Labels: enhancement, UX-UI

#1880 R9M Flex power option menu for colorlcd
  radio/src/gui/colorlcd/model_setup.cpp
Labels: bug

#1957 USB-VCP no OFF if internal RF module is set to CRSF
  companion/src/generaledit/hardware.cpp
  companion/src/generaledit/hardware.h
  radio/src/gui/colorlcd/radio_hardware.cpp
  radio/src/gui/common/stdlcd/radio_hardware.cpp
  radio/src/gui/gui_common.cpp
  radio/src/storage/storage_common.cpp
Labels: enhancement, color, B&W
