Repository EdgeTX/edgetx, pull requests merged in 2022-08, with the labels that each got.

#2178 Companion fix timer switch list
  companion/src/modeledit/setup.cpp
Labels: bug 🪲, companion

#2176 Bump macOS runner version to mac-11
  .github/workflows/macosx_cpn.yml
Labels: companion, compilation

#2173 handle text fields in log
  radio/src/logs.cpp
Labels: bug 🪲

#2038 Select timer count direction (#1926)
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/timerdata.cpp
  companion/src/firmwares/timerdata.h
  companion/src/modeledit/setup.cpp
  companion/src/modeledit/setup.h
  companion/src/modeledit/setup_timer.ui
  companion/src/multimodelprinter.cpp
  radio/src/datastructs.h
  radio/src/datastructs_private.h
  radio/src/gui/128x64/lcd.cpp
  radio/src/gui/128x64/model_outputs.cpp
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/212x64/view_main.cpp
  radio/src/gui/colorlcd/timer_setup.cpp
  radio/src/gui/colorlcd/widgets/timer.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12mk2.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
  radio/src/timers.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨

#2180 fixes #2179 (partially corrupt log header)
  radio/src/logs.cpp
Labels: bug/regression ↩️

#2045 Rotary encoder additional invert options for B&W screens (replacement)
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/generaledit/generalsetup.cpp
  companion/src/generaledit/generalsetup.h
  companion/src/generaledit/generalsetup.ui
  radio/src/datastructs_private.h
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/212x64/radio_setup.cpp
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/gui/common/stdlcd/popups.cpp
  radio/src/gui/navigation/navigation_9x.cpp
  radio/src/gui/navigation/navigation_x7.cpp
  radio/src/gui/navigation/navigation_x9d.cpp
  radio/src/lua/api_general.cpp
  radio/src/opentx.cpp
  radio/src/opentx.h
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12mk2.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
  radio/src/targets/common/arm/stm32/rotary_encoder_driver.cpp
  radio/src/targets/simu/opentxsimulator.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨, color, UX-UI, B&W

#2186 Fix ISRM/ACCST translation alignment
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/module_setup.cpp
  radio/src/translations/untranslated.h
Labels: translation, compilation

#2193 This adds acoustic and/or haptic feedback for touch events
  radio/src/gui/colorlcd/LvglWrapper.cpp
Labels: enhancement ✨, UX-UI, touch

#2167 fix: Drop the path from nightly release zips
  .github/workflows/nightly.yml
Labels: ci/cd

#2210 Prevent TF lock
  radio/src/targets/common/arm/stm32/sdio_sd.c
Labels: bug 🪲, hardware support

#2216 More translated to Danish
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#2222 Swedish translations - major update
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#2227 fix(cpn): revert macOS runner to Python 3.9
  .github/workflows/macosx_cpn.yml
Labels: ci/cd

#2228 chore: make `NOHELI` the default
  radio/src/CMakeLists.txt
Labels: compilation

#2225 Companion translate da
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#2223 Fix full path to model notes for CP Simulator (fix #1378)
  radio/src/gui/colorlcd/view_text.cpp
  radio/src/gui/colorlcd/view_text.h
Labels: bug 🪲, color, simulator

#2224 Write model name into models.yml when duplicating a model (#2214)
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/storage/modelslist.cpp
  radio/src/storage/modelslist.h
  radio/src/storage/sdcard_yaml.cpp
Labels: bug 🪲, color

#2208 Allow CPP Widgets Override with LUA
  radio/src/gui/colorlcd/widget.cpp
  radio/src/gui/colorlcd/widget.h
Labels: color, widget

#1481 reduce risk of corrupt radio.yml #1412
  companion/src/firmwares/edgetx/edgetxinterface.cpp
  companion/src/storage/CMakeLists.txt
  companion/src/storage/crc.cpp
  companion/src/storage/crc.h
  radio/src/datastructs.h
  radio/src/datastructs_private.h
  radio/src/gui/colorlcd/menu_radio.cpp
  radio/src/gui/colorlcd/menu_radio.h
  radio/src/sdcard.h
  radio/src/storage/conversions/conversions_220_221.cpp
  radio/src/storage/sdcard_common.h
  radio/src/storage/sdcard_yaml.cpp
  radio/src/storage/sdcard_yaml.h
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12mk2.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
  radio/src/targets/simu/simufatfs.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨, color, B&W

#2253 Optionally support CRSF_VARIO in BARO_ALT telemetry
  radio/src/telemetry/crossfire.cpp
Labels: telemetry
