Repository EdgeTX/edgetx, pull requests merged in 2022-10, with the labels that each got.

#2397 fix(color): Move mdls not in models.yml to `/Models/Unused`
  radio/src/sdcard.cpp
  radio/src/sdcard.h
  radio/src/storage/modelslist.cpp
  radio/src/storage/yaml/CMakeLists.txt
  radio/src/storage/yaml/yaml_modelslist.cpp
  radio/src/storage/yaml/yaml_modelslist.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
Labels: bug 🪲, color

#2430 fix(color) - Change extension on models.yml to prevent second parsing
  radio/src/storage/modelslist.cpp
Labels: enhancement ✨, color

#2433 fix: auto-switch timeout raised to 1s
  radio/src/switches.cpp
Labels: color, bug/regression ↩️

#2434 fix: "Show Channel Monitor" btn only on touch only radios
  radio/src/gui/colorlcd/menu_model.cpp
  radio/src/gui/colorlcd/menu_model.h
Labels: color, UX-UI, touch

#2410 fix(color): Logical switches monitor fix
  radio/src/gui/colorlcd/view_logical_switches.cpp
Labels: color, bug/regression ↩️

#2439 Verify that model exists prior to using it in CP (Fix #2437)
  companion/src/modeledit/customfunctions.cpp
Labels: bug 🪲, companion

#2440 fix(color): Remove rem. `Window::setTextFlags()` font change usage
  radio/src/gui/colorlcd/message_dialog.cpp
  radio/src/gui/colorlcd/message_dialog.h
  radio/src/gui/colorlcd/model_logical_switches.cpp
  radio/src/gui/colorlcd/special_functions.cpp
  radio/src/gui/colorlcd/view_about.cpp
Labels: color, bug/regression ↩️

#2211 R9M access: fix subtype
  radio/src/gui/colorlcd/module_setup.cpp
  radio/src/pulses/pxx2.cpp
Labels: bug 🪲, color

#2453 Danish translations
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#2450 More Se translations
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#2448 fix: Correct errors in labels.yml if modelname is full length
  radio/src/storage/modelslist.cpp
Labels: bug 🪲, color

#2486 Fixed TW translation missing line, issue #2485.
  radio/src/translations/tw.h
Labels: color, translation, bug/regression ↩️

#2475 fix(color): dirty storage flag to new source value assignment
  radio/src/gui/colorlcd/widget_settings.cpp
Labels: bug 🪲, color

#2432 chore: remove useless BREAKSPACE
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#2471 fix(color): some lines containing boxes could be scrolled horizontally
  radio/src/gui/colorlcd/channel_range.cpp
  radio/src/gui/colorlcd/module_setup.cpp
  radio/src/gui/colorlcd/timer_setup.cpp
Labels: bug 🪲, color

#2455 fix(multi): set bind status explicitly when aborted manually
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/module_setup.cpp
Labels: bug 🪲

#2494 fix sliders and potentiometers warning (#2477)
  radio/src/gui/colorlcd/preflight_checks.cpp
Labels: color, bug/regression ↩️

#2464 fix(gui): add missing channel IDs to mixer and output tabs.
  radio/src/gui/colorlcd/channel_bar.h
  radio/src/gui/colorlcd/input_mix_group.cpp
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: color

#2490 Updated swedish translations
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#2497 fix(color): Adjust about dialog size
  radio/src/gui/colorlcd/view_about.cpp
Labels: color, UX-UI

#2470 EL18: AFHDS3 options
  radio/src/gui/colorlcd/CMakeLists.txt
  radio/src/gui/colorlcd/afhds3_options.cpp
  radio/src/gui/colorlcd/afhds3_options.h
  radio/src/gui/colorlcd/flysky_settings.cpp
  radio/src/mixer_scheduler.h
  radio/src/pulses/afhds3.cpp
  radio/src/pulses/afhds3.h
  radio/src/pulses/afhds3_config.h
Labels: enhancement ✨

#2454 feat: CPP Widget names also translatable
  radio/src/gui/colorlcd/widgets/gauge.cpp
  radio/src/gui/colorlcd/widgets/modelbmp.cpp
  radio/src/gui/colorlcd/widgets/outputs.cpp
  radio/src/gui/colorlcd/widgets/text.cpp
  radio/src/gui/colorlcd/widgets/timer.cpp
  radio/src/gui/colorlcd/widgets/value.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/tw.h
Labels: enhancement ✨, translation, widget

#2489 fix(color): outputs in portrait mode
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: color, UX-UI, bug/regression ↩️

#2244 cpn: iFlight Commando8 support
  companion/src/CMakeLists.txt
  companion/src/companion.qrc
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/opentx/opentxeeprom.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/images/simulator/Commando8/bottom.png
  companion/src/images/simulator/Commando8/left-mdl.png
  companion/src/images/simulator/Commando8/left-rtn.png
  companion/src/images/simulator/Commando8/left-sys.png
  companion/src/images/simulator/Commando8/right-dn.png
  companion/src/images/simulator/Commando8/right-ent.png
  companion/src/images/simulator/Commando8/right-pagedn.png
  companion/src/images/simulator/Commando8/right-pageup.png
  companion/src/images/simulator/Commando8/right-up.png
  companion/src/images/simulator/Commando8/top.png
  companion/src/simulation/CMakeLists.txt
  companion/src/simulation/simulateduiwidget.h
  companion/src/simulation/simulateduiwidgetCommando8.cpp
  companion/src/simulation/simulateduiwidgetCommando8.ui
  companion/src/simulation/simulatorwidget.cpp
  radio/src/gui/gui_common.cpp
  radio/src/storage/conversions/CMakeLists.txt
  radio/src/targets/taranis/CMakeLists.txt
  tools/build-companion.sh
Labels: companion

#2507 feat(color): add copy button to failsafe channel
  radio/src/gui/colorlcd/custom_failsafe.cpp
Labels: enhancement ✨, color, UX-UI

#2506 FullscreenDialog: add support for long pressed ENTER
  radio/src/gui/colorlcd/fullscreen_dialog.cpp
  radio/src/gui/colorlcd/fullscreen_dialog.h
Labels: color, UX-UI

#2511 fix: Translate widget "full screen" menu option
  radio/src/gui/colorlcd/layouts/layout1x1.cpp
  radio/src/gui/colorlcd/widget.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
Labels: color, translation

#2492 File browser touch preview
  radio/src/gui/colorlcd/file_browser.cpp
  radio/src/gui/colorlcd/file_browser.h
  radio/src/gui/colorlcd/file_preview.cpp
Labels: color, touch

#2456 Japanese radio translation 🇯🇵
  radio/src/CMakeLists.txt
  radio/src/fonts/lvgl/lv_font_noto_jp_13.c
  radio/src/fonts/lvgl/lv_font_noto_jp_16.c
  radio/src/fonts/lvgl/lv_font_noto_jp_17.c
  radio/src/fonts/lvgl/lv_font_noto_jp_24.c
  radio/src/fonts/lvgl/lv_font_noto_jp_9.c
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_17.c
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_32.c
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_64.c
  radio/src/fonts/lvgl/make_fonts.sh
  radio/src/gui/colorlcd/fonts.cpp
  radio/src/lv_conf.h
  radio/src/translations.h
  radio/src/translations/jp.h
  tools/charset.py
Labels: translation

#2509 fix(color): window tree preventing superfluous drawing
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/gui/colorlcd/fullscreen_dialog.cpp
  radio/src/gui/colorlcd/page.cpp
  radio/src/gui/colorlcd/tabsgroup.cpp
Labels: enhancement ✨, color

#2518 CZ translations
  radio/src/translations/cz.h
Labels: translation

#2519 Improved CN & TW translation
  radio/src/fonts/lvgl/lv_font_noto_cn_13.c
  radio/src/fonts/lvgl/lv_font_noto_cn_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_17.c
  radio/src/fonts/lvgl/lv_font_noto_cn_24.c
  radio/src/fonts/lvgl/lv_font_noto_cn_9.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_17.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_32.c
  radio/src/fonts/lvgl/lv_font_noto_tw_13.c
  radio/src/fonts/lvgl/lv_font_noto_tw_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_17.c
  radio/src/fonts/lvgl/lv_font_noto_tw_24.c
  radio/src/fonts/lvgl/lv_font_noto_tw_9.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_17.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_32.c
  radio/src/fonts/lvgl/make_fonts.sh
  radio/src/translations/cn.h
  radio/src/translations/tw.h
Labels: translation

#2517 fix(sdcard): use init marker in initialised BSS segment
  radio/src/targets/horus/board.cpp
  radio/src/targets/horus/diskio.cpp
  radio/src/targets/taranis/diskio.cpp
Labels: bug 🪲, compilation

#2441 fix: Style/color tweaks
  radio/src/gui/colorlcd/channel_bar.h
  radio/src/gui/colorlcd/mixer_edit.cpp
  radio/src/gui/colorlcd/model_flightmodes.cpp
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/gui/colorlcd/output_edit.cpp
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/gui/colorlcd/view_channels.cpp
Labels: color, UX-UI

#2505 fix(tpro): function switches auto-switch & position matching
  radio/src/switches.cpp
Labels: bug 🪲

#2514 fix(color): only open model###.yml files
  radio/src/storage/modelslist.cpp
Labels: color

#2251 feat(telemetry): extend link quality warnings range
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/modeledit/telemetry.cpp
  radio/src/datastructs.h
  radio/src/datastructs_private.h
  radio/src/gui/128x64/model_telemetry.cpp
  radio/src/gui/128x64/view_main.cpp
  radio/src/gui/128x64/view_telemetry.cpp
  radio/src/gui/212x64/model_telemetry.cpp
  radio/src/gui/212x64/view_main.cpp
  radio/src/gui/212x64/view_telemetry.cpp
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/lua/api_general.cpp
  radio/src/model_init.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_lr3pro.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12mk2.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
  radio/src/telemetry/flysky_nv14.cpp
  radio/src/telemetry/telemetry.cpp
Labels: UX-UI, telemetry

#2523 fix(cpn): Handle mixer scripts with no inputs def.
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
Labels: companion, bug/regression ↩️

#2526 Correct inappropriate translation of CN and TW
  radio/src/translations/cn.h
  radio/src/translations/tw.h
Labels: translation

#2527 fix: clear internal module FIFO after DMA init
  radio/src/targets/common/arm/stm32/intmodule_serial_driver.cpp
Labels: bug/regression ↩️

#2525 fix(NV14/EL18): Reduce LCD pixel clock to 1000000
  radio/src/targets/nv14/lcd_driver.cpp
Labels: color, partner

#2532 fix(color): screen / widget setup
  radio/src/gui/colorlcd/menu_screen.cpp
  radio/src/gui/colorlcd/menu_screen.h
  radio/src/gui/colorlcd/screen_setup.cpp
  radio/src/gui/colorlcd/screen_user_interface.cpp
  radio/src/gui/colorlcd/topbar.cpp
  radio/src/gui/colorlcd/topbar.h
  radio/src/gui/colorlcd/widgets_setup.cpp
  radio/src/gui/colorlcd/widgets_setup.h
Labels: color, bug/regression ↩️

#2528 fix(color): shortcut for model select
  radio/src/gui/colorlcd/view_main.cpp
Labels: color, bug/regression ↩️

#2533 feat(color): single press to trigger model select menu
  radio/src/gui/colorlcd/model_select.cpp
Labels: color, UX-UI, touch

#2538 fix: hard coded special characters
  radio/src/gui/128x64/lcd.cpp
  radio/src/gui/128x64/model_outputs.cpp
  radio/src/gui/212x64/lcd.cpp
  radio/src/gui/212x64/model_outputs.cpp
  radio/src/gui/colorlcd/keyboard_curve.cpp
Labels: bug/regression ↩️

#2539 fix: more special character fixes
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/untranslated.h
Labels: bug 🪲, B&W

#2548 fix(color): module setup sub-type after selecting MPM
  radio/src/gui/colorlcd/module_setup.cpp
Labels: bug 🪲

#2547 fix(color): RF power drop-down
  radio/src/gui/colorlcd/module_setup.cpp
Labels: bug 🪲

#2545 fix(color): copy/paste inputs/mixers
  radio/src/gui/colorlcd/model_inputs.cpp
  radio/src/gui/colorlcd/model_mixes.cpp
Labels: bug 🪲, color, UX-UI

#2551 chore(adc): store constant structs in FLASH
  radio/src/targets/common/arm/stm32/stm32_hal_adc.cpp
Labels: enhancement ✨

#2564 fix(cpn): Workaround MacOS 13 filesystem type change
  companion/src/radiointerface.cpp
Labels: enhancement ✨, companion

#2574 fix: clear spectrum analyser data buffer on init
  radio/src/gui/colorlcd/radio_spectrum_analyser.cpp
Labels: bug 🪲, color

#2578 fix(global functions): reset global function context if disabled
  radio/src/mixer.cpp
Labels: bug 🪲

#2582 fix(color): min/max highlighting should depend on mixer channel value
  radio/src/gui/colorlcd/output_edit.cpp
Labels: bug 🪲, color

#2579 fix(color): Duplicate model, write pending changes first
  radio/src/gui/colorlcd/model_select.cpp
Labels: bug 🪲, color

#2573 fix(lua): send EVT_VIRTUAL_EXIT only on short EXIT press
  radio/src/gui/colorlcd/LvglWrapper.cpp
  radio/src/lua/lua_widget.cpp
Labels: color, bug/regression ↩️

#2592 feat(color): mix/output bars show '0%'
  radio/src/gui/colorlcd/channel_bar.cpp
Labels: color, UX-UI

#2596 fix(isrm): flashing internal ISRM module
  radio/src/io/frsky_firmware_update.cpp
  radio/src/pulses/modules_helpers.h
  radio/src/targets/common/arm/stm32/intmodule_serial_driver.cpp
Labels: bug 🪲

#2599 fix(x7): use switch indirection to fetch the proper name
  radio/src/audio.cpp
Labels: bug 🪲

#2623 fix(gui): stack vertical slider display instead of drawing them next …
  radio/src/gui/colorlcd/layouts/sliders.cpp
  radio/src/gui/colorlcd/view_main_decoration.cpp
Labels: color, UX-UI

#2628 fix(color): Re-add "save as template" to model select
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_select.h
Labels: color, bug/regression ↩️

#2630 fix(color): Disable invalid PG_UP and PG_DN handling on widget setup screen
  radio/src/gui/colorlcd/widgets_setup.cpp
  radio/src/gui/colorlcd/widgets_setup.h
Labels: bug 🪲, color

#2610 feat: Updates to Polish translations 🇵🇱
  radio/src/translations/pl.h
Labels: translation

#2612 feat: Voice choice now in native language
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tts_cn.cpp
  radio/src/translations/tts_cz.cpp
  radio/src/translations/tts_da.cpp
  radio/src/translations/tts_de.cpp
  radio/src/translations/tts_en.cpp
  radio/src/translations/tts_es.cpp
  radio/src/translations/tts_fr.cpp
  radio/src/translations/tts_hu.cpp
  radio/src/translations/tts_it.cpp
  radio/src/translations/tts_nl.cpp
  radio/src/translations/tts_pl.cpp
  radio/src/translations/tts_pt.cpp
  radio/src/translations/tts_ru.cpp
  radio/src/translations/tts_se.cpp
  radio/src/translations/tts_sk.cpp
  radio/src/translations/tw.h
Labels: translation

#2635 Companion updates save component settings from Update Settings tab
  companion/src/updates/updateoptionsdialog.cpp
Labels: bug 🪲, companion

#2636 fix(gh): Don't install `arm-none-eabi-gcc` pkg
  .github/workflows/win-cpn-32.yml
Labels: companion, compilation

#2641 fix(sdcard): apply the same fix as #2517 to NV14
  radio/src/targets/nv14/diskio.cpp
Labels: bug 🪲, compilation

#2644 fix(isrm): add module options to ISRM/D16
  radio/src/gui/colorlcd/module_setup.cpp
Labels: color, UX-UI

#2646 fix(lua): re-implement LUA "tap" events
  radio/src/lua/lua_widget.cpp
  radio/src/lua/lua_widget.h
Labels: color, touch, lua

#2653 fix(telemetry): sensor processing with legacy polling disabled
  radio/src/telemetry/telemetry.cpp
Labels: telemetry, bug/regression ↩️

#2658 fix(color): EXIT key handling
  radio/src/gui/colorlcd/LvglWrapper.cpp
Labels: color, UX-UI, bug/regression ↩️

#2638 Build CN & TW font library
  radio/src/fonts/lvgl/lv_font_noto_cn_13.c
  radio/src/fonts/lvgl/lv_font_noto_cn_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_17.c
  radio/src/fonts/lvgl/lv_font_noto_cn_24.c
  radio/src/fonts/lvgl/lv_font_noto_cn_9.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_17.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_32.c
  radio/src/fonts/lvgl/lv_font_noto_tw_13.c
  radio/src/fonts/lvgl/lv_font_noto_tw_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_17.c
  radio/src/fonts/lvgl/lv_font_noto_tw_24.c
  radio/src/fonts/lvgl/lv_font_noto_tw_9.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_17.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_32.c
  radio/src/fonts/lvgl/make_fonts.sh
  radio/src/translations/cn.h
Labels: translation

#2647 fix(nv14/el18): external module RX inversion
  radio/src/targets/nv14/hal.h
Labels: bug 🪲
