Repository EdgeTX/edgetx, pull requests merged in 2022-04, with the labels that each got.

#1776 Color LCD: Added CN/TW translation and reduced TW text size
  radio/src/fonts/CMakeLists.txt
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/board.cpp
  radio/src/translations/cn.h.txt
  radio/src/translations/tw.h.txt
Labels: enhancement, translation

#1771 Show module info for MPM and CRSF
  radio/src/gui/colorlcd/radio_version.cpp
  radio/src/gui/common/stdlcd/radio_version.cpp
Labels: B&W

#1787 fix: some radio settings were overwritten or not applied
  radio/src/storage/sdcard_yaml.cpp
  radio/src/storage/storage_common.cpp
Labels: bug

#1786 Fix double "Failsafe not set" with MPM
  radio/src/opentx.cpp
Labels: bug

#1803 Companion enhancements to curves tab
  companion/src/modeledit/curves.cpp
Labels: enhancement, companion

#1801 Companion yaml rawswitch decode fix
  companion/src/firmwares/edgetx/yaml_rawswitch.cpp
  companion/src/firmwares/rawswitch.cpp
  companion/src/firmwares/rawswitch.h
Labels: bug, companion

#1753 Fix selection of the first line after deleting input.
  radio/src/gui/colorlcd/model_inputs.cpp
Labels: enhancement, color, UX-UI

#1798 fix: Use setAvailableHandler to filter blMode menu
  radio/src/gui/colorlcd/radio_setup.cpp
Labels: bug, color

#1775 colorlcd: Left align input names on Model Inputs tab
  radio/src/gui/colorlcd/model_inputs.cpp
Labels: color, UX-UI

#1806 Companion trainer modes OFF and Master-Multi available for all radios
  companion/src/firmwares/modeldata.cpp
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
Labels: bug, companion

#1804 Fix Display Function switches names and symbol
  radio/src/gui/128x64/lcd.cpp
  radio/src/strhelpers.cpp
Labels: bug

#1777 NV14: Deadzone option
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/generaledit/hardware.cpp
  companion/src/generaledit/hardware.h
  radio/src/datastructs.h
  radio/src/datastructs_private.h
  radio/src/gui/colorlcd/radio_hardware.cpp
  radio/src/mixer.cpp
  radio/src/opentx.cpp
  radio/src/storage/storage_common.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/targets/nv14/board.h
  radio/src/tests/mixer.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h.txt
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
  radio/src/translations/tw.h.txt
Labels: enhancement

#1825 Fix for issue #1809
  radio/src/gui/colorlcd/model_select.cpp
Labels: bug, color

#1810 Companion remove multi protocol Config from list
  companion/src/modeledit/setup.cpp
Labels: companion

#1815 Companion fix custom curve edit default points
  companion/src/firmwares/curvedata.cpp
  companion/src/helpers.cpp
  companion/src/helpers.h
  companion/src/modeledit/curves.cpp
  companion/src/shared/curvedialog.cpp
Labels: bug, companion

#1832 Remove offset when copying timer name
  radio/src/strhelpers.cpp
Labels: bug, color

#1835 Fix some missing colorlcd gui if GPS on AUX1
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/gui/colorlcd/view_statistics.cpp
Labels: bug

#1817 Improved CN & TW Translation
  radio/src/translations/cn.h.txt
  radio/src/translations/tw.h.txt
Labels: translation

#1794 Use static MPM protolist on simu
  radio/src/io/multi_protolist.cpp
  radio/src/io/multi_protolist.h
Labels: bug, simulator

#1849 Changes VCP to USB-VCP in the UI
  radio/src/targets/common/arm/stm32/usbd_cdc.cpp
  radio/src/targets/simu/simpgmspace.cpp
Labels: enhancement, UX-UI

#1863 Companion antenna mode dropdown not displaying for new models with antenna support
  companion/src/modeledit/setup.cpp
Labels: bug, companion

#1872 Use "cpn-win-64"
  .github/workflows/win_cpn-64.yml
Labels: enhancement, UX-UI, companion

#1873 Fix companion radio profile default module resetting to board default
  companion/src/apppreferencesdialog.cpp
Labels: bug, companion

#1779 Touch-Display for X12S
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/hal.h
  radio/src/targets/horus/tp_gt911.cpp
  radio/src/targets/horus/tp_gt911.h
Labels: enhancement, touch

#1848 User controllable serial port power for TX16S
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/generalsettings.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/generaledit/hardware.cpp
  radio/src/datastructs.h
  radio/src/datastructs_private.h
  radio/src/gui/colorlcd/radio_hardware.cpp
  radio/src/hal/serial_port.h
  radio/src/serial.cpp
  radio/src/serial.h
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
  radio/src/targets/common/arm/stm32/bootloader/boot.cpp
  radio/src/targets/horus/CMakeLists.txt
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h.txt
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
  radio/src/translations/tw.h.txt
Labels: enhancement

#1890 Find libclang on systems that use `/usr/lib64`
  radio/util/find_clang.py
Labels: compilation

#1903 Sets explicit "nightly" suffix for GitHub nightly builds
  .github/workflows/nightly.yml
  tools/build-gh.sh
Labels: enhancement, compilation

#1901 fix: Radio Settings/SYS module version info lockup
  radio/src/gui/colorlcd/radio_version.cpp
Labels: bug, color

#1910 Companion part of PR 1849
  companion/src/generaledit/hardware.cpp
Labels: companion

#1912 Fix simulation plugins packaged
  companion/src/CMakeLists.txt
  radio/src/targets/simu/CMakeLists.txt
Labels: bug, compilation
