Repository EdgeTX/edgetx, pull requests merged in 2022-01, with the labels that each got.

#1316 Clear internal RF module settings if radio level setting changed
  radio/src/gui/colorlcd/radio_hardware.cpp
  radio/src/gui/common/stdlcd/radio_hardware.cpp
Labels: enhancement, color, B&W

#1163 Fix mixer setup "invisible mixers"
  radio/src/gui/colorlcd/model_mixes.cpp
Labels: bug, color

#1358 Fix bit mask generation
  radio/src/storage/yaml/yaml_bits.cpp
Labels: bug

#1361 Fix EDGE logical switch (de-)serialization
  companion/src/firmwares/edgetx/yaml_logicalswitchdata.cpp
Labels: bug, companion

#1362 Fix switch indexes
  companion/src/firmwares/edgetx/yaml_rawsource.cpp
Labels: bug, companion

#1350 YAML Trainer data: iterate through nodes rather than assuming their presence
  companion/src/firmwares/edgetx/yaml_trainerdata.cpp
Labels: bug, companion

#1367 Fix 6POS switch (de-)serialization
  companion/src/firmwares/edgetx/yaml_rawswitch.cpp
Labels: bug, companion

#1381 Companion remove size column heading from model list
  companion/src/mdichild.cpp
  companion/src/modelslist.cpp
  companion/src/modelslist.h
Labels: bug, companion

#1329 Improve support for old NV14 Radio Module FW
  radio/src/telemetry/flysky_nv14.cpp
Labels: enhancement, hardware support

#1304 Show warning LED with switch and throttle alerts
  radio/src/gui/colorlcd/fullscreen_dialog.cpp
  radio/src/opentx.cpp
  radio/src/switches.cpp
Labels: enhancement

#1388 Disable RTC VBat bridge after first run
  radio/src/targets/common/arm/stm32/stm32_hal_adc.cpp
Labels: bug

#1289 Stuck key test for COLORLCD #1271
  radio/src/opentx.cpp
Labels: enhancement, color, UX-UI, compilation

#1337 Potential out of bounds access of flightmode name on main screen (#1333)
  radio/src/gui/colorlcd/view_main_decoration.cpp
  radio/src/strhelpers.h
Labels: bug, color

#1370 Fallback to model file scanning if models.yml cannot be read
  companion/src/firmwares/edgetx/edgetxinterface.cpp
  companion/src/modelslist.cpp
  companion/src/radiointerface.cpp
  companion/src/storage/categorized.cpp
Labels: companion

#1360 Companion re-enable custom screens with sd card themes
  companion/src/modeledit/colorcustomscreens.cpp
  companion/src/modeledit/modeledit.cpp
Labels: companion

#1342 Companion hardware internal module continued
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/moduledata.cpp
  companion/src/generaledit/generaledit.cpp
  companion/src/generaledit/generaledit.h
  companion/src/generaledit/hardware.cpp
  companion/src/generaledit/hardware.h
  companion/src/mainwindow.h
  companion/src/mdichild.cpp
  companion/src/mdichild.h
  companion/src/modeledit/modeledit.cpp
  companion/src/modeledit/modeledit.h
  companion/src/modeledit/setup.cpp
Labels: companion

#1402 [companion] fix: only write yaml to radio, not bin
  companion/src/storage/categorized.cpp
Labels: bug, companion

#1408 Rotary encoder movement not to close throttle warning
  radio/src/opentx.cpp
Labels: bug, B&W

#1386 force a valid backlight on setting on color lcd radios
  radio/src/opentx.cpp
Labels: color

#1409 Fix wrong x-coordinate for Lua touchState during sliding
  radio/src/lua/widgets.cpp
Labels: bug, touch

#1368 Remove calibration check when asserting availability of 6-pos switch positions
  radio/src/gui/gui_common.cpp
Labels: enhancement

#1399 Fix failsafe settings
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  radio/src/gui/colorlcd/model_setup.cpp
Labels: bug, color, companion

#1415 Include commit Number in About Companion page
  companion/src/mainwindow.cpp
  companion/src/version.h.in
Labels: enhancement, companion

#1401 Fix throttle trace source conversion error
  companion/src/firmwares/opentx/opentxeeprom.cpp
Labels: companion

#1423 Issue 1346
  radio/src/lua/api_general.cpp
Labels: bug, lua-api

#1442 Increased Lua buffer size for standalone and telemetry scripts
  radio/src/lua/lua_api.h
Labels: lua-api

#1454 Make Outputs work with NV14 & two rows
  radio/src/gui/colorlcd/widgets/outputs.cpp
Labels: widget

#1449 Various Companion fixes
  companion/src/firmwares/edgetx/yaml_customfunctiondata.cpp
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/edgetx/yaml_rawsource.cpp
  companion/src/firmwares/edgetx/yaml_rawswitch.cpp
Labels: bug, companion

#1431 Github Actions for Windows Companion - Qt cache
  .github/workflows/win-cpn-32.yml
  .github/workflows/win_cpn.yml
Labels: compilation

#1421 Show true raw analog output on diagnose page
  radio/src/gui/128x64/radio_diaganas.cpp
  radio/src/gui/212x64/radio_diaganas.cpp
  radio/src/gui/colorlcd/radio_diaganas.cpp
  radio/src/gui/colorlcd/radio_diaganas.h
  radio/src/gui/colorlcd/radio_hardware.cpp
  radio/src/hal/adc_driver.cpp
  radio/src/hal/adc_driver.h
  radio/src/opentx.cpp
  radio/src/opentx.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h.txt
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
  radio/src/translations/tw.h.txt
Labels: enhancement, color, B&W

#1383 Make compilation on M1 Macs work
  CMakeLists.txt
  radio/src/storage/yaml/CMakeLists.txt
Labels: compilation

#1467 Warn on connected model (#1466)
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/opentx.cpp
  radio/src/opentx.h
Labels: enhancement, color

#1502 Fix bash's word-splitting bugs when parsing the result of pwd command
  .github/workflows/linux_cpn.yml
  .github/workflows/macosx_cpn.yml
  .github/workflows/win-cpn-32.yml
  .github/workflows/win_cpn.yml
  tools/build-gh.sh
  tools/commit-tests.sh
  tools/generate-yaml.sh
Labels: compilation

#987 Build using edgetx-dev
  .github/workflows/actions.yml
  .github/workflows/linux_cpn.yml
Labels: compilation

#1525 Companion include telemetry setting ignore instances in yaml
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
Labels: bug, companion

#1524 Companion use default hardware name when name only spaces
  companion/src/firmwares/rawsource.cpp
  companion/src/firmwares/rawswitch.cpp
Labels: bug, companion

#1512 Fixed a bug with drawing INVERS + CENTER
  radio/src/lua/api_colorlcd.cpp
Labels: bug, color, lua-api
