Repository EdgeTX/edgetx, pull requests merged in 2022-02, with the labels that each got.

#1516 Fixed issue #1500
  radio/src/storage/conversions/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
Labels: bug

#1508 Send correct internal CRSF modelid on change for B&W screens
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/pulses/crossfire.cpp
  radio/src/telemetry/telemetry.cpp
Labels: bug, B&W

#1498 Increased resources for Lua widgets 2
  radio/src/lua/widgets.cpp
Labels: enhancement, color, lua

#1549 Listbox multiline selectable
  radio/src/gui/colorlcd/listbox.cpp
  radio/src/gui/colorlcd/listbox.h
Labels: color, UX-UI

#1540 Improve searching for previous versions of companion app settings
  companion/src/storage/appdata.cpp
Labels: enhancement, companion

#1534 fix: NV14 bootloader navigation not working
  radio/src/targets/nv14/keys_driver.cpp
Labels: bug

#1561 fix SF repeat field problem (#1539)
  radio/src/gui/colorlcd/special_functions.cpp
Labels: bug, color, UX-UI

#1560 Companion fix trainer data yaml read and write
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
Labels: bug, companion

#1562 Companion fix b&w custom telemetry screens yaml
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
Labels: bug, B&W, companion

#1572 Companion improve read radio settings messages
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
Labels: enhancement, companion

#1571 Companion fix special function haptic
  companion/src/firmwares/edgetx/yaml_customfunctiondata.cpp
Labels: bug, companion

#1573 Add serial passthrough for T-Pro
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/hal.h
Labels: hardware support

#1372 Replaced fixed strings with translation for device-flash-dialogs
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/io/frsky_firmware_update.cpp
  radio/src/io/multi_firmware_update.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h.txt
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
Labels: translation

#1548 Tx12-fixes
  radio/src/gui/common/stdlcd/radio_hardware.cpp
  radio/src/targets/taranis/board.h
Labels: bug, B&W

#1623 List ProtocolName next to Mode: MULTI
  radio/src/gui/colorlcd/model_setup.cpp
Labels: enhancement, color

#1625 TX viewer for log files for color LCD (#1608)
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/colorlcd/view_text.cpp
  radio/src/gui/colorlcd/view_text.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h.txt
  radio/src/translations/cz.h.txt
  radio/src/translations/de.h.txt
  radio/src/translations/en.h.txt
  radio/src/translations/es.h.txt
  radio/src/translations/fi.h.txt
  radio/src/translations/fr.h.txt
  radio/src/translations/it.h.txt
  radio/src/translations/nl.h.txt
  radio/src/translations/pl.h.txt
  radio/src/translations/pt.h.txt
  radio/src/translations/se.h.txt
Labels: enhancement, color, UX-UI

#1602 Fixed bug in Lua get/setGlobalVariable
  radio/src/lua/api_model.cpp
Labels: bug, lua-api

#1622 Allow using PXX1-serial/PXX2 external modules on Zorro
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/hal.h
Labels: enhancement, hardware support

#1645 fix: Disable LUA GV funcs if `GVARS=NO` build
  radio/src/lua/api_model.cpp
Labels: bug, compilation
