Repository EdgeTX/edgetx, pull requests merged in 2023-03, with the labels that each got.

#3238 chore(color) - Add 'title2' to Page class to manage 2nd header title line.
  radio/src/gui/colorlcd/curveedit.cpp
  radio/src/gui/colorlcd/model_gvars.cpp
  radio/src/gui/colorlcd/model_logical_switches.cpp
  radio/src/gui/colorlcd/model_mixer_scripts.cpp
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/gui/colorlcd/page.cpp
  radio/src/gui/colorlcd/page.h
  radio/src/gui/colorlcd/radio_calibration.cpp
  radio/src/gui/colorlcd/radio_diagkeys.cpp
  radio/src/gui/colorlcd/radio_ghost_module_config.cpp
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/gui/colorlcd/radio_theme.cpp
  radio/src/gui/colorlcd/special_functions.cpp
  radio/src/gui/colorlcd/throttle_params.cpp
  radio/src/gui/colorlcd/trims_setup.cpp
Labels: color

#3282 feat(color) - Generate layout icon bitmap at runtime to account for screen orientation.
  companion/src/companion.qrc
  companion/src/images/layouts/mask_layout1+2.png
  companion/src/images/layouts/mask_layout1+3.png
  companion/src/images/layouts/mask_layout1x1.png
  companion/src/images/layouts/mask_layout1x2.png
  companion/src/images/layouts/mask_layout1x3.png
  companion/src/images/layouts/mask_layout1x4.png
  companion/src/images/layouts/mask_layout2+1.png
  companion/src/images/layouts/mask_layout2+3.png
  companion/src/images/layouts/mask_layout2x1.png
  companion/src/images/layouts/mask_layout2x2.png
  companion/src/images/layouts/mask_layout2x3.png
  companion/src/images/layouts/mask_layout2x4.png
  companion/src/images/layouts/mask_layout4+2.png
  radio/src/bitmaps/480x272/CMakeLists.txt
  radio/src/gui/colorlcd/layouts/layout1+2.cpp
  radio/src/gui/colorlcd/layouts/layout1+3.cpp
  radio/src/gui/colorlcd/layouts/layout1x1.cpp
  radio/src/gui/colorlcd/layouts/layout1x2.cpp
  radio/src/gui/colorlcd/layouts/layout1x3.cpp
  radio/src/gui/colorlcd/layouts/layout1x4.cpp
  radio/src/gui/colorlcd/layouts/layout2+1.cpp
  radio/src/gui/colorlcd/layouts/layout2+3.cpp
  radio/src/gui/colorlcd/layouts/layout2x1.cpp
  radio/src/gui/colorlcd/layouts/layout2x2.cpp
  radio/src/gui/colorlcd/layouts/layout2x3.cpp
  radio/src/gui/colorlcd/layouts/layout2x4.cpp
  radio/src/gui/colorlcd/layouts/layout4+2.cpp
  radio/src/gui/colorlcd/layouts/layout_factory_impl.cpp
  radio/src/gui/colorlcd/layouts/layout_factory_impl.h
Labels: enhancement ✨, color, UX-UI

#3302 fixes hex2char() returning wrong characters for 0xa..0xf
  radio/src/strhelpers.cpp
Labels: bug 🪲

#2854 Companion configure AUX serial port as "External module"
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/firmwares/moduledata.cpp
  companion/src/firmwares/moduledata.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/firmwares/opentx/opentxinterface.h
  companion/src/generaledit/hardware.cpp
  radio/src/options.h
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/hal.h
Labels: enhancement ✨, companion

#3075 fix(cpn): Model print global and special functions
  companion/src/firmwares/customfunctiondata.cpp
  companion/src/firmwares/customfunctiondata.h
  companion/src/modelprinter.cpp
  companion/src/modelprinter.h
  companion/src/multimodelprinter.cpp
Labels: bug 🪲, companion

#3240 chore(color) - Convert analog debug pages to lvgl.
  radio/src/gui/colorlcd/radio_diaganas.cpp
  radio/src/gui/colorlcd/radio_diaganas.h
Labels: color

#3314 Fixes #3304 - Wrong case used for units of time
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
Labels: bug 🪲, UX-UI, telemetry

#3308 Update danish translation in Companion
  companion/src/translations/companion_da.ts
Labels: translation

#3278 chore(color) - LVGL update and translation strings for theme file carousel.
  radio/src/gui/colorlcd/file_carosell.cpp
  radio/src/gui/colorlcd/file_carosell.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: color, UX-UI

#3281 Translated pots slider warnings
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/preflight_checks.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#3239 fix(color) - Fix update of 'end' value in ChannelRange class.
  radio/src/gui/colorlcd/channel_range.cpp
Labels: bug 🪲, color

#3306 feat(b&w) - Show time on the main screen and telemetry screen.
  radio/src/gui/128x64/lcd.cpp
  radio/src/gui/128x64/view_main.cpp
Labels: enhancement ✨, B&W

#3325 Fix the BUG that unplugs the USB and automatically power on
  radio/src/targets/nv14/board.cpp
Labels: bug 🪲

#3206 fix:EL18 power-on backlight before screen content.
  radio/src/targets/common/arm/stm32/f4/system_stm32f4xx.c
  radio/src/targets/nv14/backlight_driver.cpp
  radio/src/targets/nv14/board.h
  radio/src/targets/nv14/bootloader/boot_menu.cpp
Labels: enhancement ✨

#3336 fix(cpn) - Fix handling of the 'show splash' setting for B&W radios in Companion.
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/generaledit/generalsetup.cpp
  companion/src/generaledit/generalsetup.h
  companion/src/generaledit/generalsetup.ui
Labels: bug 🪲, companion

#3291 fix(color) - Adjust page padding for pre-flight checks, trims and throttle setup pages.
  radio/src/gui/colorlcd/preflight_checks.cpp
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/gui/colorlcd/throttle_params.cpp
  radio/src/gui/colorlcd/trims_setup.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/tw.h
Labels: color, UX-UI

#3345 fix(color) - Make radio and model setup UI more responsive when switching tabs.
  radio/src/gui/colorlcd/tabsgroup.cpp
Labels: enhancement ✨, color

#3332 feat(color) - Make Inputs page '+' button work like other pages.
  radio/src/gui/colorlcd/model_inputs.cpp
  radio/src/gui/colorlcd/model_inputs.h
Labels: color, UX-UI

#3272 Check MCU type at start
  radio/src/gui/common/stdlcd/radio_version.cpp
  radio/src/opentx.cpp
Labels: enhancement ✨

#3347 fix(simulator) - Fix simulator crash introduced in PR #3272
  radio/src/opentx.cpp
Labels: simulator, bug/regression ↩️

#3323 fix(color) - Only create a new model if the user actually selects a template.
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_templates.cpp
  radio/src/gui/colorlcd/model_templates.h
Labels: enhancement ✨, color, UX-UI

#3288 feat(color) - Implement DISPLAY_TRIMS_CHANGE option for color LCD trim widget.
  radio/src/gui/colorlcd/layouts/trims.cpp
  radio/src/gui/colorlcd/layouts/trims.h
Labels: enhancement ✨, color

#3354 Fix trainer mode translations for BW screens
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
Labels: B&W, bug/regression ↩️

#3073 feat(ui): elevates the max possible telemetry screens count on color radios
  companion/src/firmwares/customisation_data.h
  radio/src/bitmaps/480x272/default_theme/mask_theme_view10.png
  radio/src/bitmaps/480x272/default_theme/mask_theme_view9.png
  radio/src/dataconstants.h
  radio/src/datastructs.h
  radio/src/gui/colorlcd/bitmaps.cpp
  radio/src/gui/colorlcd/menus.h
  radio/src/gui/colorlcd/screen_setup.cpp
  radio/src/gui/colorlcd/themes/flysky.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
Labels: enhancement ✨, color

#3102 fix(B&W): Include gvars in input sources
  radio/src/gui/gui_common.cpp
Labels: bug 🪲, B&W

#3097 fix(cpn): Add gvars to input sources
  companion/src/datamodels/compounditemmodels.cpp
  companion/src/modeledit/expodialog.cpp
Labels: bug 🪲, companion

#3261 Created tts_jp.cpp and added "TR_VOICE_JAPANESE" to the *.h file.
  companion/src/generaledit/generalsetup.cpp
  radio/src/CMakeLists.txt
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tts_jp.cpp
  radio/src/translations/tw.h
Labels: enhancement ✨

#3357 fix(ui): Main view numbering #3073
  radio/src/gui/colorlcd/menu_screen.cpp
  radio/src/gui/colorlcd/screen_setup.cpp
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: color, UX-UI, bug/regression ↩️

#3295 fix(color) - Adjust the column sizes for the logical switches
  radio/src/gui/colorlcd/model_logical_switches.cpp
  radio/src/gui/colorlcd/view_logical_switches.cpp
Labels: color, UX-UI

#3265 feat(lua): added serial[Get|Set]Power() to LUA API.
  radio/src/lua/api_general.cpp
Labels: enhancement ✨, lua-api

#3292 fix(radio) - Change output value calculation to 'round away from 0' instead 'floor'.
  radio/src/mixer.cpp
Labels: bug 🪲

#3218 chore(cpn): Refactor component updates
  companion/src/apppreferencesdialog.cpp
  companion/src/mainwindow.cpp
  companion/src/storage/appdata.cpp
  companion/src/storage/appdata.h
  companion/src/updates/CMakeLists.txt
  companion/src/updates/chooserdialog.h
  companion/src/updates/downloaddialog.h
  companion/src/updates/repo.cpp
  companion/src/updates/repo.h
  companion/src/updates/repoassets.cpp
  companion/src/updates/repoassets.h
  companion/src/updates/repodatamodels.cpp
  companion/src/updates/repodatamodels.h
  companion/src/updates/repometadata.cpp
  companion/src/updates/repometadata.h
  companion/src/updates/repomodels.cpp
  companion/src/updates/repomodels.h
  companion/src/updates/reporeleases.cpp
  companion/src/updates/reporeleases.h
  companion/src/updates/updatecompanion.cpp
  companion/src/updates/updatecompanion.h
  companion/src/updates/updatefactories.cpp
  companion/src/updates/updatefactories.h
  companion/src/updates/updatefirmware.cpp
  companion/src/updates/updatefirmware.h
  companion/src/updates/updateinterface.cpp
  companion/src/updates/updateinterface.h
  companion/src/updates/updatemultiprotocol.cpp
  companion/src/updates/updatemultiprotocol.h
  companion/src/updates/updatenetwork.cpp
  companion/src/updates/updatenetwork.h
  companion/src/updates/updateoptionsdialog.cpp
  companion/src/updates/updateoptionsdialog.h
  companion/src/updates/updateoptionsdialog.ui
  companion/src/updates/updateparameters.cpp
  companion/src/updates/updateparameters.h
  companion/src/updates/updates.cpp
  companion/src/updates/updatesdcard.cpp
  companion/src/updates/updatesdcard.h
  companion/src/updates/updatesdialog.cpp
  companion/src/updates/updatesdialog.h
  companion/src/updates/updatesounds.cpp
  companion/src/updates/updatesounds.h
  companion/src/updates/updatestatus.cpp
  companion/src/updates/updatestatus.h
  companion/src/updates/updatethemes.cpp
  companion/src/updates/updatethemes.h
Labels: companion

#3369 Fix MPM XK shows invalid protocol
  radio/src/gui/gui_common.cpp
  radio/src/pulses/modules_constants.h
  radio/src/pulses/multi.cpp
Labels: bug/regression ↩️

#3298 fix INRM301 failsafe BUG
  radio/src/pulses/afhds3.cpp
  radio/src/pulses/afhds3_transport.h
Labels: bug 🪲

#3379 DA Companion update
  companion/src/translations/companion_da.ts
Labels: companion, translation

#3355 fix: Companion X10s Express, ISRM receiver name missing
  companion/src/firmwares/edgetx/yaml_moduledata.cpp
  radio/src/gui/colorlcd/access_settings.cpp
  radio/src/pulses/modules_helpers.h
  radio/src/storage/storage_common.cpp
Labels: bug 🪲

#3328 fix: UI - not all detected sensors displayed at detection time
  radio/src/gui/colorlcd/model_telemetry.cpp
Labels: bug 🪲, telemetry

#3394 fix(cpn) - Fix throttle initialisation in Companion after changes in PR 3111.
  companion/src/simulation/widgets/virtualjoystickwidget.cpp
Labels: companion, bug/regression ↩️

#3366 fix(DSM Tel) Fix for Spektrum GPS Sensor
  radio/src/telemetry/spektrum.cpp
Labels: telemetry

#3326 Page header unification
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/212x64/radio_setup.cpp
  radio/src/gui/colorlcd/curveedit.cpp
  radio/src/gui/colorlcd/input_edit.cpp
  radio/src/gui/colorlcd/input_edit_adv.cpp
  radio/src/gui/colorlcd/mixer_edit.cpp
  radio/src/gui/colorlcd/model_flightmodes.cpp
  radio/src/gui/colorlcd/model_gvars.cpp
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/gui/colorlcd/model_templates.cpp
  radio/src/gui/colorlcd/module_setup.cpp
  radio/src/gui/colorlcd/output_edit.cpp
  radio/src/gui/colorlcd/preflight_checks.cpp
  radio/src/gui/colorlcd/radio_diagkeys.cpp
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/gui/colorlcd/radio_spectrum_analyser.cpp
  radio/src/gui/colorlcd/throttle_params.cpp
  radio/src/gui/colorlcd/timer_setup.cpp
  radio/src/gui/colorlcd/trainer_setup.cpp
  radio/src/gui/colorlcd/trims_setup.cpp
  radio/src/gui/colorlcd/view_main_menu.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: color, UX-UI

#3385 Fix the BUG when switching models in EL18.
  radio/src/pulses/afhds3.cpp
Labels: bug 🪲

#3361 fix(color) - Improve responsiveness of the model outputs tab.
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: enhancement ✨, color

#3399 fix(color) - Fix telemetry ID display when 'Ignore instances' is set.
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/gui/colorlcd/model_telemetry.h
Labels: color, bug/regression ↩️

#3229 fix: more precise pulse timings
  radio/src/targets/common/arm/stm32/extmodule_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_pulse_driver.cpp
  radio/src/targets/taranis/intmodule_pulses_driver.cpp
Labels: bug 🪲

#3231 fix(pxx1): pulse length should be 8us
  radio/src/targets/common/arm/stm32/stm32_softserial_driver.cpp
Labels: bug 🪲

#3349 Fix attempt for boot issue
  radio/src/opentx.cpp
  radio/src/storage/storage_common.cpp
  radio/src/targets/common/arm/stm32/bluetooth_driver.cpp
  radio/src/tasks/mixer_task.cpp
  radio/src/tasks/mixer_task.h
Labels: bug/regression ↩️

#3382 Various soft serial fixes
  radio/src/io/multi_firmware_update.cpp
  radio/src/targets/common/arm/stm32/stm32_pulse_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_softserial_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_usart_driver.cpp
Labels: bug/regression ↩️

#3374 fix: flashing X10E internal module and via S.PORT connector
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/io/frsky_firmware_update.cpp
Labels: bug/regression ↩️

#3322 fix(cpn) - Fix handling of logical switch 'Edge' parameters in Companion.
  companion/src/modeledit/logicalswitches.cpp
  companion/src/modeledit/logicalswitches.h
Labels: bug 🪲, companion

#3404 fix(color) - Some radio settings not triggering an update to the radio.yml file.
  radio/src/gui/colorlcd/radio_setup.cpp
Labels: bug 🪲, color

#3402 fix(build) - Fix for yaml generator on MacOS
  radio/util/generate_yaml.py
  tools/generate-yaml.sh
Labels: compilation

#3405 fix: BT not working
  radio/src/targets/common/arm/stm32/bluetooth_driver.cpp
Labels: bug/regression ↩️

#3344 feat(color) - Change Flight Mode list and edit views.
  companion/src/firmwares/opentx/opentxinterface.cpp
  radio/src/gui/colorlcd/model_flightmodes.cpp
  radio/src/gui/colorlcd/model_flightmodes.h
  radio/src/gui/gui_common.h
Labels: color, UX-UI

#3371 fix(cpn) - paste model to empty slot on B&W radios
  companion/src/apppreferencesdialog.ui
  companion/src/mdichild.cpp
  companion/src/mdichild.h
  companion/src/modelslist.cpp
  companion/src/modelslist.h
Labels: companion, bug/regression ↩️

#3373 fix(cpn) - load models into slot based on filename for B&W radios
  companion/src/storage/labeled.cpp
Labels: companion, bug/regression ↩️

#3416 DA radio and campion update
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#3245 better debug names on statistics page
  radio/src/gui/128x64/view_statistics.cpp
  radio/src/gui/212x64/view_statistics.cpp
  radio/src/gui/colorlcd/view_statistics.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨, color
