Repository EdgeTX/edgetx, pull requests merged in 2023-06, with the labels that each got.

#3663 fix(color) - Fix layout scroll issue with MPM protocol option settings.
  radio/src/gui/colorlcd/mpm_settings.cpp
Labels: bug 🪲, color

#3647 fix: Create `THEMES` dir if missing when creating a new theme
  radio/src/gui/colorlcd/theme_manager.cpp
Labels: bug 🪲, color

#3649 Robustness measure: HoTT telemetry gps latitude sign may be wrong
  radio/src/telemetry/hott.cpp
Labels: bug 🪲, telemetry

#3654 Solve the messy display after Boxer shutdown
  radio/src/targets/taranis/board.cpp
Labels: bug 🪲, B&W

#3619 Translation catchup
  companion/src/translations/companion_cs.ts
  companion/src/translations/companion_da.ts
  companion/src/translations/companion_de.ts
  companion/src/translations/companion_en.ts
  companion/src/translations/companion_es.ts
  companion/src/translations/companion_fi.ts
  companion/src/translations/companion_fr.ts
  companion/src/translations/companion_he.ts
  companion/src/translations/companion_it.ts
  companion/src/translations/companion_ja.ts
  companion/src/translations/companion_nl.ts
  companion/src/translations/companion_pl.ts
  companion/src/translations/companion_pt.ts
  companion/src/translations/companion_ru.ts
  companion/src/translations/companion_sv.ts
  companion/src/translations/companion_zh_CN.ts
  companion/src/translations/companion_zh_TW.ts
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/212x64/radio_setup.cpp
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#3636 SPORT power handling
  radio/src/gui/common/stdlcd/radio_hardware.cpp
  radio/src/gui/gui_common.cpp
  radio/src/gui/gui_common.h
Labels: B&W, bug/regression ↩️

#3670 fix(el18): Audio output should be OFF if no audio playing
  radio/src/audio.cpp
  radio/src/targets/nv14/audio_spi_driver.cpp
  radio/src/targets/nv14/board.cpp
  radio/src/targets/nv14/hal.h
Labels: bug 🪲

#3683 fix CPN: simulator crashes on selection of SBUS external module
  radio/src/pulses/sbus.cpp
Labels: bug 🪲

#3685 Fix BT sending crc non "byte stuffed"
  radio/src/bluetooth.cpp
Labels: bug 🪲

#3664 Translated theme text
  radio/src/gui/colorlcd/preview_window.h
  radio/src/gui/colorlcd/theme_manager.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#3698 fix(color) - Only reset Lua if changing PLAY SCRIPT special function
  radio/src/gui/colorlcd/special_functions.cpp
Labels: bug 🪲, color

#3694 fix(cpn): Add read/write for trainer multiplier in radio.yml
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
Labels: bug 🪲, companion

#3690 fix(telemetry-DSM): Fix for Flight Pack Monitor Sensor
  radio/src/telemetry/spektrum.cpp
Labels: telemetry, not-our-bug

#3501 fix(AFHDS3): Sync UI with Flysky AFHDS3 module stored settings
  companion/src/firmwares/edgetx/yaml_moduledata.cpp
  companion/src/firmwares/moduledata.h
  radio/src/datastructs_private.h
  radio/src/gui/colorlcd/afhds3_options.cpp
  radio/src/gui/colorlcd/flysky_settings.cpp
  radio/src/gui/colorlcd/flysky_settings.h
  radio/src/hal/module_port.h
  radio/src/pulses/afhds3.cpp
  radio/src/pulses/afhds3_config.h
  radio/src/pulses/afhds3_transport.cpp
  radio/src/pulses/afhds3_transport.h
  radio/src/pulses/modules_constants.h
  radio/src/storage/yaml/yaml_datastructs_boxer.cpp
  radio/src/storage/yaml/yaml_datastructs_lr3pro.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12mk2.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
  radio/src/telemetry/flysky_ibus.cpp
  radio/src/translations/untranslated.h
Labels: bug 🪲, enhancement ✨, color

#3671 fix: external MPM flash
  radio/src/io/multi_firmware_update.cpp
  radio/src/targets/common/arm/stm32/stm32_pulse_driver.cpp
Labels: bug/regression ↩️

#3699 Support changing module type from LUA model.setModule()
  radio/src/lua/api_model.cpp
Labels: lua-api

#3701 (re)enable mute for TX16S based on RM feedback
  radio/src/targets/horus/hal.h
Labels: partner

#3568 fix: 3POS switches on certain radios not detecting all switch positions
  radio/src/switches.cpp
  radio/src/targets/taranis/board.h
Labels: bug 🪲

#3704 fix: flash progress text stuck at device reset
  radio/src/gui/colorlcd/fullscreen_dialog.cpp
  radio/src/gui/colorlcd/fullscreen_dialog.h
Labels: color, bug/regression ↩️

#3659 feat(cpn): Add radio sort order edit and sorting models list by any column
  companion/src/firmwares/radiodata.cpp
  companion/src/firmwares/radiodata.h
  companion/src/mdichild.cpp
  companion/src/mdichild.h
  companion/src/modelslist.cpp
  companion/src/modelslist.h
Labels: enhancement ✨, companion

#3707 fix(cpn) - Fix input offset value saved to YAML file by companion.
  companion/src/firmwares/edgetx/yaml_expodata.cpp
Labels: bug 🪲, companion

#3643 UI: remove rssiSource and use default value
  companion/src/datamodels/compounditemmodels.cpp
  companion/src/datamodels/compounditemmodels.h
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/modeledit/modeledit.cpp
  companion/src/modeledit/telemetry.cpp
  companion/src/modeledit/telemetry.ui
  radio/src/gui/128x64/model_telemetry.cpp
  radio/src/gui/212x64/model_telemetry.cpp
  radio/src/storage/storage_common.cpp
  radio/src/telemetry/frsky_sport.cpp
Labels: telemetry

#3712 Simulator: do not allow launching if no radio profiles found
  companion/src/constants.h
  companion/src/simulation/simulatorstartupdialog.cpp
  companion/src/simulation/simulatorstartupdialog.ui
Labels: bug 🪲, simulator

#3713 fix(radio) - Fix rounding errors in ADC value calculation for 6POS switch.
  radio/src/hal/adc_driver.cpp
Labels: bug 🪲

#3710 CPN: user configurable audio mute in radio settings. Supports PR #3703
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/generaledit/hardware.cpp
  companion/src/translations/companion_cs.ts
  companion/src/translations/companion_da.ts
  companion/src/translations/companion_de.ts
  companion/src/translations/companion_en.ts
  companion/src/translations/companion_es.ts
  companion/src/translations/companion_fi.ts
  companion/src/translations/companion_fr.ts
  companion/src/translations/companion_he.ts
  companion/src/translations/companion_it.ts
  companion/src/translations/companion_ja.ts
  companion/src/translations/companion_nl.ts
  companion/src/translations/companion_pl.ts
  companion/src/translations/companion_pt.ts
  companion/src/translations/companion_ru.ts
  companion/src/translations/companion_sv.ts
  companion/src/translations/companion_zh_CN.ts
  companion/src/translations/companion_zh_TW.ts
Labels: companion

#3716 fix(b&w): Bootloader "USB Connected" alignment
  radio/src/targets/taranis/bootloader/boot_menu.cpp
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: B&W, bug/regression ↩️

#3687 Add RX OTA flash for frsky X10s & X12s.
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/colorlcd/radio_sdmanager.h
Labels: bug 🪲, color

#3719 feat: User configurable audio mute (#3703 port to main)
  radio/src/datastructs_private.h
  radio/src/gui/colorlcd/radio_hardware.cpp
  radio/src/gui/common/stdlcd/radio_hardware.cpp
  radio/src/storage/yaml/yaml_datastructs_128x64.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨
