Repository EdgeTX/edgetx, pull requests merged in 2023-02, with the labels that each got.

#3029 FRM303 support for EL18, branch 2.8, enhancement 2863
  radio/src/pulses/afhds3.cpp
  radio/src/pulses/afhds3_transport.cpp
  radio/src/pulses/afhds3_transport.h
Labels: enhancement ✨, hardware support

#3137 fix(color) - Fix footer layout in logical switch monitor page.
  radio/src/gui/colorlcd/view_logical_switches.cpp
Labels: color, bug/regression ↩️

#3123 chore: fix STM32 HAL headers
  radio/src/targets/common/arm/stm32/stm32_hal.h
Labels: compilation

#3129 fix(color) - Update translations for theme save and delete strings.
  radio/src/translations/cn.h
  radio/src/translations/tw.h
Labels: translation

#3128 Companion and radio: Qt changes and aligment in da.h
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#3070 fix(ui) - LVGL conversion for telemetry.
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/gui/colorlcd/model_telemetry.h
Labels: color

#3072 fix(ui) - LVGL flex conversion for statistics and debug pages.
  radio/src/gui/colorlcd/view_statistics.cpp
  radio/src/gui/colorlcd/view_statistics.h
Labels: color

#3132 fix(cpn): Save set main view screen number for special/global function
  companion/src/modeledit/customfunctions.cpp
Labels: bug 🪲, companion

#3071 fix(ui) - LVGL flex conversion for custom mixer scripts.
  radio/src/gui/colorlcd/model_mixer_scripts.cpp
Labels: color

#3121 PR2995 carryTrim cleanup
  companion/src/firmwares/edgetx/yaml_expodata.cpp
  radio/src/datastructs_private.h
  radio/src/storage/yaml/yaml_datastructs_boxer.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_lr3pro.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12mk2.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
  radio/src/storage/yaml/yaml_tree_walker.cpp
  tools/generate-yaml.sh
Labels: color, B&W, companion, bug/regression ↩️

#3122 fix(color): Duplicate selected theme, update color list
  radio/src/gui/colorlcd/radio_theme.cpp
Labels: bug 🪲, color

#3148 Updated SE translations
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#2994 feat(lua): port of NodeMCU Lua53 read-only tables
  radio/src/CMakeLists.txt
  radio/src/gui/common/stdlcd/draw_functions.cpp
  radio/src/lua/CMakeLists.txt
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/api_colorlcd.h
  radio/src/lua/api_filesystem.cpp
  radio/src/lua/api_filesystem.h
  radio/src/lua/api_general.cpp
  radio/src/lua/api_lcd.cpp
  radio/src/lua/api_model.cpp
  radio/src/lua/api_stdlcd.cpp
  radio/src/lua/interface.cpp
  radio/src/lua/lua_api.h
  radio/src/lua/lua_widget.cpp
  radio/src/lua/lua_widget_factory.cpp
  radio/src/lua/widgets.cpp
  radio/src/opentx.cpp
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/thirdparty/Lua/src/lapi.c
  radio/src/thirdparty/Lua/src/lauxlib.c
  radio/src/thirdparty/Lua/src/lauxlib.h
  radio/src/thirdparty/Lua/src/lbaselib.c
  radio/src/thirdparty/Lua/src/lbitlib.c
  radio/src/thirdparty/Lua/src/ldo.c
  radio/src/thirdparty/Lua/src/linit.c
  radio/src/thirdparty/Lua/src/liolib.c
  radio/src/thirdparty/Lua/src/llimits.h
  radio/src/thirdparty/Lua/src/lmathlib.c
  radio/src/thirdparty/Lua/src/lobject.h
  radio/src/thirdparty/Lua/src/lro_defs.h
  radio/src/thirdparty/Lua/src/lrotable.c
  radio/src/thirdparty/Lua/src/lrotable.h
  radio/src/thirdparty/Lua/src/lstate.c
  radio/src/thirdparty/Lua/src/lstate.h
  radio/src/thirdparty/Lua/src/lstrlib.c
  radio/src/thirdparty/Lua/src/ltable.c
  radio/src/thirdparty/Lua/src/ltable.h
  radio/src/thirdparty/Lua/src/ltablib.c
  radio/src/thirdparty/Lua/src/ltm.c
  radio/src/thirdparty/Lua/src/lua.h
  radio/src/thirdparty/Lua/src/luaconf.h
  radio/src/thirdparty/Lua/src/lundump.c
  radio/src/thirdparty/Lua/src/lvm.c
Labels: lua

#3169 chore: move __global_locale to FLASH
  radio/src/targets/taranis/stm32f2_flash.ld
  radio/src/targets/taranis/stm32f4_flash.ld
Labels: enhancement ✨

#3028 Unify telemetry driver for horus and nv14 targets for v2.8 branch, fix 2861
  radio/src/targets/common/arm/CMakeLists.txt
  radio/src/targets/common/arm/stm32/telemetry_driver.cpp
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/hal.h
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/targets/nv14/hal.h
  radio/src/targets/nv14/telemetry_driver.cpp
  radio/src/targets/taranis/CMakeLists.txt
Labels: telemetry

#2910 feat(cpn): Initial RM Boxer support
  companion/src/CMakeLists.txt
  companion/src/companion.qrc
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/images/simulator/Boxer/bottom.png
  companion/src/images/simulator/Boxer/left-pagedn.png
  companion/src/images/simulator/Boxer/left-pageup.png
  companion/src/images/simulator/Boxer/left-rtn.png
  companion/src/images/simulator/Boxer/left-sys.png
  companion/src/images/simulator/Boxer/left-tele.png
  companion/src/images/simulator/Boxer/left.png
  companion/src/images/simulator/Boxer/right-ent.png
  companion/src/images/simulator/Boxer/right-mdl.png
  companion/src/images/simulator/Boxer/right.png
  companion/src/images/simulator/Boxer/top.png
  companion/src/simulation/CMakeLists.txt
  companion/src/simulation/simulateduiwidget.h
  companion/src/simulation/simulateduiwidgetBoxer.cpp
  companion/src/simulation/simulateduiwidgetBoxer.ui
  companion/src/simulation/simulatorwidget.cpp
  tools/build-companion.sh
Labels: companion

#3179 2.8 hal tick fix
  radio/src/targets/common/arm/stm32/stm32_hal.cpp
  radio/src/targets/common/arm/stm32/timers_driver.cpp
  radio/src/targets/common/arm/stm32/timers_driver.h
Labels: bug 🪲

#3178 Hal tick fix
  radio/src/targets/common/arm/stm32/stm32_hal.cpp
  radio/src/targets/common/arm/stm32/timers_driver.cpp
  radio/src/targets/common/arm/stm32/timers_driver.h
  radio/src/targets/horus/board.cpp
  radio/src/targets/nv14/board.cpp
  radio/src/targets/nv14/hal.h
  radio/src/targets/taranis/board.cpp
Labels: bug 🪲

#3183 fix(color) - Use two rows for buttons when translation text is long (CZ)
  radio/src/gui/colorlcd/model_telemetry.cpp
Labels: bug 🪲, color

#3104 fix(ui) - Trainer setup layout
  radio/src/gui/colorlcd/radio_trainer.cpp
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
Labels: color, UX-UI

#3160 fix(cpn): Update firmware mapping of firmware id to repo
  companion/src/updates/updateinterface.cpp
Labels: bug 🪲, companion

#3173 fix(b&w): missing timer labels
  radio/src/translations/cz.h
  radio/src/translations/de.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
Labels: bug/regression ↩️

#3194 Se translation updates
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#3191 chore: remove useless files
  radio/src/thirdparty/windows/msinttypes/changelog.txt
  radio/src/thirdparty/windows/msinttypes/inttypes.h
  radio/src/thirdparty/windows/msinttypes/stdint.h
  radio/src/thirdparty/xdk-asf-3.31.0/sam/drivers/twi/twi.c
  radio/src/thirdparty/xdk-asf-3.31.0/sam/drivers/twi/twi.h
Labels: compilation

#3172 fix: sort mixer lines after loading model
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/modeldata.h
  radio/src/storage/storage_common.cpp
Labels: bug 🪲

#3171 fix: various issues related to IMU sensor
  radio/src/gyro.cpp
  radio/src/tasks.cpp
  radio/src/tasks/mixer_task.cpp
Labels: bug 🪲

#3156 fix: enable AUX1 power on TX16S with IMU_LSM6DS33
  radio/src/targets/common/arm/stm32/stm32_i2c_driver.cpp
  radio/src/targets/horus/hal.h
Labels: bug/regression ↩️

#3166 translation to telemetri plot (DK)
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#3197 fix: `loadRadioSettingsYaml` not honoring checks flag
  radio/src/storage/sdcard_yaml.cpp
  radio/src/storage/sdcard_yaml.h
Labels: bug/regression ↩️

#3200 fix(eeprom): EEPROM address register is 16bit
  radio/src/targets/taranis/eeprom_driver.cpp
Labels: bug/regression ↩️, storage

#3201 fix(boxer): Power LED sequence
  radio/src/opentx.h
  radio/src/targets/taranis/board.cpp
Labels: bug 🪲

#3203 fix(gh): Mac Cpn action dependency reorder
  .github/workflows/macosx_cpn.yml
Labels: ci/cd

#3177 Fix CRSF GPS heading precision
  radio/src/telemetry/crossfire.cpp
Labels: bug 🪲, telemetry

#3208 fix: logs not written to SD card and SpaceMouse not working
  radio/src/logs.cpp
  radio/src/spacemouse.cpp
Labels: bug 🪲

#3215 fix(yaml): the string compare only matched the number of characters f…
  radio/src/storage/yaml/yaml_tree_walker.cpp
Labels: bug 🪲

#3060 fix(lua) - Store and update the 'zone' rectangle for Lua widgets.
  radio/src/gui/colorlcd/widget.cpp
  radio/src/gui/colorlcd/widget.h
  radio/src/gui/colorlcd/widgets/widgets_container_impl.h
  radio/src/lua/lua_widget.cpp
  radio/src/lua/lua_widget.h
  radio/src/lua/lua_widget_factory.cpp
Labels: documentation, color, lua

#3181 feat(LUA): adds delete command to filesystem API
  radio/src/lua/api_filesystem.cpp
Labels: enhancement ✨, lua-api, lua

#3080 feat(ui): Value widget text alignment options
  companion/src/firmwares/customisation_data.cpp
  companion/src/firmwares/customisation_data.h
  radio/src/gui/colorlcd/widget_settings.cpp
  radio/src/gui/colorlcd/widgets/value.cpp
  radio/src/gui/colorlcd/zone.h
  radio/src/lua/api_general.cpp
  radio/src/lua/widgets.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: documentation, enhancement ✨, color, lua-api, widget

#3224 Addressing error: 'uint32_t' has not been declared
  radio/src/gui/colorlcd/str_functions.h
Labels: bug 🪲, compilation

#2935 fix(build): packaged openssl files
  .github/workflows/win-cpn-32.yml
  .github/workflows/win_cpn-64.yml
  companion/src/CMakeLists.txt
Labels: bug 🪲, companion

#3085 Convert simu/simulator/companion to SDL2
  .github/workflows/macosx_cpn.yml
  .github/workflows/win-cpn-32.yml
  .github/workflows/win_cpn-64.yml
  CMakeLists.txt
  cmake/NativeTargets.cmake
  companion/src/CMakeLists.txt
  companion/src/companion.cpp
  companion/src/simulation/CMakeLists.txt
  companion/src/simulation/joystick.cpp
  companion/src/simulator.cpp
  companion/targets/windows/companion.nsi.in
  radio/src/CMakeLists.txt
  radio/src/opentx.h
  radio/src/simu.cpp
  radio/src/targets/simu/CMakeLists.txt
  radio/src/targets/simu/simpgmspace.cpp
  radio/src/tests/CMakeLists.txt
  tools/build-companion.sh
  tools/msys2_fetch_and_build_all.sh
  tools/setup_buildenv_msys2_stage2.sh
  tools/setup_buildenv_ubuntu20.04.sh
Labels: simulator, compilation

#3232 fix(yaml): potential unaligned access when reading and writing switch…
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
Labels: bug 🪲, storage

#3189 fix(color) - Fix scroll wheel behaviour on inputs, mixes and outputs pages.
  radio/src/gui/colorlcd/model_inputs.cpp
  radio/src/gui/colorlcd/model_mixes.cpp
  radio/src/gui/colorlcd/model_outputs.cpp
Labels: color, UX-UI

#3126 #3125 Changes to DSM Telemetry to allow LUA scripts to do TextGen
  radio/src/telemetry/spektrum.cpp
Labels: lua-api, telemetry

#3237 feat(color) - Update long press handler on model select page.
  radio/src/gui/colorlcd/model_select.cpp
Labels: color, UX-UI, touch

#3246 fix(color) - Fix telemetry checks not running in simulator due to inverted logic.
  radio/src/tasks/mixer_task.cpp
Labels: bug/regression ↩️

#3210 feat(cpn) - Companion startup changes
  companion/src/companion.cpp
Labels: enhancement ✨, companion

#3139 Flysky gimbal support for Boxer
  radio/src/gui/128x64/radio_calibration.cpp
  radio/src/gui/128x64/radio_diaganas.cpp
  radio/src/gui/colorlcd/hw_inputs.cpp
  radio/src/gui/colorlcd/radio_diaganas.cpp
  radio/src/hal/adc_driver.cpp
  radio/src/hal/adc_driver.h
  radio/src/targets/common/arm/stm32/CMakeLists.txt
  radio/src/targets/common/arm/stm32/stm32_hal_adc.cpp
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/board.cpp
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/board.cpp
  radio/src/targets/taranis/hal.h
Labels: enhancement ✨, hardware support

#3135 fix(color) - Fixes and layout updates for theme pages.
  radio/src/gui/colorlcd/confirm_dialog.cpp
  radio/src/gui/colorlcd/listbox.h
  radio/src/gui/colorlcd/page.cpp
  radio/src/gui/colorlcd/page.h
  radio/src/gui/colorlcd/radio_theme.cpp
  radio/src/gui/colorlcd/radio_theme.h
  radio/src/gui/colorlcd/tabsgroup.cpp
  radio/src/gui/colorlcd/tabsgroup.h
  radio/src/gui/colorlcd/theme_manager.cpp
  radio/src/gui/colorlcd/theme_manager.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: color, UX-UI

#3270 fix(color,fr) - Fix missing comma in FR translation.
  radio/src/translations/fr.h
Labels: bug 🪲, translation

#3050 fix(cpn): hardware and internal module antenna parameters
  companion/src/firmwares/boards.h
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/generaledit/hardware.cpp
  companion/src/generaledit/hardware.h
  companion/src/modeledit/setup.cpp
Labels: bug 🪲, companion

#2946 Translate bootloader
  radio/src/targets/common/arm/stm32/bootloader/boot.h
  radio/src/targets/horus/bootloader/boot_menu.cpp
  radio/src/targets/nv14/bootloader/boot_menu.cpp
  radio/src/targets/taranis/bootloader/boot_menu.cpp
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#2875 Added support for FRM303, enhancement 2863
  radio/src/pulses/afhds3.cpp
  radio/src/pulses/afhds3_transport.cpp
  radio/src/pulses/afhds3_transport.h
Labels: enhancement ✨, hardware support
