Repository EdgeTX/edgetx, pull requests merged in 2023-11, with the labels that each got.

#4275 fix(color): Bootloader tick mark position.
  radio/src/targets/horus/bootloader/boot_menu.cpp
  radio/src/targets/nv14/bootloader/boot_menu.cpp
Labels: color, UX-UI

#4264 fix(radio): Don't update YAML files on SD card if radio in emergency mode
  radio/src/storage/sdcard_common.cpp
Labels: bug 🪲

#4250 fix(color): Refreshing of GPS and DATE_TIME telemetry when using Value Widget
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/telemetry/spektrum.cpp
  radio/src/telemetry/telemetry_sensors.cpp
Labels: bug 🪲, color, widget, telemetry 📶

#4277 feat: add support for Radiomaster MT12
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/actions.yml
  .github/workflows/nightly.yml
  radio/src/datastructs.h
  radio/src/gui/128x64/model_special_functions.cpp
  radio/src/lua/api_general.cpp
  radio/src/mixer.cpp
  radio/src/opentx.cpp
  radio/src/simu.cpp
  radio/src/targets/common/arm/stm32/bootloader/boot.cpp
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/board.h
  radio/src/targets/taranis/hal.h
  radio/src/targets/taranis/lcd_driver_spi.cpp
  radio/src/translations/en.h
  radio/util/build-firmware.py
  radio/util/fwoptions.py
  radio/util/hw_defs/legacy_names.py
  radio/util/hw_defs/pot_config.py
  radio/util/hw_defs/switch_config.py
  tools/build-gh.sh
  tools/build-radiomaster.py
Labels: hardware support

#4281 chore: Updates to Russian translations 🇷🇺
  radio/src/translations/ru.h
Labels: translation

#4274 fix(bw): 212x64 trainer page text overlap
  radio/src/gui/common/stdlcd/radio_trainer.cpp
Labels: UX-UI, B&W, bug/regression ↩️

#4027 chore(radio): Cleanup startup code.
  radio/src/CMakeLists.txt
  radio/src/gui/128x64/menus.h
  radio/src/gui/128x64/radio_diaganas.cpp
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/128x64/splash.cpp
  radio/src/gui/128x64/view_statistics.cpp
  radio/src/gui/212x64/menus.h
  radio/src/gui/212x64/radio_setup.cpp
  radio/src/gui/212x64/splash.cpp
  radio/src/gui/colorlcd/fullscreen_dialog.cpp
  radio/src/gui/colorlcd/fullscreen_dialog.h
  radio/src/gui/colorlcd/splash.cpp
  radio/src/gui/colorlcd/switch_warn_dialog.cpp
  radio/src/gui/colorlcd/switch_warn_dialog.h
  radio/src/gui/common/stdlcd/CMakeLists.txt
  radio/src/gui/common/stdlcd/features.h
  radio/src/gui/common/stdlcd/splash.cpp
  radio/src/gvars.cpp
  radio/src/gvars.h
  radio/src/main.cpp
  radio/src/opentx.cpp
  radio/src/opentx.h
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/nv14/board.h
  radio/src/targets/simu/simpgmspace.cpp
  radio/src/targets/simu/simpgmspace.h
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/tasks.cpp
  radio/src/timers.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨, house keeping 🧹

#4286 chore: Update static MPM defs to 1.3.3.33
  radio/src/MultiProtoDefs.h
  radio/src/MultiSubtypeDefs.h
Labels: enhancement ✨, house keeping 🧹

#4231 fix(radio): Custom mix script as SOURCE not parsed correctly
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
Labels: bug 🪲, storage

#4285 fix(color): No startup/shutdown haptic if haptic mode set to quiet
  radio/src/opentx.cpp
Labels: UX-UI, bug/regression ↩️

#4168 fix(lua): Do not pass key event that triggered telemetry view to lua
  radio/src/gui/colorlcd/standalone_lua.cpp
  radio/src/lua/interface.cpp
  radio/src/lua/lua_api.h
  radio/src/main.cpp
Labels: bug 🪲, lua

#4256 refactor(mixer): improve delays
  radio/src/mixer.cpp
  radio/src/tests/mixer.cpp
Labels: bug 🪲, rn: warning

#4293 fix(color): Toggle switch not valid for preflight
  radio/src/gui/colorlcd/preflight_checks.cpp
Labels: bug 🪲, color, UX-UI

#4296 fix(color): Crash in theme editor
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
Labels: color, bug/regression ↩️

#4288 chore: Remove some bloat, reduce firmware size
  radio/src/gui/colorlcd/CMakeLists.txt
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/gui/colorlcd/model_templates.cpp
  radio/src/gui/colorlcd/radio_theme.cpp
  radio/src/gui/colorlcd/str_functions.cpp
  radio/src/gui/colorlcd/str_functions.h
  radio/src/gui/colorlcd/theme_manager.h
  radio/src/lua/api_filesystem.cpp
  radio/src/storage/modelslist.cpp
  radio/src/thirdparty/Lua/src/lauxlib.c
  radio/src/thirdparty/Lua/src/luaconf.h
Labels: compilation, house keeping 🧹

#4298 fix(color): Theme change not updating all colors
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
Labels: color, bug/regression ↩️

#4270 chore(cpn): update to Qt 5.15.2 and rework application packaging
  .github/workflows/macosx_cpn.yml
  .github/workflows/win-cpn-32.yml
  .github/workflows/win_cpn-64.yml
  CMakeLists.txt
  cmake/FindDfuutil.cmake
  cmake/FindLibssl1.cmake
  cmake/FindLibusb1.cmake
  cmake/NativeTargets.cmake
  companion/src/CMakeLists.txt
  companion/src/CPackLinuxDeploy.cmake.in
  companion/src/CPackLinuxDeployQt.cmake.in
  companion/src/burnconfigdialog.cpp
  companion/src/companion.desktop.in
  companion/src/comparedialog.cpp
  companion/src/customizesplashdialog.cpp
  companion/src/dialogs/filesyncdialog.cpp
  companion/src/firmwares/eeprominterface.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/firmwares/radiodata.cpp
  companion/src/flashfirmwaredialog.cpp
  companion/src/helpers.cpp
  companion/src/labels.cpp
  companion/src/logsdialog.cpp
  companion/src/modeledit/edge.cpp
  companion/src/modeledit/mixerslistwidget.cpp
  companion/src/modeledit/setup.cpp
  companion/src/modelslist.cpp
  companion/src/printdialog.cpp
  companion/src/process_sync.cpp
  companion/src/simulation/debugoutput.ui
  companion/src/simulation/radiooutputswidget.cpp
  companion/src/simulation/simulateduiwidget.cpp
  companion/src/simulation/widgets/buttonswidget.h
  companion/src/simulation/widgets/radiowidget.cpp
  companion/src/simulator.cpp
  companion/src/simulator.desktop.in
  companion/src/storage/firmwareinterface.cpp
  companion/src/storage/labeled.cpp
  companion/src/updates/updatecompanion.cpp
  companion/src/updates/updatenetwork.cpp
  companion/targets/windows/companion.nsi.in
  companion/targets/windows/dfu-util.exe
  companion/targets/windows/libcrypto-1_1-x64.dll
  companion/targets/windows/libcrypto-1_1.dll
  companion/targets/windows/libssl-1_1-x64.dll
  companion/targets/windows/libssl-1_1.dll
  companion/targets/windows/libusb-1.0.dll
  companion/targets/windows/libusb0.dll
  tools/build-companion.sh
Labels: companion, house keeping 🧹

#4292 fix(cpn): Update Linux scalable icon
  companion/src/images/linuxicons/scalable/companion.svg
Labels: bug 🪲, UX-UI, companion

#4273 feat(cpn): Radio Type sorted alphabetically
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/opentx/opentxinterface.cpp
Labels: enhancement ✨, companion

#4267 chore: Remove unused LS_FUNC_RANGE, TimersContext
  companion/src/firmwares/rawswitch.h
  radio/src/gui/128x64/model_logical_switches.cpp
  radio/src/gui/212x64/model_logical_switches.cpp
  radio/src/gui/colorlcd/model_logical_switches.cpp
  radio/src/gui/gui_common.cpp
  radio/src/gui/gui_common.h
  radio/src/lua/api_general.cpp
  radio/src/myeeprom.h
  radio/src/storage/yaml/yaml_datastructs_128x64.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t20.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
Labels: companion, house keeping 🧹

#4276 feat(cpn): Extend Log Viewer x-axis time format to show milliseconds
  companion/src/logsdialog.cpp
Labels: enhancement ✨, companion

#4271 fix(cpn): Default calibration values for 6POS switch.
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/mdichild.cpp
Labels: bug 🪲, companion

#4282 chore: SE firmware and companion translation updates
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: companion, translation

#4304 chore(cpn): 2.9 Give SDL2 version of XCode it wants
  .github/workflows/macosx_cpn.yml
Labels: compilation, not-our-bug

#4306 fix(radio): Special/Global functions showing wrong function name
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: bug/regression ↩️

#4303 fix(cpn): Incorrect T5/T6 trims on TX16S
  companion/src/simulation/simulatorwidget.cpp
Labels: simulator, bug/regression ↩️

#4064 fix(color): Improvements to NV14/EL18 dead zone logic.
  radio/src/mixer.cpp
  radio/src/storage/storage_common.cpp
Labels: color, house keeping 🧹

#4307 fix(cpn): Model index missing in model list for B&W radios
  companion/src/modelslist.cpp
Labels: companion, bug/regression ↩️

#4289 fix(cpn): More general headline for RSSI warnings
  companion/src/modeledit/telemetry.ui
  companion/src/multimodelprinter.cpp
  companion/src/translations/companion_cs.ts
  companion/src/translations/companion_da.ts
  companion/src/translations/companion_de.ts
  companion/src/translations/companion_en.ts
  companion/src/translations/companion_es.ts
  companion/src/translations/companion_fi.ts
  companion/src/translations/companion_fr.ts
  companion/src/translations/companion_he.ts
  companion/src/translations/companion_it.ts
  companion/src/translations/companion_ja.ts
  companion/src/translations/companion_nl.ts
  companion/src/translations/companion_pl.ts
  companion/src/translations/companion_pt.ts
  companion/src/translations/companion_ru.ts
  companion/src/translations/companion_sv.ts
  companion/src/translations/companion_zh_CN.ts
  companion/src/translations/companion_zh_TW.ts
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨, companion

#4309 chore(cpn): 2.9 Win32 Companion bandaid
  .devcontainer/devcontainer.json
  .github/workflows/win-cpn-32.yml
  CMakeLists.txt
  cmake/FindLibssl1.cmake
  cmake/NativeTargets.cmake
  companion/src/CMakeLists.txt
  companion/targets/windows/companion.nsi.in
  companion/targets/windows/libcrypto-1_1-x64.dll
  companion/targets/windows/libcrypto-1_1.dll
  companion/targets/windows/libssl-1_1-x64.dll
  companion/targets/windows/libssl-1_1.dll
Labels: companion, compilation

#4310 fix: LUA legacy input names
  radio/util/hw_defs/lua_inputs.jinja
Labels: lua-api, bug/regression ↩️

#4226 fest(nv14/el18): Add potentiometer gimbal support
  radio/src/targets/nv14/hal.h
Labels: enhancement ✨

#2219 feat(color): Show index and name (when set) for GVs in input source
  radio/src/strhelpers.cpp
Labels: enhancement ✨, color, UX-UI

#3965 fix(yaml): properly escape double quotes
  companion/src/firmwares/modeldata.h
  radio/src/storage/yaml/yaml_parser.cpp
  radio/src/storage/yaml/yaml_tree_walker.cpp
  radio/src/tests/model.cpp
Labels: bug 🪲, companion

#4239 fix(radio): Don't allow negative values for V2 on LS functions '|x|>y', '|x|<y' and '|dx|>=y'
  radio/src/gui/128x64/model_logical_switches.cpp
  radio/src/gui/212x64/model_logical_switches.cpp
  radio/src/gui/colorlcd/model_logical_switches.cpp
Labels: bug 🪲, UX-UI

#4308 chore(color): Update CN, TW, JP, HE and RU font files.
  radio/src/fonts/lvgl/get_char_ck.py
  radio/src/fonts/lvgl/get_char_he.py
  radio/src/fonts/lvgl/get_char_jp.py
  radio/src/fonts/lvgl/get_char_ru.py
  radio/src/fonts/lvgl/lv_font_arimo_he_13.c
  radio/src/fonts/lvgl/lv_font_arimo_he_16.c
  radio/src/fonts/lvgl/lv_font_arimo_he_24.bin
  radio/src/fonts/lvgl/lv_font_arimo_he_9.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_16.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_32.bin
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_64.bin
  radio/src/fonts/lvgl/lv_font_arimo_ru_13.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_16.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_24.bin
  radio/src/fonts/lvgl/lv_font_arimo_ru_9.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_16.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_32.bin
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_64.bin
  radio/src/fonts/lvgl/lv_font_noto_cn_13.c
  radio/src/fonts/lvgl/lv_font_noto_cn_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_24.bin
  radio/src/fonts/lvgl/lv_font_noto_cn_9.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_32.bin
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_64.bin
  radio/src/fonts/lvgl/lv_font_noto_jp_13.c
  radio/src/fonts/lvgl/lv_font_noto_jp_16.c
  radio/src/fonts/lvgl/lv_font_noto_jp_24.bin
  radio/src/fonts/lvgl/lv_font_noto_jp_9.c
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_32.bin
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_64.bin
  radio/src/fonts/lvgl/lv_font_noto_tw_13.c
  radio/src/fonts/lvgl/lv_font_noto_tw_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_24.bin
  radio/src/fonts/lvgl/lv_font_noto_tw_9.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_32.bin
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_64.bin
  radio/src/fonts/lvgl/make_fonts.sh
Labels: color, house keeping 🧹

#4312 chore(color): Remove unused bitmaps
  radio/src/bitmaps/480x272/default_theme/alpha_trackp_background.png
  radio/src/bitmaps/480x272/default_theme/mask_asterisk.png
  radio/src/bitmaps/480x272/default_theme/mask_back.png
  radio/src/bitmaps/480x272/default_theme/mask_model_select_category.png
  radio/src/bitmaps/480x272/default_theme/mask_modelname.png
  radio/src/bitmaps/480x272/default_theme/mask_modelqty.png
  radio/src/bitmaps/480x272/default_theme/mask_monitor_mixes1.png
  radio/src/bitmaps/480x272/default_theme/mask_monitor_mixes2.png
  radio/src/bitmaps/480x272/default_theme/mask_moveback.png
  radio/src/bitmaps/480x272/default_theme/mask_moveico.png
  radio/src/bitmaps/480x272/default_theme/mask_next.png
  radio/src/bitmaps/480x272/default_theme/mask_sbar_mixer.png
  radio/src/bitmaps/480x272/default_theme/mask_sbar_output.png
  radio/src/bitmaps/480x272/default_theme/mask_sbar_to.png
  radio/src/bitmaps/480x272/default_theme/mask_sdfree.png
  radio/src/bitmaps/480x272/default_theme/mask_stats_lua.png
  radio/src/bitmaps/480x272/default_theme/mask_stats_value.png
  radio/src/bitmaps/480x272/default_theme/mask_switches.png
  radio/src/bitmaps/480x272/default_theme/mask_textline_delay.png
  radio/src/bitmaps/480x272/default_theme/mask_textline_delayslow.png
  radio/src/bitmaps/480x272/default_theme/mask_textline_label.png
  radio/src/bitmaps/480x272/default_theme/mask_textline_slow.png
  radio/src/bitmaps/480x272/default_theme/mask_textline_switch.png
  radio/src/gui/colorlcd/bitmaps.cpp
  radio/src/gui/colorlcd/bitmaps.h
  radio/src/gui/colorlcd/menus.h
  radio/src/gui/colorlcd/model_mixes.cpp
Labels: color, house keeping 🧹

#4326 fix: external module power for SBUS trainer
  radio/src/targets/common/arm/stm32/trainer_driver.cpp
Labels: bug 🪲

#4327 chore: Update IT translation - delete, cancel
  radio/src/translations/it.h
Labels: translation

#4319 chore(color): Cleanup bitmap code.
  radio/src/gui/colorlcd/draw_functions.cpp
  radio/src/lua/api_colorlcd.cpp
  radio/src/strhelpers.cpp
  radio/src/strhelpers.h
  radio/src/thirdparty/libopenui/src/bitmapbuffer.cpp
  radio/src/thirdparty/libopenui/src/bitmapbuffer.h
Labels: color, house keeping 🧹

#4318 fix(color): Button matrix styling
  radio/src/gui/colorlcd/fm_matrix.cpp
  radio/src/gui/colorlcd/model_usbjoystick.cpp
  radio/src/gui/colorlcd/preflight_checks.cpp
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/thirdparty/libopenui/src/button_matrix.cpp
Labels: color, UX-UI

#4321 fix(color): Backlight randomly turns back on when no user input.
  radio/src/inactivity_timer.cpp
Labels: bug/regression ↩️

#4320 feat(color): Quick menu styling.
  radio/src/bitmaps/480x272/button/alpha_button_on.png
  radio/src/gui/colorlcd/CMakeLists.txt
  radio/src/gui/colorlcd/fab_button.cpp
  radio/src/gui/colorlcd/fab_button.h
  radio/src/gui/colorlcd/libopenui.h
  radio/src/gui/colorlcd/select_fab_button.cpp
  radio/src/gui/colorlcd/select_fab_button.h
  radio/src/gui/colorlcd/select_fab_carousel.cpp
  radio/src/gui/colorlcd/select_fab_carousel.h
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/gui/colorlcd/view_main_menu.cpp
  radio/src/gui/colorlcd/view_main_menu.h
  radio/src/thirdparty/libopenui/src/widgets/etx_obj_create.h
Labels: color, UX-UI, house keeping 🧹

#4317 fix(color): New inputs disappear until restart.
  radio/src/gui/colorlcd/model_inputs.cpp
Labels: bug 🪲, color

#4328 fix(el18): Missing icon in bootloader
  radio/src/fonts/lvgl/lv_font_roboto_bl_16.c
  radio/src/fonts/lvgl/make_fonts.sh
Labels: color, bug/regression ↩️

#3317 feat: Flysky gimbal support for X9D+2019
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/hal.h
Labels: enhancement ✨, hardware-mod

#4329 fix(color): Spectrum analyser layout is incorrect.
  radio/src/gui/colorlcd/radio_spectrum_analyser.cpp
Labels: bug 🪲, color, UX-UI

#4330 fix(color): New input popup not showing all empty inputs.
  radio/src/gui/colorlcd/model_inputs.cpp
Labels: bug 🪲, color

#4332 fix(color): Quick menu does not close properly.
  radio/src/gui/colorlcd/view_main_menu.cpp
Labels: bug/regression ↩️

#4335 fix(color): Incorrect scroll position on quick menu if model has notes
  radio/src/gui/colorlcd/view_main_menu.cpp
Labels: color, bug/regression ↩️

#4331 fix(color): Formatting of text on controls warning dialog
  radio/src/gui/colorlcd/fullscreen_dialog.cpp
  radio/src/gui/colorlcd/switch_warn_dialog.cpp
  radio/src/targets/horus/libopenui_config.h
  radio/src/targets/nv14/libopenui_config.h
Labels: bug 🪲, color, UX-UI

#4342 fix(color): Pre-flight check page does not always update.
  radio/src/gui/colorlcd/preflight_checks.cpp
Labels: bug 🪲, color

#4344 fix(color): `TELE` navigation issue when editing top bar widgets
  radio/src/gui/colorlcd/screen_user_interface.cpp
  radio/src/gui/colorlcd/topbar.cpp
  radio/src/gui/colorlcd/topbar.h
Labels: bug 🪲, color, UX-UI

#4356 feat(color): Don't show popup when adding a widget to an empty slot.
  radio/src/gui/colorlcd/widgets_setup.cpp
  radio/src/gui/colorlcd/widgets_setup.h
Labels: color, UX-UI

#4345 fix(color): Progress bar position/size on firmware flasher dialog
  radio/src/gui/colorlcd/radio_sdmanager.cpp
Labels: bug 🪲, color, UX-UI

#4313 feat(color): Manage Models page styling
  radio/src/bitmaps/480x272/default_theme/mask_sort_alpha_down.png
  radio/src/bitmaps/480x272/default_theme/mask_sort_alpha_up.png
  radio/src/bitmaps/480x272/default_theme/mask_sort_date_down.png
  radio/src/bitmaps/480x272/default_theme/mask_sort_date_up.png
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_select.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: color, UX-UI

#4347 feat(color): Revert back to using embedded fonts.
  radio/src/fonts/lvgl/lv_font_arimo_he_24.bin
  radio/src/fonts/lvgl/lv_font_arimo_he_24.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_16.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_32.bin
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_32.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_64.bin
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_64.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_24.bin
  radio/src/fonts/lvgl/lv_font_arimo_ru_24.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_16.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_32.bin
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_32.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_64.bin
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_64.c
  radio/src/fonts/lvgl/lv_font_noto_cn_24.bin
  radio/src/fonts/lvgl/lv_font_noto_cn_24.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_32.bin
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_32.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_64.bin
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_64.c
  radio/src/fonts/lvgl/lv_font_noto_jp_24.bin
  radio/src/fonts/lvgl/lv_font_noto_jp_24.c
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_32.bin
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_32.c
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_64.bin
  radio/src/fonts/lvgl/lv_font_noto_jp_bold_64.c
  radio/src/fonts/lvgl/lv_font_noto_tw_24.bin
  radio/src/fonts/lvgl/lv_font_noto_tw_24.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_32.bin
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_32.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_64.bin
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_64.c
  radio/src/fonts/lvgl/lv_font_roboto_24.bin
  radio/src/fonts/lvgl/lv_font_roboto_24.c
  radio/src/fonts/lvgl/lv_font_roboto_bold_16.c
  radio/src/fonts/lvgl/lv_font_roboto_bold_32.bin
  radio/src/fonts/lvgl/lv_font_roboto_bold_32.c
  radio/src/fonts/lvgl/lv_font_roboto_bold_64.bin
  radio/src/fonts/lvgl/lv_font_roboto_bold_64.c
  radio/src/fonts/lvgl/make_fonts.sh
  radio/src/gui/colorlcd/fonts.cpp
  radio/src/lv_conf.h
Labels: color

#4354 fix(color): Closing keyboard also closes underlying page.
  radio/src/gui/colorlcd/page.cpp
  radio/src/gui/colorlcd/tabsgroup.cpp
  radio/src/thirdparty/libopenui/src/keyboard_base.cpp
  radio/src/thirdparty/libopenui/src/keyboard_base.h
  radio/src/thirdparty/libopenui/src/modal_window.cpp
Labels: color, UX-UI

#4355 feat(color): Shortcut keys for text keyboard.
  radio/src/gui/colorlcd/LvglWrapper.cpp
  radio/src/thirdparty/libopenui/src/keyboard_base.h
  radio/src/thirdparty/libopenui/src/keyboard_number.cpp
  radio/src/thirdparty/libopenui/src/keyboard_number.h
  radio/src/thirdparty/libopenui/src/keyboard_text.cpp
Labels: color, UX-UI

#4362 fix(color): Long press and filtering in new Switch Choice popup.
  radio/src/gui/colorlcd/switchchoice.cpp
  radio/src/gui/colorlcd/switchchoice.h
  radio/src/thirdparty/libopenui/src/choice.cpp
  radio/src/thirdparty/libopenui/src/choice.h
Labels: bug 🪲, color

#4370 fix(color): Clipping of checkbox on pre-flight checklist.
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/gui/colorlcd/view_text.cpp
Labels: bug 🪲, color, UX-UI
