Repository EdgeTX/edgetx, pull requests merged in 2023-05, with the labels that each got.

#3556 fix: FLASH overflow detection
  radio/src/targets/horus/stm32f4_flash.ld
  radio/src/targets/taranis/stm32f2_flash.ld
  radio/src/targets/taranis/stm32f4_flash.ld
Labels: bug 🪲, compilation

#3549 Formating the sd card is a bad idea with EdgeTX
  radio/src/gui/common/stdlcd/radio_sdmanager.cpp
  radio/src/sdcard.cpp
  radio/src/sdcard.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: bug/regression ↩️

#3550 [2.8] Formating the sd card is a bad idea with EdgeTX
  radio/src/gui/common/stdlcd/radio_sdmanager.cpp
  radio/src/sdcard.cpp
  radio/src/sdcard.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: bug 🪲, compilation

#3555 [2.8] fix: FLASH overflow detection
  radio/src/targets/horus/stm32f4_flash.ld
  radio/src/targets/taranis/stm32f2_flash.ld
  radio/src/targets/taranis/stm32f4_flash.ld
Labels: bug 🪲, compilation

#3513 fix: signal polarity for soft-serial & timer based protocols
  radio/src/pulses/multi.cpp
  radio/src/pulses/ppm.cpp
  radio/src/targets/common/arm/stm32/module_timer_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_pulse_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_softserial_driver.cpp
Labels: bug/regression ↩️

#3544 fix(color) - Update GV value in header when precision changes.
  radio/src/gui/colorlcd/model_gvars.cpp
Labels: bug 🪲, color

#3540 fix: LUA ignoring GVAR precision
  radio/src/lua/api_general.cpp
Labels: bug 🪲, lua

#3536 fix(radio) - Fix key names for Boxer.
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: bug 🪲

#3563 fix(color) Fixes for GVAR edit page.
  radio/src/gui/colorlcd/model_gvars.cpp
Labels: bug 🪲, color

#3521 Workaround for 'lastopened' value not loaded on startup if stored hash not up to date.
  radio/src/storage/yaml/yaml_labelslist.cpp
Labels: bug 🪲, color

#3548 fix(color) - Fix incorrect Lua memory usage values.
  radio/src/gui/colorlcd/view_statistics.cpp
Labels: bug 🪲, color

#3432 feat(cpn) Radio types can reference any libsim and/or firmware download id
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/firmwares/opentx/opentxinterface.h
  companion/src/helpers.cpp
  companion/src/simulation/simulator.h
  companion/src/simulation/simulatorinterface.cpp
  companion/src/simulation/simulatorinterface.h
  companion/src/simulation/simulatormainwindow.cpp
  companion/src/simulation/simulatormainwindow.h
  companion/src/simulation/simulatorstartupdialog.cpp
  companion/src/simulation/simulatorstartupdialog.h
  companion/src/simulation/simulatorstartupdialog.ui
  companion/src/simulation/simulatorwidget.cpp
  companion/src/simulator.cpp
  companion/src/updates/updateinterface.cpp
  radio/src/targets/simu/opentxsimulator.cpp
Labels: enhancement ✨, companion, simulator, bug/regression ↩️

#3577 fix(color) - Fix 'Custom Mixer Scripts' filter not shown is source selection menu.
  radio/src/gui/colorlcd/sourcechoice.cpp
Labels: bug 🪲, color

#3254 TLite F4
  .github/workflows/actions.yml
  .github/workflows/nightly.yml
  companion/src/CMakeLists.txt
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/simulation/simulatorwidget.cpp
  fw.json
  radio/src/stamp.cpp
  radio/src/targets/taranis/CMakeLists.txt
  tools/build-companion.sh
  tools/build-gh.sh
  tools/build-jumper.py
  tools/commit-tests.sh
Labels: hardware support

#3461 chore: Update French translations
  radio/src/translations/fr.h
Labels: translation

#3505 Review IT
  radio/src/translations/it.h
Labels: translation

#3511 Hebrew audio pack - selection support
  radio/src/CMakeLists.txt
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tts_he.cpp
  radio/src/translations/tw.h
Labels: enhancement ✨, translation

#3585 fix(cpn): T-Lite F4 board capability logic test
  companion/src/firmwares/boards.cpp
Labels: bug 🪲, companion

#3586 feat(cpn): Add Hebrew voice to radio settings
  companion/src/generaledit/generalsetup.cpp
Labels: enhancement ✨, companion

#3587 feat(cpn): update supported radio ui languages
  companion/src/apppreferencesdialog.ui
  companion/src/firmwares/opentx/opentxinterface.h
Labels: enhancement ✨, companion

#3581 Companion + radio - DA update
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#3506 Hebrew radio translation 🇮🇱
  companion/src/firmwares/opentx/opentxinterface.h
  radio/src/CMakeLists.txt
  radio/src/fonts/Arimo/Arimo-Bold.ttf
  radio/src/fonts/Arimo/Arimo-Regular.ttf
  radio/src/fonts/lvgl/lv_font_arimo_he_13.c
  radio/src/fonts/lvgl/lv_font_arimo_he_14.c
  radio/src/fonts/lvgl/lv_font_arimo_he_15.c
  radio/src/fonts/lvgl/lv_font_arimo_he_16.c
  radio/src/fonts/lvgl/lv_font_arimo_he_17.c
  radio/src/fonts/lvgl/lv_font_arimo_he_24.c
  radio/src/fonts/lvgl/lv_font_arimo_he_9.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_16.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_17.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_32.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_64.c
  radio/src/fonts/lvgl/make_fonts.sh
  radio/src/gui/colorlcd/fonts.cpp
  radio/src/lv_conf.h
  radio/src/translations.h
  radio/src/translations/he.h
  tools/charset.py
Labels: color, translation

#3584 Translation of range test
  radio/src/gui/colorlcd/module_setup.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#3566 fix(cpn): simulate from model only yml file
  companion/src/storage/yaml.cpp
Labels: bug 🪲, companion

#3383 chore(cpn) - Fix compiler warnings when building Companion.
  companion/src/storage/firmwareinterface.cpp
  companion/src/storage/rlefile.cpp
  companion/src/storage/rlefile.h
  companion/src/updates/repodatamodels.cpp
  companion/src/updates/repodatamodels.h
  companion/src/updates/repometadata.cpp
  companion/src/updates/reporeleases.h
  companion/src/updates/updateinterface.cpp
  companion/src/updates/updatenetwork.cpp
Labels: companion, compilation

#3567 fix(radio) - Fix SF 'Play Sound' not working on startup.
  radio/src/functions.cpp
Labels: bug 🪲

#3352 Support for external Multiplex MLink JR type module
  companion/src/firmwares/edgetx/yaml_moduledata.cpp
  companion/src/firmwares/moduledata.cpp
  companion/src/firmwares/moduledata.h
  companion/src/modeledit/setup.cpp
  companion/src/modelprinter.cpp
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/module_setup.cpp
  radio/src/hal/module_driver.h
  radio/src/pulses/modules_constants.h
  radio/src/pulses/ppm.cpp
  radio/src/pulses/ppm.h
  radio/src/pulses/pulses.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/telemetry/mlink.cpp
  radio/src/telemetry/mlink.h
  radio/src/telemetry/multi.cpp
  radio/src/telemetry/telemetry_sensors.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/untranslated.h
Labels: hardware support

#3547 fix(color) - Fix memory leaks when using 'USB Storage (SD)' connection.
  radio/src/gui/colorlcd/themes/480_default.cpp
  radio/src/thirdparty/Lua/src/lstate.c
Labels: bug 🪲, color

#3603 fix(radio) - Include internal module type in backup data for EM so radio re-connects to receiver.
  radio/src/datastructs_private.h
Labels: bug 🪲

#3435 fix: single and updated source of Multi protocol definitions
  companion/src/firmwares/edgetx/yaml_moduledata.cpp
  companion/src/firmwares/moduledata.h
  companion/src/firmwares/multiprotocols.cpp
  companion/src/firmwares/multiprotocols.h
  companion/src/modeledit/setup.cpp
  companion/src/modeledit/setup.h
  companion/src/modeledit/setup_module.ui
  radio/src/MultiProtoDefs.h
  radio/src/MultiSubtypeDefs.h
  radio/src/datastructs_private.h
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/mpm_settings.cpp
  radio/src/gui/gui_common.cpp
  radio/src/gui/gui_common.h
  radio/src/io/multi_protolist.cpp
  radio/src/model_init.cpp
  radio/src/pulses/modules_constants.h
  radio/src/pulses/modules_helpers.h
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/targets/taranis/bind_button_driver.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/untranslated.h
Labels: companion, compilation

#3504 fix: MPM protocol options missing in various protocols
  radio/src/gui/colorlcd/mpm_settings.cpp
  radio/src/io/multi_protolist.cpp
  radio/src/io/multi_protolist.h
Labels: bug 🪲

#3616 chore: Re-enable HELI since now runtime option
  radio/src/CMakeLists.txt
Labels: compilation

#3608 fix(color) - Fix colors when theme is changed.
  radio/src/gui/colorlcd/model_flightmodes.cpp
  radio/src/gui/colorlcd/model_gvars.cpp
  radio/src/gui/colorlcd/model_gvars.h
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/gui/colorlcd/themes/480_default.cpp
Labels: color, bug/regression ↩️

#3580 fix(cpn): write sort order and selected labels
  companion/src/firmwares/edgetx/edgetxinterface.cpp
  companion/src/firmwares/edgetx/edgetxinterface.h
  companion/src/firmwares/radiodata.cpp
  companion/src/firmwares/radiodata.h
  companion/src/labels.cpp
  companion/src/storage/labeled.cpp
Labels: bug 🪲, companion

#3618 Build CN & TW font library, and complete missing Chinese characters.
  radio/src/fonts/lvgl/lv_font_arimo_he_13.c
  radio/src/fonts/lvgl/lv_font_arimo_he_16.c
  radio/src/fonts/lvgl/lv_font_arimo_he_17.c
  radio/src/fonts/lvgl/lv_font_arimo_he_24.c
  radio/src/fonts/lvgl/lv_font_arimo_he_9.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_16.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_17.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_32.c
  radio/src/fonts/lvgl/lv_font_arimo_he_bold_64.c
  radio/src/fonts/lvgl/lv_font_noto_cn_13.c
  radio/src/fonts/lvgl/lv_font_noto_cn_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_17.c
  radio/src/fonts/lvgl/lv_font_noto_cn_24.c
  radio/src/fonts/lvgl/lv_font_noto_cn_9.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_17.c
  radio/src/fonts/lvgl/lv_font_noto_cn_bold_32.c
  radio/src/fonts/lvgl/lv_font_noto_tw_13.c
  radio/src/fonts/lvgl/lv_font_noto_tw_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_17.c
  radio/src/fonts/lvgl/lv_font_noto_tw_24.c
  radio/src/fonts/lvgl/lv_font_noto_tw_9.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_16.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_17.c
  radio/src/fonts/lvgl/lv_font_noto_tw_bold_32.c
  radio/src/fonts/lvgl/make_fonts.sh
Labels: translation

#3598 Fix: first channel omitted in PPM stream
  radio/src/targets/common/arm/stm32/module_timer_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_pulse_driver.cpp
Labels: bug 🪲

#3615 fix (telemetry): DSM Telemetry fix for ESC sensor, Binary GPS, RX Battery Sensor Capacity metter
  radio/src/telemetry/spektrum.cpp
  radio/src/translations/untranslated.h
Labels: bug 🪲, telemetry

#3622 fix: Auto adjust PPM frame length
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/channel_range.cpp
  radio/src/gui/colorlcd/channel_range.h
  radio/src/gui/colorlcd/module_setup.cpp
  radio/src/gui/colorlcd/ppm_settings.cpp
  radio/src/gui/colorlcd/ppm_settings.h
  radio/src/gui/colorlcd/trainer_setup.cpp
  radio/src/pulses/modules_helpers.h
Labels: color, UX-UI

#3620 fix: Remove double `cli` option text
  radio/src/options.h
  radio/src/targets/taranis/CMakeLists.txt
Labels: bug 🪲, UX-UI

#3631 fix(color) - Show/hide the 'Delete All' button on the telemetry page.
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/gui/colorlcd/model_telemetry.h
Labels: color, bug/regression ↩️
