Repository EdgeTX/edgetx, pull requests merged in 2023-01, with the labels that each got.

#2962 fix(ui) - Fix layout size issue (#2961) and improve code readability.
  radio/src/gui/colorlcd/layouts/layout_factory_impl.cpp
  radio/src/gui/colorlcd/layouts/layout_factory_impl.h
Labels: color, bug/regression ↩️

#2947 Fix display of 6POS display. (#2943)
  radio/src/gui/colorlcd/layouts/sliders.cpp
Labels: color, bug/regression ↩️

#2944 fix(ui) - Make button colors consistent
  radio/src/gui/colorlcd/LvglWrapper.cpp
  radio/src/gui/colorlcd/LvglWrapper.h
  radio/src/gui/colorlcd/fm_matrix.cpp
  radio/src/gui/colorlcd/fm_matrix.h
  radio/src/gui/colorlcd/gvar_numberedit.cpp
  radio/src/gui/colorlcd/gvar_numberedit.h
  radio/src/gui/colorlcd/preflight_checks.cpp
Labels: color, UX-UI

#2931 feat(color): Confirm before duplicate or saving model as template
  radio/src/gui/colorlcd/model_select.cpp
Labels: enhancement ✨, color, UX-UI

#2969 Fix precision for V2 in TIMER LS (#2966)
  radio/src/gui/colorlcd/model_logical_switches.cpp
Labels: bug 🪲, color

#2979 fix(lua) - Add missing switch and countdownStart properties to timer functions
  radio/src/lua/api_model.cpp
Labels: bug 🪲, lua-api

#2945 chore(ui): convert gvars window to LVGL
  radio/src/gui/colorlcd/model_gvars.cpp
  radio/src/gui/colorlcd/model_gvars.h
Labels: color

#2956 fix(ui) - Adjust model setup layout to better fit on portrait LCD screen.
  radio/src/gui/colorlcd/model_setup.cpp
Labels: color, UX-UI

#2973 fix(color) - Layout updates and bug fixes for curve editor.
  radio/src/gui/colorlcd/curve.cpp
  radio/src/gui/colorlcd/curve.h
  radio/src/gui/colorlcd/curve_param.cpp
  radio/src/gui/colorlcd/curve_param.h
  radio/src/gui/colorlcd/curveedit.cpp
  radio/src/gui/colorlcd/curveedit.h
  radio/src/gui/colorlcd/input_edit.cpp
  radio/src/gui/colorlcd/mixer_edit.cpp
  radio/src/gui/colorlcd/model_curves.cpp
Labels: enhancement ✨, color

#2978 lua: fix drawHudRectangle for roll = 0
  radio/src/lua/api_colorlcd.cpp
Labels: bug 🪲, lua-api

#2995 Fix carryTrim in LUA
  radio/src/datastructs_private.h
  radio/src/gui/128x64/model_input_edit.cpp
  radio/src/gui/212x64/model_input_edit.cpp
  radio/src/gui/colorlcd/input_edit_adv.cpp
  radio/src/gui/colorlcd/input_source.cpp
  radio/src/gui/common/stdlcd/model_inputs.cpp
  radio/src/lua/api_model.cpp
  radio/src/mixer.cpp
  radio/src/opentx.cpp
  radio/src/tests/mixer.cpp
Labels: lua-api

#3037 fix(ui) - Update date & time in top bar on model and radio setup pages.
  radio/src/gui/colorlcd/tabsgroup.cpp
Labels: bug 🪲, color, UX-UI

#3004 Fixed overlapping strings due to line breaks
  radio/src/translations/jp.h
Labels: translation

#2998 Translate OFF in external module setup
  companion/src/firmwares/moduledata.cpp
  companion/src/translations/companion_da.ts
Labels: companion, translation

#3053 Danish translation - minor changes
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#3025 fix(cpn): Enforce file extensions on models and settings save and model export
  companion/src/mdichild.cpp
Labels: bug 🪲, companion

#3020 fix(cpn) - Delete old models from radio before saving new models
  companion/src/storage/labeled.cpp
Labels: bug 🪲, companion

#2985 fix (ui) - Fix crash on model inputs and model mixes pages if limit on mixes/expos reached.
  radio/src/gui/colorlcd/model_inputs.cpp
  radio/src/gui/colorlcd/model_inputs.h
  radio/src/gui/colorlcd/model_mixes.cpp
  radio/src/gui/colorlcd/model_mixes.h
Labels: bug 🪲, color

#3026 fix(ui,cpn) - Fix error in value conversion when loading logical switch data.
  companion/src/firmwares/edgetx/yaml_logicalswitchdata.cpp
  companion/src/firmwares/edgetx/yaml_rawswitch.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
Labels: bug 🪲, companion, storage

#3049 fix(ui) - Fix update of V3 when V2 is modified whilst editing a logical switch.
  radio/src/gui/colorlcd/model_logical_switches.cpp
Labels: bug 🪲, color, UX-UI

#2990 chore(bw): fix doubled CRC table in flash
  radio/src/crc.cpp
  radio/src/crc.h
  radio/src/pulses/pxx1.h
Labels: enhancement ✨

#3059 Cleanup title display logic on various pages.
  radio/src/gui/colorlcd/curveedit.cpp
  radio/src/gui/colorlcd/model_gvars.cpp
  radio/src/gui/colorlcd/model_logical_switches.cpp
  radio/src/gui/colorlcd/model_mixer_scripts.cpp
  radio/src/gui/colorlcd/model_telemetry.cpp
  radio/src/gui/colorlcd/radio_calibration.cpp
  radio/src/gui/colorlcd/special_functions.cpp
Labels: color

#3064 Redo PR2583
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: translation

#2711 Seconds count down for timer show elapsed option and Voice/Haptic support
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/timerdata.cpp
  companion/src/firmwares/timerdata.h
  radio/src/audio.cpp
  radio/src/dataconstants.h
  radio/src/datastructs_private.h
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/timer_setup.cpp
  radio/src/lua/api_model.cpp
  radio/src/storage/yaml/yaml_datastructs_lr3pro.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_t8.cpp
  radio/src/storage/yaml/yaml_datastructs_tlite.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12.cpp
  radio/src/storage/yaml/yaml_datastructs_tx12mk2.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/storage/yaml/yaml_datastructs_zorro.cpp
  radio/src/timers.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨

#2992 Revised Special & Global Functions layout.
  radio/src/gui/colorlcd/special_functions.cpp
  radio/src/gui/colorlcd/special_functions.h
Labels: color, UX-UI

#3041 feat(ui) - New model curves page layout.
  radio/src/gui/colorlcd/curve.cpp
  radio/src/gui/colorlcd/curve.h
  radio/src/gui/colorlcd/curveedit.cpp
  radio/src/gui/colorlcd/model_curves.cpp
  radio/src/gui/colorlcd/model_curves.h
Labels: enhancement ✨, color, UX-UI

#3068 fix(ui) - Prevent infinite loop and crash in popups.
  radio/src/gui/colorlcd/popups.cpp
Labels: bug 🪲, color

#3090 fix(ui) - Close menu popup on main view when switching to other views.
  radio/src/gui/colorlcd/view_main.cpp
  radio/src/gui/colorlcd/view_main.h
  radio/src/gui/colorlcd/view_main_menu.cpp
  radio/src/gui/colorlcd/view_main_menu.h
Labels: bug 🪲, color

#3091 feat(ui) - Add long press handler for new model curves page.
  radio/src/gui/colorlcd/model_curves.cpp
  radio/src/gui/colorlcd/model_curves.h
Labels: color, UX-UI

#3094 fix(ui) - Center align the text in the number input boxes for the curve editor.
  radio/src/gui/colorlcd/curveedit.cpp
Labels: color, UX-UI

#3093 fix(cpn) - Fix joystick slider mappings in companion.
  companion/src/simulation/simulatorwidget.cpp
Labels: bug 🪲, companion

#3092 feat(ui) - Add long press for SYS button on main screen.
  radio/src/gui/colorlcd/view_main.cpp
Labels: color, UX-UI

#3061 fix(ui) - Button and touch handling for throttle / switch alert screen.
  radio/src/gui/colorlcd/fullscreen_dialog.cpp
  radio/src/gui/colorlcd/fullscreen_dialog.h
  radio/src/gui/colorlcd/switch_warn_dialog.cpp
  radio/src/gui/colorlcd/switch_warn_dialog.h
Labels: enhancement ✨, color, UX-UI

#3099 fix(ui) - Inputs - curve line is offset
  radio/src/gui/colorlcd/input_edit.cpp
Labels: color, bug/regression ↩️

#3032 feat(mpm): remove FrSky special treatment madness
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/gui_common.cpp
  radio/src/gui/gui_common.h
  radio/src/io/multi_protolist.cpp
  radio/src/lua/api_model.cpp
  radio/src/pulses/modules_constants.h
  radio/src/pulses/modules_helpers.h
  radio/src/pulses/multi.cpp
  radio/src/pulses/multi.h
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/translations/untranslated.h
Labels: enhancement ✨

#3043 feat(cpn): Status dialog when writing models and settings to radio
  companion/src/helpers.cpp
  companion/src/helpers.h
  companion/src/mainwindow.cpp
  companion/src/mdichild.cpp
  companion/src/mdichild.h
Labels: enhancement ✨, companion

#3045 feat(fw): Only attach SD card in USB storage mode
  radio/src/CMakeLists.txt
  radio/src/targets/common/arm/stm32/usbd_desc.c
  radio/src/targets/common/arm/stm32/usbd_storage_msd.cpp
Labels: enhancement ✨

#3112 fix: B&W MPM protocol offset, subprotocol lists too long
  radio/src/gui/gui_common.cpp
  radio/src/telemetry/multi.cpp
Labels: bug/regression ↩️

#3058 Update UI for SD log period settings
  radio/src/gui/128x64/model_special_functions.cpp
  radio/src/gui/212x64/model_special_functions.cpp
  radio/src/gui/colorlcd/special_functions.cpp
  radio/src/gui/colorlcd/special_functions.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨, color, translation

#3019 Revised Logical Switches layout
  radio/src/gui/colorlcd/model_logical_switches.cpp
  radio/src/gui/colorlcd/model_logical_switches.h
  radio/src/gui/colorlcd/view_logical_switches.cpp
  radio/src/gui/colorlcd/view_logical_switches.h
Labels: color, UX-UI

#3078 fix(ui) - LVGL flex conversion for the theme details edit dialog.
  radio/src/gui/colorlcd/radio_theme.cpp
  radio/src/gui/colorlcd/radio_theme.h
Labels: color

#3076 fix(ui) - LVGL flex conversion for model template selection pages.
  radio/src/gui/colorlcd/model_templates.cpp
  radio/src/gui/colorlcd/model_templates.h
Labels: color

#3077 fix(ui) - LVGL flex conversion for spectrum analyser footer.
  radio/src/gui/colorlcd/radio_spectrum_analyser.cpp
Labels: color

#3115 fix(color) - Fix flight mode name display in global variables overview.
  radio/src/gui/colorlcd/model_gvars.cpp
Labels: bug 🪲, color

#3062 fix(ui) - Convert theme save and delete dialogs to use ConfirmDialog popup.
  radio/src/gui/colorlcd/confirm_dialog.cpp
  radio/src/gui/colorlcd/confirm_dialog.h
  radio/src/gui/colorlcd/page.cpp
  radio/src/gui/colorlcd/page.h
  radio/src/gui/colorlcd/radio_theme.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: color, translation

#3116 feat(color) - Change global variables layout to better match other pages.
  radio/src/gui/colorlcd/model_gvars.cpp
  radio/src/gui/colorlcd/model_gvars.h
  radio/src/strhelpers.cpp
  radio/src/strhelpers.h
Labels: enhancement ✨, color, UX-UI
