Repository EdgeTX/edgetx, pull requests merged in 2023-08, with the labels that each got.

#3793 fix(AFHDS3): V0 ibus option and failsafe malfunction
  radio/src/pulses/afhds3.cpp
  radio/src/pulses/afhds3_config.h
Labels: bug 🪲

#3890 fix: unsuported %zu in arm compiler
  radio/src/gui/colorlcd/input_mix_group.cpp
  radio/src/gui/common/stdlcd/radio_version.cpp
Labels: bug/regression ↩️

#3816 Update fr.h
  radio/src/translations/fr.h
Labels: translation

#3896 fix: only SHIFT should not trigger repeated events
  radio/src/keys.cpp
Labels: bug/regression ↩️

#3700 feat(color): Convert top bar display in main view into widgets.
  radio/src/datastructs.h
  radio/src/gui/colorlcd/layouts/topbar_impl.cpp
  radio/src/gui/colorlcd/layouts/topbar_impl.h
  radio/src/gui/colorlcd/preview_window.h
  radio/src/gui/colorlcd/topbar.h
  radio/src/gui/colorlcd/widgets/radio_info.cpp
  radio/src/gui/colorlcd/widgets_container.h
  radio/src/gui/colorlcd/widgets_setup.cpp
  radio/src/storage/storage_common.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/targets/horus/libopenui_config.h
  radio/src/targets/nv14/libopenui_config.h
Labels: enhancement ✨, color

#3582 fix: Some AFHDS2A/AFHDS3 GPS/ALT telemetry handling issues
  radio/src/telemetry/flysky_ibus.cpp
Labels: bug/regression ↩️

#3900 fix(color): Fix widget default colors.
  radio/src/gui/colorlcd/themes/480_default.cpp
  radio/src/gui/colorlcd/widgets/gauge.cpp
  radio/src/gui/colorlcd/widgets/outputs.cpp
  radio/src/gui/colorlcd/widgets/radio_info.cpp
  radio/src/gui/colorlcd/widgets/value.cpp
Labels: color, bug/regression ↩️

#3902 fix(radio): Fix 'PAGE <' key in menu toolbar.
  radio/src/thirdparty/libopenui/src/menu.cpp
  radio/src/thirdparty/libopenui/src/menutoolbar.cpp
Labels: bug/regression ↩️

#3899 chore(color): Model setup page cleanup
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/thirdparty/libopenui/src/widgets/etx_obj_create.h
Labels: color, UX-UI

#3773 Improve OLED brightness handling
  radio/src/datastructs_private.h
  radio/src/functions.cpp
  radio/src/gui/128x64/lcd.cpp
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/mixer.cpp
  radio/src/opentx.cpp
  radio/src/targets/taranis/board.h
Labels: enhancement ✨

#3921 fix: TPRO libsimu menu key
  companion/src/simulation/simulateduiwidgetJumperTPRO.cpp
Labels: companion, bug/regression ↩️

#3892 feat: add support for Radiomaster Pocket radio
  .github/workflows/actions.yml
  .github/workflows/nightly.yml
  fw.json
  radio/src/datastructs.h
  radio/src/lua/api_general.cpp
  radio/src/simu.cpp
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/board.cpp
  radio/src/targets/taranis/board.h
  radio/src/targets/taranis/hal.h
  radio/src/targets/taranis/lcd_driver_spi.cpp
  radio/util/hw_defs/legacy_names.py
  radio/util/hw_defs/pot_config.py
  radio/util/hw_defs/switch_config.py
  tools/build-companion.sh
  tools/build-gh.sh
  tools/generate-hw-defs.sh
  tools/generate-yaml.sh
  tools/msys2_fetch_and_build_all.sh
Labels: hardware support

#3933 fix: Add missing RTN keys to some simu
  radio/src/simu.cpp
Labels: bug 🪲, simulator

#3929 feat(cpn): Clear clipboard on profile change
  companion/src/mainwindow.cpp
Labels: enhancement ✨, companion

#3926 fix: EM when LUA script is running and radio is turned off
  radio/src/opentx.cpp
Labels: bug/regression ↩️

#3938 fix(cpn): TX12 MKII and Zorro sims key mapping
  companion/src/simulation/simulateduiwidgetTX12.cpp
  companion/src/simulation/simulateduiwidgetZorro.cpp
Labels: bug 🪲, companion, simulator

#3936 fix: simu sd detection
  radio/src/sdcard.cpp
Labels: simulator, bug/regression ↩️

#3862 fix(cpn): radio settings yaml for adc refactor
  companion/src/constants.h
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/datahelpers.cpp
  companion/src/firmwares/datahelpers.h
  companion/src/firmwares/edgetx/yaml_calibdata.cpp
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/edgetx/yaml_ops.cpp
  companion/src/firmwares/edgetx/yaml_ops.h
  companion/src/firmwares/edgetx/yaml_switchconfig.cpp
  companion/src/firmwares/edgetx/yaml_switchconfig.h
  companion/src/firmwares/eeprominterface.h
  companion/src/helpers.cpp
  companion/src/helpers.h
Labels: companion, bug/regression ↩️

#3878 Updated SE translations
  companion/src/translations/companion_sv.ts
Labels: translation

#3852 feat(color): Updated to new logo
  radio/src/bitmaps/480x272/splash.png
  radio/src/bitmaps/480x272/splash_chr.png
  radio/src/bitmaps/480x272/splash_logo.png
Labels: enhancement ✨, color, UX-UI

#3772 Include scale in getInput and insertInput
  radio/src/lua/api_model.cpp
Labels: lua-api

#3817 chore(cpn): update branding
  companion/src/images/companion-title-alt.png
  companion/src/images/companion-title.png
  companion/src/images/icon.png
  companion/src/images/iconmac.icns
  companion/src/images/linuxicons/128x128/companion.png
  companion/src/images/linuxicons/16x16/companion.png
  companion/src/images/linuxicons/22x22/companion.png
  companion/src/images/linuxicons/24x24/companion.png
  companion/src/images/linuxicons/256x256/companion.png
  companion/src/images/linuxicons/32x32/companion.png
  companion/src/images/linuxicons/48x48/companion.png
  companion/src/images/linuxicons/512x512/companion.png
  companion/src/images/splash.png
  companion/src/images/winicons/edgetx.ico
  companion/src/images/winicons/edgetx_128.ico
  companion/src/images/winicons/edgetx_16.ico
  companion/src/images/winicons/edgetx_20.ico
  companion/src/images/winicons/edgetx_24.ico
  companion/src/images/winicons/edgetx_256.ico
  companion/src/images/winicons/edgetx_30.ico
  companion/src/images/winicons/edgetx_32.ico
  companion/src/images/winicons/edgetx_36.ico
  companion/src/images/winicons/edgetx_40.ico
  companion/src/images/winicons/edgetx_48.ico
  companion/src/images/winicons/edgetx_60.ico
  companion/src/images/winicons/edgetx_64.ico
  companion/src/images/winicons/edgetx_72.ico
  companion/src/images/winicons/edgetx_80.ico
  companion/src/images/winicons/edgetx_96.ico
  tools/companion-gen-icons.py
Labels: UX-UI, companion

#3967 fix(cpn): model and labels lists sync
  companion/src/labels.cpp
  companion/src/labels.h
  companion/src/mdichild.cpp
  companion/src/mdichild.h
  companion/src/modelslist.cpp
  companion/src/modelslist.h
Labels: companion, bug/regression ↩️

#3968 fix(cpn): de translation
  companion/src/translations/companion_de.ts
  companion/src/translations/companion_pl.ts
Labels: companion, translation, bug/regression ↩️

#3942 fix(color): Fix for buttons on model setup page not showing active state.
  radio/src/gui/colorlcd/model_setup.cpp
Labels: color, bug/regression ↩️

#3954 Corrected SE translations
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#3920 fix: plurals and indefinite articles in German TTS, plus
  radio/src/audio.cpp
  radio/src/lua/api_general.cpp
  radio/src/translations/tts_de.cpp
Labels: bug 🪲

#3966 fix(color): Fix for slider control blocking RTN key.
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/thirdparty/libopenui/src/slider.cpp
Labels: color, bug/regression ↩️

#3972 feat(color): Show active timers on model setup page.
  radio/src/gui/colorlcd/model_setup.cpp
Labels: enhancement ✨, color

#3885 chore(color): Replace dynamic_cast with virtual functions and disable RTTI to reduce FLASH storage.
  radio/src/CMakeLists.txt
  radio/src/gui/colorlcd/layout.cpp
  radio/src/gui/colorlcd/layouts/layout_factory_impl.h
  radio/src/gui/colorlcd/layouts/topbar_impl.cpp
  radio/src/gui/colorlcd/layouts/topbar_impl.h
  radio/src/gui/colorlcd/screen_setup.cpp
  radio/src/gui/colorlcd/topbar.cpp
  radio/src/gui/colorlcd/topbar.h
  radio/src/gui/colorlcd/view_main.cpp
  radio/src/gui/colorlcd/view_main.h
  radio/src/gui/colorlcd/widget.cpp
  radio/src/gui/colorlcd/widget.h
  radio/src/gui/colorlcd/widgets_container.h
  radio/src/lua/lua_widget_factory.h
  radio/src/lua/widgets.cpp
  radio/src/thirdparty/libopenui/src/window.h
Labels: color, compilation

#3880 feat(color): Replace static bitmap QR code with LVGL generated QR code
  radio/src/bitmaps/480x272/default_theme/mask_qrcode.png
  radio/src/gui/colorlcd/view_about.cpp
  radio/src/lv_conf.h
Labels: color

#3949 fix: YAML timer handling
  radio/src/gui/128x64/model_special_functions.cpp
  radio/src/gui/212x64/lcd.cpp
  radio/src/gui/212x64/model_special_functions.cpp
  radio/src/gui/colorlcd/special_functions.cpp
  radio/src/gui/gui_common.cpp
  radio/src/gui/gui_common.h
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
Labels: bug/regression ↩️

#3956 fix(cpn): only timers with active modes should be included in lists
  companion/src/datamodels/compounditemmodels.cpp
  companion/src/firmwares/customfunctiondata.cpp
  companion/src/firmwares/customfunctiondata.h
  companion/src/firmwares/edgetx/yaml_rawsource.cpp
  companion/src/firmwares/rawsource.cpp
  companion/src/firmwares/timerdata.cpp
  companion/src/firmwares/timerdata.h
  companion/src/modeledit/setup.cpp
  companion/src/modeledit/setup.h
Labels: bug 🪲, companion

#3639 feature: MIN as source
  companion/src/datamodels/compounditemmodels.cpp
  companion/src/firmwares/edgetx/yaml_rawsource.cpp
  companion/src/firmwares/rawsource.cpp
  companion/src/firmwares/rawsource.h
  companion/src/translations/companion_cs.ts
  companion/src/translations/companion_da.ts
  companion/src/translations/companion_de.ts
  companion/src/translations/companion_en.ts
  companion/src/translations/companion_es.ts
  companion/src/translations/companion_fi.ts
  companion/src/translations/companion_fr.ts
  companion/src/translations/companion_he.ts
  companion/src/translations/companion_it.ts
  companion/src/translations/companion_ja.ts
  companion/src/translations/companion_nl.ts
  companion/src/translations/companion_pl.ts
  companion/src/translations/companion_pt.ts
  companion/src/translations/companion_ru.ts
  companion/src/translations/companion_sv.ts
  companion/src/translations/companion_zh_CN.ts
  companion/src/translations/companion_zh_TW.ts
  radio/src/dataconstants.h
  radio/src/gui/colorlcd/sourcechoice.cpp
  radio/src/gui/gui_common.cpp
  radio/src/gui/navigation/common.cpp
  radio/src/gui/navigation/navigation_x7.cpp
  radio/src/gui/navigation/navigation_x9d.cpp
  radio/src/gui/navigation/navigation_xlite.cpp
  radio/src/lua/api_general.cpp
  radio/src/mixer.cpp
  radio/src/storage/yaml/yaml_datastructs_128x64.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t20.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/strhelpers.cpp
  radio/src/tests/sources.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨

#3978 fix(cpn): Edit radio settings application crash
  companion/src/firmwares/customfunctiondata.cpp
  companion/src/firmwares/rawsource.cpp
Labels: companion, bug/regression ↩️

#3564 Interactive/progressive checklist
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/modeldata.h
  companion/src/modeledit/setup.cpp
  companion/src/modeledit/setup.h
  companion/src/modeledit/setup.ui
  radio/src/datastructs_private.h
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/preflight_checks.cpp
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/gui/colorlcd/view_main_menu.cpp
  radio/src/gui/colorlcd/view_text.cpp
  radio/src/gui/colorlcd/view_text.h
  radio/src/gui/common/stdlcd/model_notes.cpp
  radio/src/gui/common/stdlcd/view_text.cpp
  radio/src/opentx.h
  radio/src/storage/yaml/yaml_datastructs_128x64.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t20.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/thirdparty/libopenui/src/widgets/etx_obj_create.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨
