Repository EdgeTX/edgetx, pull requests merged in 2023-10, with the labels that each got.

#4142 fix(color): Clipped progress bar when flashing bootloader/module firmware
  radio/src/gui/colorlcd/radio_sdmanager.cpp
Labels: bug 🪲, color, UX-UI

#3935 perf: Use FreeRTOS mutex instead of binary semaphore
  radio/src/FreeRTOSConfig.h
  radio/src/rtos.h
Labels: enhancement ✨

#3780 refactor: notify module driver on config changes
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/module_setup.cpp
  radio/src/hal/module_driver.h
  radio/src/pulses/dsm2.cpp
  radio/src/pulses/ppm.cpp
  radio/src/pulses/ppm.h
  radio/src/pulses/pulses.cpp
  radio/src/pulses/pulses.h
  radio/src/telemetry/mlink.cpp
  radio/src/telemetry/mlink.h
  radio/src/telemetry/spektrum.cpp
  radio/src/telemetry/telemetry.cpp
Labels: house keeping 🧹

#4116 feat(radio): Disable Special Functions when feature turned off
  radio/src/lua/interface.cpp
  radio/src/mixer.cpp
Labels: enhancement ✨

#4124 fix(radio): Limit year range for RTC to prevent overflow
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/212x64/radio_setup.cpp
  radio/src/gui/colorlcd/radio_setup.cpp
Labels: UX-UI

#4147 chore(translation): Updated SE translations
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#4152 fix(color): Clear edit mode when page closes
  radio/src/thirdparty/libopenui/src/form.cpp
  radio/src/thirdparty/libopenui/src/form.h
Labels: bug 🪲, color, UX-UI

#4154 fix(color): Edit range and display value for switch play delay
  radio/src/gui/colorlcd/radio_setup.cpp
Labels: bug 🪲, color

#4139 feat(color): Remove splash screen and boot loader background, add version info
  radio/src/bitmaps/480x272/CMakeLists.txt
  radio/src/bitmaps/480x272/bootloader/bmp_background.png
  radio/src/bitmaps/480x272/splash_bg.png
  radio/src/gui/colorlcd/splash.cpp
  radio/src/targets/horus/bootloader/boot_menu.cpp
  radio/src/targets/nv14/bootloader/boot_menu.cpp
Labels: enhancement ✨, color, UX-UI

#4157 feat(color): Add Enable/Disable option to SF/GF popup menu
  radio/src/gui/colorlcd/special_functions.cpp
  radio/src/targets/nv14/bootloader/boot_menu.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨, color

#4165 feat(color): Add 'View Text' option for .lua files in SD manager
  radio/src/gui/colorlcd/radio_sdmanager.cpp
Labels: enhancement ✨, color

#4163 fix(color): Set default value for various number edit fields
  radio/src/gui/colorlcd/curveedit.cpp
  radio/src/gui/colorlcd/gvar_numberedit.cpp
  radio/src/gui/colorlcd/gvar_numberedit.h
  radio/src/gui/colorlcd/output_edit.cpp
  radio/src/gui/colorlcd/widget_settings.cpp
Labels: bug 🪲, color, UX-UI

#3823 feat: Automatic soft-serial fallback for module ports
  radio/src/cli.cpp
  radio/src/hal/module_port.cpp
  radio/src/hal/module_port.h
  radio/src/io/frsky_firmware_update.cpp
  radio/src/io/multi_firmware_update.cpp
  radio/src/pulses/afhds2.cpp
  radio/src/pulses/afhds3.cpp
  radio/src/pulses/crossfire.cpp
  radio/src/pulses/dsm2.cpp
  radio/src/pulses/ghost.cpp
  radio/src/pulses/multi.cpp
  radio/src/pulses/ppm.cpp
  radio/src/pulses/pxx1.cpp
  radio/src/pulses/pxx2.cpp
  radio/src/pulses/sbus.cpp
  radio/src/targets/common/arm/stm32/trainer_driver.cpp
  radio/src/tests/module_ports.cpp
Labels: enhancement ✨

#4169 chore(color): Set height of edit fields to match other UI elements
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
Labels: color, UX-UI

#4182 fix: Allow compile with DEBUG=Y
  radio/src/cli.cpp
  radio/src/targets/common/arm/stm32/diskio_sdio.cpp
Labels: compilation, bug/regression ↩️

#4077 feat: add support for latest FrSky receivers
  radio/src/gui/colorlcd/access_settings.cpp
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/common/stdlcd/model_receiver_options.cpp
  radio/src/gui/common/stdlcd/radio_sdmanager.cpp
  radio/src/pulses/pxx2.cpp
  radio/src/pulses/pxx2.h
  radio/src/telemetry/frsky_defs.h
  radio/src/telemetry/frsky_pxx2.cpp
  radio/src/telemetry/frsky_sport.cpp
  radio/src/thirdparty/libopenui/src/choice.cpp
  radio/src/thirdparty/libopenui/src/choice.h
  radio/src/translations/untranslated.h
Labels: enhancement ✨

#4184 chore: Cleanup obsolete ioMutex debug lines
  radio/src/cli.cpp
Labels: house keeping 🧹

#3814 fix: Correctly reflect state of AUX1 when DEBUG build
  radio/src/serial.cpp
  radio/src/storage/storage_common.cpp
  radio/src/targets/horus/board.cpp
  radio/src/targets/nv14/board.cpp
  radio/src/targets/taranis/board.cpp
Labels: bug 🪲

#4185 fix: Missing OTA option for newer Archer receivers
  radio/src/io/frsky_firmware_update.h
Labels: bug 🪲

#3974 feat: Support for MPM DSM clone mode
  radio/src/MultiProtoDefs.h
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/mpm_settings.cpp
  radio/src/gui/colorlcd/mpm_settings.h
  radio/src/gui/gui_common.h
  radio/src/pulses/modules_helpers.h
  radio/src/pulses/multi.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/untranslated.h
Labels: enhancement ✨, needs: companion

#4159 chore: Update NV14/EL18 touch driver to generic EXTI driver
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/targets/nv14/hal.h
  radio/src/targets/nv14/touch_driver.cpp
Labels: touch, house keeping 🧹

#3784 feat(lua): API for overriding speaker volume
  radio/src/audio.cpp
  radio/src/audio.h
  radio/src/lua/api_general.cpp
  radio/src/mixer.cpp
  radio/src/translations.h
  radio/src/translations/tts_cn.cpp
  radio/src/translations/tts_cz.cpp
  radio/src/translations/tts_da.cpp
  radio/src/translations/tts_de.cpp
  radio/src/translations/tts_en.cpp
  radio/src/translations/tts_es.cpp
  radio/src/translations/tts_fr.cpp
  radio/src/translations/tts_he.cpp
  radio/src/translations/tts_hu.cpp
  radio/src/translations/tts_it.cpp
  radio/src/translations/tts_jp.cpp
  radio/src/translations/tts_nl.cpp
  radio/src/translations/tts_pl.cpp
  radio/src/translations/tts_pt.cpp
  radio/src/translations/tts_ru.cpp
  radio/src/translations/tts_se.cpp
  radio/src/translations/tts_sk.cpp
Labels: enhancement ✨, lua-api

#4036 feat(radio): Show model level setting for 'Enabled Features' when altering radio level setting
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/212x64/radio_setup.cpp
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/opentx.cpp
Labels: enhancement ✨, UX-UI

#4104 feat(color): Improvements to switch and source select menu
  radio/src/gui/colorlcd/sourcechoice.cpp
  radio/src/gui/colorlcd/sourcechoice.h
  radio/src/gui/colorlcd/switchchoice.cpp
  radio/src/gui/colorlcd/switchchoice.h
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/targets/horus/libopenui_config.h
  radio/src/targets/nv14/libopenui_config.h
  radio/src/thirdparty/libopenui/src/choice.cpp
  radio/src/thirdparty/libopenui/src/choice.h
  radio/src/thirdparty/libopenui/src/libopenui_defines.h
  radio/src/thirdparty/libopenui/src/menu.cpp
  radio/src/thirdparty/libopenui/src/menu.h
  radio/src/thirdparty/libopenui/src/menutoolbar.cpp
  radio/src/thirdparty/libopenui/src/menutoolbar.h
  radio/src/thirdparty/libopenui/src/widgets/etx_obj_create.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: color, UX-UI

#4200 fix(translation): German translation used non-existent `CENTER` on colorlcd
  radio/src/translations/de.h
Labels: bug 🪲, translation

#4198 fix: MPM module status
  radio/src/gui/colorlcd/module_setup.cpp
  radio/src/hal/module_port.cpp
  radio/src/hal/module_port.h
  radio/src/pulses/multi.cpp
  radio/src/telemetry/multi.cpp
Labels: bug/regression ↩️

#3937 feat: add trainer virtual switch
  companion/src/datamodels/compounditemmodels.cpp
  companion/src/firmwares/edgetx/yaml_rawswitch.cpp
  companion/src/firmwares/rawswitch.cpp
  companion/src/firmwares/rawswitch.h
  radio/src/dataconstants.h
  radio/src/gui/colorlcd/switchchoice.cpp
  radio/src/storage/yaml/yaml_datastructs_128x64.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_t20.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/strhelpers.cpp
  radio/src/switches.cpp
  radio/src/trainer.cpp
  radio/src/trainer.h
Labels: enhancement ✨

#4125 feat(color): Slider styling and tick marks.
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/thirdparty/libopenui/src/slider.cpp
  radio/src/thirdparty/libopenui/src/slider.h
Labels: color, UX-UI

#4136 fix(color): Keep last selected button focused within Button Matrix
  radio/src/thirdparty/libopenui/src/button_matrix.cpp
Labels: color, UX-UI

#4164 fix(color): Gauge invertRect assumed WHITE rather than PRIMARY2
  radio/src/thirdparty/libopenui/src/bitmapbuffer.cpp
Labels: bug 🪲, color

#4111 feat(color): Improved navigation with SYS and MDL keys
  radio/src/gui/colorlcd/menu_model.cpp
  radio/src/gui/colorlcd/menu_model.h
  radio/src/gui/colorlcd/menu_radio.cpp
  radio/src/gui/colorlcd/menu_radio.h
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_select.h
  radio/src/gui/colorlcd/tabsgroup.cpp
  radio/src/gui/colorlcd/view_channels.cpp
  radio/src/gui/colorlcd/view_channels.h
  radio/src/gui/colorlcd/view_main.cpp
Labels: enhancement ✨, color, UX-UI

#4156 fix(cpn): Align brightness settings with radio, Speaker Volume values
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/edgetx/yaml_rawsource.cpp
  companion/src/firmwares/edgetx/yaml_switchconfig.cpp
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/generaledit/generalsetup.cpp
Labels: bug 🪲, companion

#4204 fix: Enforce switch & pot ranges
  radio/src/gui/gui_common.cpp
Labels: bug 🪲, em

#4060 fix(color): Scale SF backlight value to user selected min/max backlight values
  radio/src/functions.cpp
  radio/src/gui/colorlcd/radio_setup.cpp
  radio/src/opentx.cpp
  radio/src/thirdparty/libopenui/src/slider.cpp
  radio/src/thirdparty/libopenui/src/slider.h
Labels: color

#4177 fix: change MLink sensor name for rx quality to RQly
  radio/src/telemetry/mlink.cpp
Labels: bug 🪲, telemetry

#4213 fix(color): 'MPM Scanning' popup blocking hardware keys
  radio/src/gui/colorlcd/module_setup.cpp
Labels: bug 🪲, color

#4190 fix(color): 'SWITCH' widget option logic, enable for Lua widgets
  radio/src/gui/colorlcd/widget_settings.cpp
  radio/src/lua/api_general.cpp
  radio/src/lua/widgets.cpp
Labels: bug 🪲, color

#4214 chore: Typo in mlink variable name
  radio/src/telemetry/mlink.cpp
Labels: house keeping 🧹

#4218 chore(cpn): Remove UI slot code for field removed in #3782
  companion/src/modeledit/telemetry.cpp
  companion/src/modeledit/telemetry.h
Labels: companion, house keeping 🧹

#4217 fix(cpn): Non-functional edit model button and context menu entry
  companion/src/mdichild.cpp
Labels: companion, bug/regression ↩️

#4140 fix: Add missing yaml storage config for iFlight Commando8
  radio/src/dataconstants.h
  radio/src/datastructs_private.h
  radio/src/storage/yaml/CMakeLists.txt
  radio/src/storage/yaml/yaml_datastructs_t12.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
  radio/src/storage/yaml/yaml_datastructs_x7.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lite.cpp
  radio/src/storage/yaml/yaml_datastructs_x9lites.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
Labels: bug 🪲

#4167 fix: Ext module not powered when using SBUS or CPPM trainer
  radio/src/targets/common/arm/stm32/trainer_driver.cpp
Labels: bug/regression ↩️

#4146 fix(yaml): Do not limit to static MPM protocol definitions
  radio/src/gui/colorlcd/mpm_settings.cpp
  radio/src/io/multi_protolist.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
Labels: bug 🪲, storage

#4206 feat: TProV2 CPN support
  companion/src/CMakeLists.txt
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/edgetx/yaml_rawsource.cpp
  companion/src/firmwares/edgetx/yaml_rawswitch.cpp
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/simulation/simulatorwidget.cpp
Labels: companion

#4220 fix(cpn): Add back failsafe settings for protocols that support
  companion/src/modeledit/setup.cpp
Labels: companion, bug/regression ↩️

#4222 fix(color): Reading of RGB theme colors in hex format
  radio/src/gui/colorlcd/theme_manager.cpp
Labels: color, bug/regression ↩️

#4038 perf: Process CRSF telemetry by frame
  radio/src/boards/generic_stm32/module_ports.cpp
  radio/src/hal/module_driver.h
  radio/src/hal/serial_driver.h
  radio/src/pulses/afhds2.cpp
  radio/src/pulses/afhds3.cpp
  radio/src/pulses/crossfire.cpp
  radio/src/pulses/dsm2.cpp
  radio/src/pulses/ghost.cpp
  radio/src/pulses/multi.cpp
  radio/src/pulses/ppm.cpp
  radio/src/pulses/pxx1.cpp
  radio/src/pulses/pxx2.cpp
  radio/src/pulses/sbus.cpp
  radio/src/targets/common/arm/stm32/CMakeLists.txt
  radio/src/targets/common/arm/stm32/flysky_gimbal_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_exti_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_serial_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_usart_driver.cpp
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/hal.h
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/targets/nv14/hal.h
  radio/src/targets/simu/module_drivers.cpp
  radio/src/targets/simu/simpgmspace.cpp
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/hal.h
  radio/src/targets/taranis/lcd_driver_spi.cpp
  radio/src/telemetry/crossfire.cpp
  radio/src/telemetry/crossfire.h
  radio/src/telemetry/telemetry.cpp
  radio/src/telemetry/telemetry.h
Labels: telemetry 📶

#4194 fix(bw): Use correct offset for DBLSIZE language font
  radio/src/gui/128x64/lcd.cpp
  radio/src/gui/212x64/lcd.cpp
Labels: bug 🪲, B&W

#4067 feat: Add Russian translation to firmware 🇷🇺
  companion/src/firmwares/opentx/opentxinterface.h
  companion/src/translations/companion_ru.ts
  radio/src/CMakeLists.txt
  radio/src/fonts/lvgl/lv_font_arimo_ru_13.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_14.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_15.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_16.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_17.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_24.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_9.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_16.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_17.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_32.c
  radio/src/fonts/lvgl/lv_font_arimo_ru_bold_64.c
  radio/src/fonts/lvgl/make_fonts.sh
  radio/src/fonts/sqt5/font_ru_04x06.png
  radio/src/fonts/sqt5/font_ru_05x07.png
  radio/src/fonts/sqt5/font_ru_08x10.png
  radio/src/fonts/sqt5/font_ru_10x14.png
  radio/src/fonts/std/font_ru_04x06.png
  radio/src/fonts/std/font_ru_05x07.png
  radio/src/fonts/std/font_ru_08x10.png
  radio/src/fonts/std/font_ru_10x14.png
  radio/src/gui/colorlcd/fonts.cpp
  radio/src/gui/common/stdlcd/fonts.cpp
  radio/src/gui/common/stdlcd/utf8.cpp
  radio/src/lv_conf.h
  radio/src/translations.h
  radio/src/translations/ru.h
  radio/util/font2png.py
  tools/charset.py
Labels: UX-UI, translation

#4195 chore(translation): Add Russian Companion translations 🇷🇺
  companion/src/translations/companion_ru.ts
Labels: companion, translation

#3036 refactor: DMA2D and LTDC conversion to HAL/LL
  radio/src/gui/colorlcd/lcd.cpp
  radio/src/gui/colorlcd/lcd.h
  radio/src/targets/common/arm/stm32/bootloader/CMakeLists.txt
  radio/src/targets/common/arm/stm32/dma2d.cpp
  radio/src/targets/common/arm/stm32/dma2d.h
  radio/src/targets/common/arm/stm32/f4/CMakeLists.txt
  radio/src/targets/common/arm/stm32/stm32_hal_ll.h
  radio/src/targets/common/arm/stm32/stm32f4xx_hal_conf.h
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/board.cpp
  radio/src/targets/horus/board.h
  radio/src/targets/horus/hal.h
  radio/src/targets/horus/lcd_driver.cpp
  radio/src/targets/nv14/CMakeLists.txt
  radio/src/targets/nv14/board.cpp
  radio/src/targets/nv14/board.h
  radio/src/targets/nv14/hal.h
  radio/src/targets/nv14/lcd_driver.cpp
  radio/src/targets/nv14/lcd_driver.h
  radio/src/targets/simu/simulcd.cpp
  radio/src/thirdparty/libopenui/src/bitmapbuffer.cpp
  radio/src/thirdparty/libopenui/src/libopenui_defines.h
  radio/src/thirdparty/libopenui/src/mainwindow.cpp
  radio/src/usb_joystick.cpp
Labels: color, house keeping 🧹

#4212 feat: Warn on shutdown if trainer is connected
  radio/src/opentx.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨

#4237 fix(color): 'Reset' SF does not show telemetry parameter when edited
  radio/src/gui/colorlcd/special_functions.cpp
Labels: bug 🪲, color

#4245 Update danish translations radio/companion
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#4247 chore(cpn): upgrade miniz to version 3.0.2
  cmake/FetchMiniz.cmake
  companion/src/CMakeLists.txt
  companion/src/storage/labeled.cpp
  companion/src/thirdparty/miniz/CMakeLists.txt
  companion/src/thirdparty/miniz/ChangeLog.md
  companion/src/thirdparty/miniz/LICENSE
  companion/src/thirdparty/miniz/examples/example1.c
  companion/src/thirdparty/miniz/examples/example2.c
  companion/src/thirdparty/miniz/examples/example3.c
  companion/src/thirdparty/miniz/examples/example4.c
  companion/src/thirdparty/miniz/examples/example5.c
  companion/src/thirdparty/miniz/examples/example6.c
  companion/src/thirdparty/miniz/miniz.c
  companion/src/thirdparty/miniz/miniz.h
  companion/src/thirdparty/miniz/readme.md
Labels: companion, house keeping 🧹

#4248 chore(cpn): upgrade to qcustomplot 2.1.1
  companion/src/logsdialog.cpp
  companion/src/logsdialog.h
  companion/src/logsdialog.ui
  companion/src/thirdparty/qcustomplot/changelog.txt
  companion/src/thirdparty/qcustomplot/qcustomplot.cpp
  companion/src/thirdparty/qcustomplot/qcustomplot.h
Labels: companion, house keeping 🧹

#4223 fix(color): Value widget not refreshing when telem lost
  radio/src/gui/colorlcd/widgets/value.cpp
Labels: bug 🪲, color, widget

#4242 fix(tts): DE play value "TIME" wrong for 00:xx:xx hours
  radio/src/translations/tts_de.cpp
Labels: translation, sound 🔉

#4252 chores: fetch googletest via CMake
  cmake/DownloadGTest.cmake
  cmake/FetchGtest.cmake
  cmake/NativeTargets.cmake
  companion/src/tests/CMakeLists.txt
  companion/src/tests/conversions.cpp
  radio/src/tests/CMakeLists.txt
Labels: compilation, house keeping 🧹

#4244 feat: use explicit linker script for 1MB flash B/W radios
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/stm32f4_1m_flash.ld
  radio/src/targets/taranis/stm32f4_512k_flash.ld
Labels: enhancement ✨, B&W, compilation

#4257 chore(cpn): fix Ubuntu compiler warnings
  companion/src/firmwares/edgetx/yaml_rawswitch.cpp
  companion/src/simulation/debugoutput.cpp
Labels: companion, house keeping 🧹

#4261 fix(stdlcd): model copy
  radio/src/storage/sdcard_yaml.cpp
Labels: bug 🪲, B&W

#4241 feat: RM Pocket cpn support
  companion/src/CMakeLists.txt
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  tools/build-companion.sh
Labels: companion

#4259 fix(tts): DE - value 1 representation ("eins", "eine", "ein")
  radio/src/translations/tts_de.cpp
Labels: bug 🪲, translation, telemetry 📶, rn: warning, sound 🔉

#4145 chore(mpm): Add FX/9630 subtype to static list
  radio/src/MultiSubtypeDefs.h
Labels: house keeping 🧹

#4074 chore(color): Cleanup layout refresh logic.
  radio/src/gui/colorlcd/layouts/layout_factory_impl.cpp
  radio/src/gui/colorlcd/layouts/layout_factory_impl.h
  radio/src/gui/colorlcd/layouts/topbar_impl.cpp
  radio/src/gui/colorlcd/widgets/radio_info.cpp
  radio/src/gui/colorlcd/widgets/widgets_container_impl.h
Labels: enhancement ✨, color

#4180 fix(color): Theme edit preview not working with LVGL styles
  radio/src/gui/colorlcd/preview_window.h
  radio/src/gui/colorlcd/themes/etx_lv_theme.cpp
  radio/src/gui/colorlcd/themes/etx_lv_theme.h
Labels: color, bug/regression ↩️

#4162 fix(color): Fix search for model specific audio files for switches.
  radio/src/CMakeLists.txt
  radio/src/audio.cpp
  radio/src/model_audio.cpp
  radio/src/model_audio.h
  radio/src/targets/common/arm/CMakeLists.txt
  radio/src/tests/model_audio.cpp
Labels: bug/regression ↩️

#4265 fix(cpn): prevent googletest installation
  cmake/FetchGtest.cmake
Labels: companion, compilation, bug/regression ↩️

#4268 fix(color): Refresh main view if pots or sliders changed.
  radio/src/gui/colorlcd/hw_inputs.cpp
  radio/src/gui/colorlcd/hw_inputs.h
Labels: bug 🪲, color

#4263 fix(color): Don't display long press widget menu if no options
  radio/src/gui/colorlcd/widget.cpp
Labels: bug 🪲, color, UX-UI, widget

#4219 feat(color): Improved hardware key navigation.
  radio/src/gui/colorlcd/menu_model.cpp
  radio/src/gui/colorlcd/menu_model.h
  radio/src/gui/colorlcd/menu_radio.cpp
  radio/src/gui/colorlcd/menu_radio.h
  radio/src/gui/colorlcd/menu_screen.cpp
  radio/src/gui/colorlcd/menu_screen.h
  radio/src/gui/colorlcd/model_select.cpp
  radio/src/gui/colorlcd/model_select.h
  radio/src/gui/colorlcd/page.cpp
  radio/src/gui/colorlcd/page.h
  radio/src/gui/colorlcd/tabsgroup.cpp
  radio/src/gui/colorlcd/tabsgroup.h
  radio/src/gui/colorlcd/view_channels.cpp
  radio/src/gui/colorlcd/view_channels.h
  radio/src/gui/colorlcd/view_main.cpp
  radio/src/gui/colorlcd/view_main.h
  radio/src/thirdparty/libopenui/src/window.cpp
  radio/src/thirdparty/libopenui/src/window.h
Labels: enhancement ✨, color, UX-UI

#4216 feat: Audio prompt for initial telemetry connect
  radio/src/audio.cpp
  radio/src/audio.h
  radio/src/opentx.h
  radio/src/telemetry/telemetry.cpp
Labels: enhancement ✨, telemetry 📶, sound 🔉

#4202 chore: Auto CJK characters extraction for LVGL font generation
  radio/src/fonts/lvgl/get_char.py
  radio/src/fonts/lvgl/make_fonts.sh
Labels: house keeping 🧹

#4232 fix(color): Bitmap name truncation if exactly 14 characters long
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/colorlcd/model_setup.cpp
  radio/src/gui/colorlcd/radio_sdmanager.cpp
  radio/src/gui/colorlcd/widgets/modelbmp.cpp
  radio/src/gui/common/stdlcd/radio_sdmanager.cpp
  radio/src/lua/api_model.cpp
  radio/src/storage/modelslist.cpp
Labels: bug 🪲, color
