Repository EdgeTX/edgetx, pull requests merged in 2024-08, with the labels that each got.

#5357 feat(radio): Logical Switch list display UI
  radio/src/gui/128x64/model_logical_switches.cpp
  radio/src/gui/212x64/model_logical_switches.cpp
  radio/src/gui/colorlcd/model_logical_switches.cpp
  radio/src/switches.cpp
  radio/src/switches.h
Labels: color, UX-UI, B&W

#5334 chore: fixup missed build options, use common build options file
  companion/src/CMakeLists.txt
  companion/src/firmwares/opentx/opentxinterface.cpp
  radio/src/datastructs.h
  tools/build-common.sh
  tools/build-companion.sh
  tools/build-gh.sh
  tools/commit-tests.sh
  tools/generate-hw-defs.sh
  tools/generate-yaml.sh
Labels: compilation, house keeping 🧹

#5354 fix(cpn): sounds processing extra files and cancel update processes earlier
  companion/src/progresswidget.cpp
  companion/src/progresswidget.h
  companion/src/storage/minizinterface.cpp
  companion/src/storage/minizinterface.h
  companion/src/updates/repoassets.cpp
  companion/src/updates/repoassets.h
  companion/src/updates/updatecloudbuild.cpp
  companion/src/updates/updatecloudbuild.h
  companion/src/updates/updateinterface.cpp
  companion/src/updates/updateinterface.h
  companion/src/updates/updatenetwork.cpp
  companion/src/updates/updatenetwork.h
  companion/src/updates/updates.cpp
Labels: bug 🪲, companion, house keeping 🧹

#5359 fix(cpn): model setup post inverted sources feature
  companion/src/modeledit/setup.cpp
Labels: companion, bug/regression ↩️

#5362 chore(color): use padding values for flight mode button matrix layout
  radio/src/gui/colorlcd/controls/fm_matrix.cpp
Labels: color, house keeping 🧹

#5363 fix(tx16s): turn on aux2 power when used for BT - 2.10
  radio/src/bluetooth.cpp
  radio/src/targets/common/arm/stm32/bluetooth_driver.cpp
  radio/src/targets/horus/hal.h
Labels: bug/regression ↩️

#5373 chore(color): move widgets_container_impl.h to mainview folder
  radio/src/gui/colorlcd/mainview/layout_factory_impl.h
  radio/src/gui/colorlcd/mainview/widgets_container_impl.h
Labels: color, house keeping 🧹

#5364 fix(color): flickering Lua widgets when full screen is refreshed
  radio/src/gui/colorlcd/libui/bitmapbuffer.cpp
  radio/src/gui/colorlcd/libui/bitmapbuffer.h
  radio/src/gui/colorlcd/libui/bitmapbuffer_draw_extra.cpp
  radio/src/lua/lua_widget.cpp
Labels: color, lua, bug/regression ↩️

#5366 fix(color): display only GV name in mix/input overview when used for weight
  radio/src/gui/colorlcd/controls/source_numberedit.h
  radio/src/gui/colorlcd/model/mixer_edit.cpp
  radio/src/strhelpers.cpp
Labels: color, UX-UI, bug/regression ↩️

#5379 fix(color): crash if radio shut down on some menu pages
  radio/src/gui/colorlcd/libui/tabsgroup.cpp
Labels: color, em

#5377 fix: compiling with DEBUG
  radio/src/CMakeLists.txt
  radio/src/boards/generic_stm32/CMakeLists.txt
  radio/src/targets/common/arm/stm32/CMakeLists.txt
  radio/src/targets/common/arm/stm32/bootloader/CMakeLists.txt
  radio/src/targets/common/arm/stm32/diskio_sdio.cpp
Labels: compilation

#5374 feat(color): add confirmation to 'Add all Trims to subtrims' button
  radio/src/gui/colorlcd/model/model_outputs.cpp
Labels: color, UX-UI

#5371 fix(color): ensure script loaded when Lua Script SF enabled
  radio/src/gui/colorlcd/model/special_functions.cpp
Labels: color, lua, bug/regression ↩️

#5367 fix(color): min/max highlight in output list swapped if inverted
  radio/src/gui/colorlcd/model/model_outputs.cpp
  radio/src/gui/colorlcd/model/output_edit.cpp
  radio/src/gui/colorlcd/model/output_edit.h
Labels: bug 🪲, color, UX-UI

#5372 feat(color): show widget name in settings popups
  radio/src/gui/colorlcd/mainview/widget.cpp
  radio/src/gui/colorlcd/mainview/widget_settings.cpp
  radio/src/gui/colorlcd/mainview/widgets_setup.cpp
Labels: color, UX-UI, widget

#5376 feat(color): delay load images in SD browser, show 'Loading...' msg
  radio/src/gui/colorlcd/libui/bitmapbuffer_fileio.cpp
  radio/src/gui/colorlcd/radio/radio_sdmanager.cpp
  radio/src/gui/colorlcd/radio/radio_sdmanager.h
Labels: color, UX-UI

#5365 feat(color): allow up to 10 widget options.
  radio/src/datastructs.h
  radio/src/gui/colorlcd/mainview/widgets_container.h
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_pl18.cpp
  radio/src/storage/yaml/yaml_datastructs_t15.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x12s.cpp
Labels: color, widget

#5389 chore: RU translation for 'Widget size'
  radio/src/translations/ru.h
Labels: translation

#5387 fix(cpn): simulator crashes in SD browser
  radio/src/gui/colorlcd/radio/radio_sdmanager.cpp
Labels: simulator, bug/regression ↩️

#5384 fix(bw212): timer display on telemetry screen, main view
  radio/src/gui/212x64/lcd.cpp
  radio/src/gui/212x64/view_main.cpp
Labels: UX-UI, B&W, bug/regression ↩️

#5388 feat(color): add long press menu for directories in SD browser
  radio/src/gui/colorlcd/libui/file_browser.cpp
  radio/src/gui/colorlcd/libui/file_browser.h
  radio/src/gui/colorlcd/libui/menu.cpp
  radio/src/gui/colorlcd/libui/table.cpp
  radio/src/gui/colorlcd/libui/table.h
  radio/src/gui/colorlcd/mainview/screen_user_interface.cpp
  radio/src/gui/colorlcd/radio/radio_sdmanager.cpp
  radio/src/gui/colorlcd/radio/radio_sdmanager.h
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/ua.h
Labels: color, UX-UI

#5391 fix(color): use TIMERS value instead of assuming always 3
  radio/src/gui/colorlcd/mainview/view_statistics.cpp
Labels: color, compilation

#5386 fix(bw): unable to select GV as source for weight/offset/curve in input/mix
  radio/src/dataconstants.h
  radio/src/gui/128x64/gui.h
  radio/src/gui/128x64/model_input_edit.cpp
  radio/src/gui/128x64/model_mix_edit.cpp
  radio/src/gui/128x64/widgets.cpp
  radio/src/gui/212x64/gui.h
  radio/src/gui/212x64/model_input_edit.cpp
  radio/src/gui/212x64/model_mix_edit.cpp
  radio/src/gui/212x64/widgets.cpp
  radio/src/gui/common/stdlcd/draw_functions.cpp
  radio/src/gui/common/stdlcd/model_curves.cpp
  radio/src/gui/common/stdlcd/model_inputs.cpp
  radio/src/gui/common/stdlcd/model_mixes.cpp
  radio/src/gui/navigation/navigation.cpp
  radio/src/gui/navigation/navigation.h
  radio/src/gui/navigation/navigation_9x.cpp
  radio/src/gui/navigation/navigation_x7.cpp
Labels: UX-UI, B&W, bug/regression ↩️

#5390 fix(bw): change char selection order when editing names
  companion/src/shared/namevalidator.h
  radio/src/gui/common/stdlcd/draw_functions.cpp
Labels: bug 🪲, B&W

#5408 fix(color): view refresh issues after opening telemetry sensor edit page
  radio/src/gui/colorlcd/model/model_telemetry.cpp
Labels: color, UX-UI, bug/regression ↩️

#5399 fix(lua): widget background function not always run when offscreen
  radio/src/lua/lua_widget.cpp
  radio/src/lua/lua_widget.h
Labels: color, lua, bug/regression ↩️

#5404 fix(bw): ignore short/long press of ENTER if cursor on menu line
  radio/src/gui/common/stdlcd/model_inputs.cpp
  radio/src/gui/common/stdlcd/model_mixes.cpp
Labels: bug 🪲, UX-UI, B&W

#5409 fix(color): fullscreen dialog may appear over the main view UI
  radio/src/gui/colorlcd/mainview/view_main_menu.cpp
Labels: color, UX-UI, bug/regression ↩️

#5416 fix(bw): two blank lines where cursor disappears on MT12 trainer page
  radio/src/gui/common/stdlcd/radio_trainer.cpp
Labels: bug 🪲, UX-UI, B&W

#5417 fix(bw): LONG press RTN to exit Lua script closes tools menu
  radio/src/lua/interface.cpp
Labels: UX-UI, B&W, bug/regression ↩️

#5412 feat(color): scroll menu bar so selected tab icon is always visible
  radio/src/gui/colorlcd/libui/tabsgroup.cpp
Labels: enhancement ✨, color, UX-UI

#5353 fix(tx16s): turn on aux2 power when used for BT
  radio/src/bluetooth.cpp
  radio/src/targets/common/arm/stm32/bluetooth_driver.cpp
  radio/src/targets/horus/hal.h
Labels: bug/regression ↩️

#5407 feat(lua): add lvgl.page(), add optional parent property to lvgl.build()
  radio/src/gui/colorlcd/CMakeListsLVGL.txt
  radio/src/gui/colorlcd/lv_conf.h
  radio/src/lua/api_colorlcd_lvgl.cpp
  radio/src/lua/lua_lvgl_widget.cpp
  radio/src/lua/lua_lvgl_widget.h
Labels: color, lua-api, house keeping 🧹

#4585 refactor(cpn): sort custom functions list
  companion/src/datamodels/compounditemmodels.cpp
Labels: enhancement ✨, companion

#4664 fix: remove extra cycle in LS timer v2->v1 transition
  radio/src/switches.cpp
Labels: bug 🪲

#5420 fix(bw): cannot select all numeric values for some fields.
  radio/src/gui/128x64/widgets.cpp
  radio/src/gui/212x64/widgets.cpp
  radio/src/gui/navigation/navigation.h
  radio/src/gui/navigation/navigation_9x.cpp
  radio/src/gui/navigation/navigation_x7.cpp
Labels: UX-UI, B&W, bug/regression ↩️

#5423 feat: add support for H7 USB voltage detector
  radio/src/targets/common/arm/stm32/stm32_hal_ll.h
  radio/src/targets/common/arm/stm32/usb_driver.cpp
Labels: hardware support

#5426 fix: compiling without external module
  radio/src/gui/colorlcd/radio/radio_tools.cpp
  radio/src/gui/gui_common.cpp
Labels: compilation, house keeping 🧹

#5428 feat: add color formats to WS2812 driver
  radio/src/boards/generic_stm32/rgb_leds.h
  radio/src/targets/common/arm/stm32/stm32_pulse_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_ws2812.cpp
  radio/src/targets/common/arm/stm32/stm32_ws2812.h
  radio/src/targets/pl18/board.cpp
  radio/src/targets/taranis/board.cpp
Labels: hardware support

#5418 feat: allow an 'input' as the source for weight, offset and curve in input line
  companion/src/modeledit/expodialog.cpp
  radio/src/gui/128x64/model_input_edit.cpp
  radio/src/gui/212x64/model_input_edit.cpp
  radio/src/gui/colorlcd/model/input_edit.cpp
  radio/src/gui/colorlcd/model/mixer_edit.cpp
Labels: enhancement ✨, color, B&W

#5430 feat: add support for USB HS
  radio/src/targets/common/arm/stm32/usb_driver.cpp
  radio/src/targets/common/arm/stm32/usbd_cdc.cpp
  radio/src/targets/common/arm/stm32/usbd_conf.c
  radio/src/targets/common/arm/stm32/usbd_storage_msd.cpp
  radio/src/targets/common/arm/stm32/usbd_storage_msd.h
Labels: hardware support

#5431 chore: update ST USB middleware to v2.11.3
  radio/src/targets/common/arm/stm32/usbd_conf.c
  radio/src/thirdparty/STM32_USB_Device_Library/Class/CDC/Inc/usbd_cdc.h
  radio/src/thirdparty/STM32_USB_Device_Library/Class/CDC/Src/usbd_cdc.c
  radio/src/thirdparty/STM32_USB_Device_Library/Class/CustomHID/Src/usbd_customhid.c
  radio/src/thirdparty/STM32_USB_Device_Library/Class/DFU/Inc/usbd_dfu.h
  radio/src/thirdparty/STM32_USB_Device_Library/Class/DFU/Src/usbd_dfu.c
  radio/src/thirdparty/STM32_USB_Device_Library/Core/Src/usbd_core.c
  radio/src/thirdparty/STM32_USB_Device_Library/Core/Src/usbd_ctlreq.c
Labels: house keeping 🧹

#5433 fix: initial wait delay in SPI LCD.
  radio/src/targets/taranis/lcd_driver_aspi.cpp
  radio/src/targets/taranis/lcd_driver_spi.cpp
Labels: bug/regression ↩️

#5437 fix: `generate-yaml` breaks on myeeprom pragma once
  radio/src/myeeprom.h
Labels: compilation, bug/regression ↩️

#5436 fix: SPI word transfer
  radio/src/targets/common/arm/stm32/stm32_spi.cpp
Labels: bug/regression ↩️

#5406 feat: new SF GV Adjust mode to copy source (instead of %) value
  companion/src/firmwares/customfunctiondata.cpp
  companion/src/firmwares/customfunctiondata.h
  companion/src/firmwares/edgetx/yaml_customfunctiondata.cpp
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/modeledit/customfunctions.cpp
  radio/src/dataconstants.h
  radio/src/functions.cpp
  radio/src/gui/128x64/model_special_functions.cpp
  radio/src/gui/212x64/model_special_functions.cpp
  radio/src/gui/colorlcd/model/special_functions.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/ua.h
Labels: enhancement ✨, color, B&W, companion, user manual change, needs:translation

#5439 fix: soft-serial polarity
  radio/src/targets/common/arm/stm32/stm32_softserial_driver.cpp
Labels: bug/regression ↩️

#5435 fix(bw): switch & source changes may not be saved to the SD card.
  radio/src/gui/navigation/navigation_x7.cpp
  radio/src/gui/navigation/navigation_x9d.cpp
  radio/src/gui/navigation/navigation_xlite.cpp
Labels: bug 🪲, B&W

#5443 chore(bw): disable USBJ_EX on all F4 targets with only 512KB flash
  radio/src/CMakeLists.txt
  radio/src/targets/taranis/CMakeLists.txt
Labels: compilation

#5441 chore: avoid shadowing Window::show()
  radio/src/gui/colorlcd/libui/keyboard_number.cpp
  radio/src/gui/colorlcd/libui/keyboard_number.h
  radio/src/gui/colorlcd/libui/keyboard_text.cpp
  radio/src/gui/colorlcd/libui/keyboard_text.h
  radio/src/gui/colorlcd/libui/numberedit.cpp
  radio/src/gui/colorlcd/libui/textedit.cpp
Labels: compilation

#5447 fix(color): refresh issues on Input edit page
  radio/src/gui/colorlcd/libui/textedit.cpp
  radio/src/gui/colorlcd/libui/textedit.h
  radio/src/gui/colorlcd/model/input_edit.cpp
  radio/src/gui/colorlcd/model/input_edit.h
  radio/src/gui/colorlcd/model/model_setup.cpp
Labels: color, UX-UI, bug/regression ↩️

#5450 fix(simulator): SourceNumberEdit not working on Windows
  radio/src/datastructs_private.h
Labels: color, companion, compilation

#5449 fix(color): input edit preview refresh, missing switch display
  radio/src/gui/colorlcd/model/input_edit.cpp
  radio/src/gui/colorlcd/model/input_edit.h
  radio/src/gui/colorlcd/model/model_inputs.cpp
Labels: color, UX-UI, bug/regression ↩️

#5445 fix: BT defined on T15
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/hal.h
Labels: bug 🪲, hardware-mod

#5448 fix: BT defined on T15
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/board.cpp
  radio/src/targets/horus/hal.h
Labels: bug 🪲, hardware support

#5442 feat: indicate in diag ana if serial gimbals are used
  radio/src/boards/generic_stm32/analog_inputs.cpp
  radio/src/gui/128x64/radio_diaganas.cpp
  radio/src/gui/212x64/radio_diaganas.cpp
  radio/src/gui/colorlcd/radio/radio_diaganas.cpp
  radio/src/hal/adc_driver.cpp
  radio/src/hal/adc_driver.h
  radio/src/targets/common/arm/stm32/flysky_gimbal_driver.cpp
  radio/src/targets/common/arm/stm32/stm32_adc.cpp
  radio/src/targets/common/arm/stm32/stm32_adc.h
  radio/src/thirdparty/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_def.h
Labels: enhancement ✨, house keeping 🧹

#5453 chore: fix some compiler warnings when building firmware
  radio/src/datastructs_private.h
  radio/src/definitions.h
  radio/src/functions.cpp
  radio/src/gui/colorlcd/mainview/topbar_impl.cpp
  radio/src/gui/colorlcd/model/curveedit.cpp
  radio/src/gui/navigation/navigation_x7.cpp
  radio/src/targets/common/arm/stm32/usb_driver.cpp
  radio/src/targets/taranis/led_driver.cpp
Labels: compilation, house keeping 🧹

#5440 chore(radio): cleanup code for isSourceAvailable functions
  radio/src/dataconstants.h
  radio/src/gui/gui_common.cpp
  radio/src/gui/gui_common.h
Labels: house keeping 🧹

#5455 chore: de-duplication of TPROS defines
  radio/src/targets/taranis/hal.h
Labels: compilation, house keeping 🧹

#5457 fix(lua): radio tries to run 'nil' script if SF disabled
  radio/src/lua/interface.cpp
Labels: bug 🪲, lua

#5459 chore: replace f_puts and f_printf functions from FatFS to save FLASH space.
  radio/src/lib_file.cpp
  radio/src/logs.cpp
  radio/src/storage/modelslist.cpp
  radio/src/thirdparty/FatFs/ffconf.h
Labels: color, B&W, compilation

#5458 feat(color): adjust font size of text in Choice box to fit
  radio/src/gui/colorlcd/libui/choice.cpp
  radio/src/gui/colorlcd/libui/choice.h
Labels: color, UX-UI

#5463 chore(radio): reduce FLASH size by using symmetry of sine values.
  radio/src/audio.cpp
Labels: color, B&W, house keeping 🧹

#5181 feat(lua): add screenshot() function
  radio/src/lua/api_general.cpp
Labels: enhancement ✨, lua-api, lua

#5452 feat(lua): add end coordinates to lcd.drawTextLines
  radio/src/gui/colorlcd/libui/bitmapbuffer.h
  radio/src/gui/colorlcd/libui/bitmapbuffer_draw_extra.cpp
  radio/src/lua/api_colorlcd.cpp
Labels: color, lua-api

#5410 feat(cpn): support more than just FrSky S.Port telemetry simulation
  companion/src/simulation/CMakeLists.txt
  companion/src/simulation/simulatedgps.cpp
  companion/src/simulation/simulatedgps.h
  companion/src/simulation/simulatorinterface.h
  companion/src/simulation/telemetryprovider.h
  companion/src/simulation/telemetryprovidercrossfire.cpp
  companion/src/simulation/telemetryprovidercrossfire.h
  companion/src/simulation/telemetryprovidercrossfire.ui
  companion/src/simulation/telemetryproviderfrsky.cpp
  companion/src/simulation/telemetryproviderfrsky.h
  companion/src/simulation/telemetryproviderfrsky.ui
  companion/src/simulation/telemetrysimu.cpp
  companion/src/simulation/telemetrysimu.h
  companion/src/simulation/telemetrysimu.ui
  radio/src/targets/simu/opentxsimulator.cpp
  radio/src/targets/simu/opentxsimulator.h
  radio/util/find_clang.py
Labels: companion, simulator, telemetry 📶, contest

#5460 chore: inconsistencies in yaml storage files
  radio/src/storage/yaml/CMakeLists.txt
  radio/src/storage/yaml/yaml_datastructs.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_x9dp2019.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  tools/generate-yaml.sh
Labels: color, B&W, compilation

#5471 fix(flysky): battery charging animation and other timing issues
  radio/src/targets/nv14/battery_driver.cpp
  radio/src/targets/nv14/board.cpp
  radio/src/targets/nv14/board.h
  radio/src/targets/nv14/touch_driver.cpp
  radio/src/targets/pl18/battery_driver.cpp
  radio/src/targets/pl18/board.cpp
  radio/src/targets/pl18/board.h
  radio/src/targets/pl18/touch_driver.cpp
Labels: bug/regression ↩️

#5429 feat(radio): sort global/special function names
  radio/src/CMakeLists.txt
  radio/src/cfn_sort.cpp
  radio/src/dataconstants.h
  radio/src/edgetx.h
  radio/src/functions.cpp
  radio/src/gui/128x64/model_special_functions.cpp
  radio/src/gui/212x64/model_special_functions.cpp
  radio/src/gui/colorlcd/model/special_functions.cpp
  radio/src/gui/gui_common.cpp
  tools/cfn_sorter.cpp
  tools/cfn_sorter.sh
Labels: enhancement ✨

#5475 feat(cpn): update telemetry simulation to include FrSky Hub
  companion/src/simulation/CMakeLists.txt
  companion/src/simulation/simulatorinterface.h
  companion/src/simulation/telemetryproviderfrskyhub.cpp
  companion/src/simulation/telemetryproviderfrskyhub.h
  companion/src/simulation/telemetryproviderfrskyhub.ui
  companion/src/simulation/telemetrysimu.cpp
  companion/src/simulation/telemetrysimu.ui
  radio/src/targets/simu/opentxsimulator.cpp
Labels: enhancement ✨, companion, simulator, telemetry 📶

#5476 chore(cpn): finish SimulatedGPS refactor, fix GPS lat/long not working
  companion/src/simulation/telemetryproviderfrsky.cpp
  companion/src/simulation/telemetryproviderfrsky.h
Labels: simulator, telemetry 📶, bug/regression ↩️, house keeping 🧹

#5477 chore(cpn): clean up now-unused code from telemetry log replayer
  companion/src/simulation/telemetrysimu.cpp
  companion/src/simulation/telemetrysimu.h
Labels: simulator, telemetry 📶, house keeping 🧹

#5474 fix(color): portrait layout issues
  radio/src/gui/colorlcd/module/afhds3_options.cpp
  radio/src/gui/colorlcd/module/afhds3_options.h
  radio/src/gui/colorlcd/module/afhds3_settings.cpp
  radio/src/gui/colorlcd/module/custom_failsafe.cpp
  radio/src/gui/colorlcd/module/custom_failsafe.h
  radio/src/gui/colorlcd/module/module_setup.cpp
Labels: bug 🪲, color, UX-UI

#5465 fix(radio): multiplex setting is not valid for 1st line in a mix
  companion/src/modeledit/mixerdialog.cpp
  companion/src/modeledit/mixerdialog.h
  companion/src/modeledit/mixerdialog.ui
  companion/src/modeledit/mixes.cpp
  companion/src/modelprinter.cpp
  radio/src/gui/128x64/model_mix_edit.cpp
  radio/src/gui/212x64/model_mix_edit.cpp
  radio/src/gui/colorlcd/model/mixer_edit_adv.cpp
  radio/src/gui/common/stdlcd/model_mixes.cpp
  radio/src/mixer.cpp
Labels: bug 🪲, color, UX-UI, B&W, companion

#5468 fix: xjt lite telem binding
  radio/src/pulses/modules_helpers.h
  radio/src/tests/module_ports.cpp
Labels: bug/regression ↩️, needs: unit tests

#3414 feat: option to automatically power off radio after inactivity
  companion/src/firmwares/edgetx/yaml_generalsettings.cpp
  companion/src/firmwares/generalsettings.h
  companion/src/generaledit/generalsetup.cpp
  companion/src/generaledit/generalsetup.h
  companion/src/generaledit/generalsetup.ui
  radio/src/datastructs.h
  radio/src/datastructs_private.h
  radio/src/edgetx.cpp
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/212x64/radio_setup.cpp
  radio/src/gui/colorlcd/radio/radio_setup.cpp
  radio/src/storage/yaml/yaml_datastructs_128x64.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_pl18.cpp
  radio/src/storage/yaml/yaml_datastructs_t15.cpp
  radio/src/storage/yaml/yaml_datastructs_t20.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9dp2019.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
Labels: enhancement ✨, rn: feature, user manual change
