Repository EdgeTX/edgetx, pull requests merged in 2024-11, with the labels that each got.

#5655 fix(color): preview not removed in SD manager after image file deleted
  radio/src/gui/colorlcd/radio/radio_sdmanager.cpp
Labels: color, UX-UI, bug/regression ↩️

#5654 feat(lua): add 'align' and 'opacity' properties for LVGL widget objects
  radio/src/lua/lua_lvgl_widget.cpp
  radio/src/lua/lua_lvgl_widget.h
Labels: enhancement ✨, color, lua-api, widget, lua

#5649 fix: only display PPM multiplier when PPM is used
  radio/src/gui/colorlcd/radio/radio_trainer.cpp
  radio/src/gui/common/stdlcd/radio_trainer.cpp
Labels: bug 🪲

#5658 fix(color): touch events may not work correctly in the SD manager file browser.
  radio/src/gui/colorlcd/libui/file_browser.cpp
  radio/src/gui/colorlcd/libui/file_browser.h
Labels: color, UX-UI, bug/regression ↩️

#5657 fix(cpn): halt when multiple locations for read and write models and settings detected
  companion/src/radiointerface.cpp
  companion/src/radiointerface.h
Labels: enhancement ✨, companion

#5675 fix(color): show script name for 'RGB led' function in SF/GF list view
  radio/src/gui/colorlcd/model/special_functions.cpp
Labels: bug 🪲, color, UX-UI

#5669 fix(v16): add missing SWSERIALPOWER define for V16.
  radio/src/targets/horus/CMakeLists.txt
Labels: house keeping 🧹

#5659 fix(color): issues with main view UI
  radio/src/gui/colorlcd/mainview/screen_setup.cpp
  radio/src/gui/colorlcd/mainview/topbar_impl.cpp
  radio/src/gui/colorlcd/mainview/topbar_impl.h
  radio/src/gui/colorlcd/mainview/view_main.cpp
  radio/src/gui/colorlcd/mainview/view_main.h
  radio/src/gui/colorlcd/mainview/widget.h
  radio/src/gui/colorlcd/mainview/widgets_container_impl.h
Labels: color, UX-UI, bug/regression ↩️

#5665 fix(bw): incorrect characters displayed for some language translations.
  radio/src/fonts/sqt5/font_04x06_extra.png
  radio/src/fonts/sqt5/font_10x14_extra.png
Labels: UX-UI, B&W, bug/regression ↩️

#5677 feat(radio): add repeat option for 'RGB Led' SF
  companion/src/firmwares/boards.cpp
  radio/src/gui/128x64/model_special_functions.cpp
  radio/src/gui/212x64/model_special_functions.cpp
  radio/src/gui/colorlcd/model/special_functions.cpp
  radio/src/myeeprom.h
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
Labels: enhancement ✨, color, B&W

#5653 chore(cpn): remove binary file format models and settings support
  companion/src/CMakeLists.txt
  companion/src/constants.h
  companion/src/firmwares/CMakeLists.txt
  companion/src/firmwares/eepromimportexport.h
  companion/src/firmwares/eeprominterface.cpp
  companion/src/firmwares/eeprominterface.h
  companion/src/firmwares/er9x/er9xeeprom.cpp
  companion/src/firmwares/er9x/er9xeeprom.h
  companion/src/firmwares/er9x/er9xinterface.cpp
  companion/src/firmwares/er9x/er9xinterface.h
  companion/src/firmwares/ersky9x/ersky9xeeprom.cpp
  companion/src/firmwares/ersky9x/ersky9xeeprom.h
  companion/src/firmwares/ersky9x/ersky9xinterface.cpp
  companion/src/firmwares/ersky9x/ersky9xinterface.h
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/firmwares/opentx/opentxeeprom.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/firmwares/opentx/opentxinterface.h
  companion/src/flasheepromdialog.cpp
  companion/src/flasheepromdialog.h
  companion/src/flasheepromdialog.ui
  companion/src/flashfirmwaredialog.cpp
  companion/src/mainwindow.cpp
  companion/src/mdichild.cpp
  companion/src/modelprinter.cpp
  companion/src/modelprinter.h
  companion/src/radiointerface.cpp
  companion/src/simulation/simulatorstartupdialog.cpp
  companion/src/simulation/simulatorwidget.cpp
  companion/src/storage/CMakeLists.txt
  companion/src/storage/labeled.cpp
  companion/src/storage/labeled.h
  companion/src/storage/otx.cpp
  companion/src/storage/otx.h
  companion/src/storage/sdcard.h
  companion/src/storage/storage.cpp
  companion/src/storage/storage.h
Labels: companion, simulator, house keeping 🧹

#5681 feat(Lua): add properties for dashed vertical and horizontal lines in Lvgl API.
  radio/src/lua/lua_lvgl_widget.cpp
  radio/src/lua/lua_lvgl_widget.h
Labels: enhancement ✨, color, lua-api

#5678 chore(cpn): move model edit setup classes to own code files
  companion/src/modeledit/CMakeLists.txt
  companion/src/modeledit/setup.cpp
  companion/src/modeledit/setup.h
  companion/src/modeledit/setup_function_switches.cpp
  companion/src/modeledit/setup_function_switches.h
  companion/src/modeledit/setup_module.cpp
  companion/src/modeledit/setup_module.h
  companion/src/modeledit/setup_timer.cpp
  companion/src/modeledit/setup_timer.h
Labels: companion, house keeping 🧹

#5668 chore: remove hardcoded aux1 debug hack
  radio/src/serial.cpp
  radio/src/targets/horus/board.cpp
  radio/src/targets/nv14/board.cpp
  radio/src/targets/pl18/board.cpp
  radio/src/targets/taranis/board.cpp
Labels: house keeping 🧹

#5663 fix(color): cannot change 'Invert' state on radios with no touch screen
  radio/src/gui/colorlcd/controls/sourcechoice.cpp
  radio/src/gui/colorlcd/controls/switchchoice.cpp
  radio/src/gui/colorlcd/libui/file_browser.cpp
  radio/src/gui/colorlcd/libui/file_browser.h
  radio/src/gui/colorlcd/libui/listbox.cpp
  radio/src/gui/colorlcd/libui/listbox.h
  radio/src/gui/colorlcd/libui/menu.cpp
  radio/src/gui/colorlcd/libui/menu.h
  radio/src/gui/colorlcd/libui/table.cpp
  radio/src/gui/colorlcd/libui/table.h
  radio/src/gui/colorlcd/radio/radio_theme.cpp
Labels: enhancement ✨, color, UX-UI

#5671 chore!(color): remove font offsets for Lua 'lcd' text drawing
  radio/src/lua/api_colorlcd.cpp
Labels: color, lua, house keeping 🧹

#5674 fix(radio): trim values scaled incorrectly when displayed via Lua
  radio/src/mixer.cpp
Labels: bug 🪲, color, lua-api, B&W

#5672 feat: trainer SBUS processing in IDLE IRQ
  radio/src/sbus.cpp
  radio/src/sbus.h
  radio/src/serial.cpp
  radio/src/tasks/mixer_task.cpp
  radio/src/trainer.cpp
Labels: bug 🪲, firmware

#5684 fix(cpn): some trainer options not working
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/modeldata.cpp
Labels: bug 🪲, companion
