Repository EdgeTX/edgetx, pull requests merged in 2024-09, with the labels that each got.

#5488 fix(bw): prevent autodetection of unavailable sources
  radio/src/gui/navigation/navigation_9x.cpp
  radio/src/gui/navigation/navigation_x7.cpp
Labels: bug 🪲, B&W

#5490 fix: register activity on CS changes
  radio/src/switches.cpp
Labels: firmware

#5317 feat: support for HelloRadioSky V16
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/workflows/actions.yml
  .github/workflows/nightly.yml
  companion/src/CMakeLists.txt
  companion/src/companion.qrc
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/images/simulator/V16/left.png
  companion/src/images/simulator/V16/left_pagedn.png
  companion/src/images/simulator/V16/left_pageup.png
  companion/src/images/simulator/V16/left_rtn.png
  companion/src/images/simulator/V16/left_sys.png
  companion/src/images/simulator/V16/left_tele.png
  companion/src/images/simulator/V16/right.png
  companion/src/images/simulator/V16/right_ent.png
  companion/src/images/simulator/V16/right_mdl.png
  companion/src/simulation/CMakeLists.txt
  companion/src/simulation/simulateduiwidget.h
  companion/src/simulation/simulateduiwidgetV16.cpp
  companion/src/simulation/simulateduiwidgetV16.ui
  companion/src/simulation/simulatorwidget.cpp
  fw.json
  radio/src/audio.cpp
  radio/src/boards/generic_stm32/rgb_leds.cpp
  radio/src/edgetx.cpp
  radio/src/hal/adc_driver.cpp
  radio/src/lua/api_general.cpp
  radio/src/targets/common/arm/stm32/stm32_ws2812.cpp
  radio/src/targets/common/arm/stm32/stm32_ws2812.h
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/board.cpp
  radio/src/targets/horus/board.h
  radio/src/targets/horus/csd203_sensor.cpp
  radio/src/targets/horus/csd203_sensor.h
  radio/src/targets/horus/hal.h
  radio/src/targets/horus/usb_descriptor.h
  radio/util/build-firmware.py
  radio/util/fwoptions.py
  radio/util/hw_defs/legacy_names.py
  radio/util/hw_defs/pot_config.py
  radio/util/hw_defs/switch_config.py
  tools/boards.py
  tools/build-common.sh
  tools/build-companion.sh
Labels: hardware support

#5495 fix(color): Value widget not showing date or GPS telemetry sensors
  radio/src/gui/colorlcd/widgets/value.cpp
Labels: color, widget, bug/regression ↩️

#5498 fix(bw): enabling/disabling of GF/SF causing EM
  radio/src/gui/navigation/navigation_9x.cpp
  radio/src/gui/navigation/navigation_x7.cpp
Labels: B&W, em, bug/regression ↩️

#5499 fix(radio): a Lua script GF/SF continues to run after function changed
  radio/src/gui/128x64/model_special_functions.cpp
  radio/src/gui/212x64/model_special_functions.cpp
  radio/src/gui/colorlcd/model/special_functions.cpp
Labels: bug 🪲, color, B&W

#5501 fix(bw): wait time in lcd init
  radio/src/targets/taranis/lcd_driver_aspi.cpp
  radio/src/targets/taranis/lcd_driver_spi.cpp
Labels: bug/regression ↩️

#5505 fix(simu): incorrect key mappings for T12MAX, TPROS
  companion/src/simulation/simulateduiwidgetJumperT12max.cpp
  companion/src/simulation/simulateduiwidgetJumperTPROS.cpp
Labels: companion, simulator, bug/regression ↩️

#5500 fix(color): cleanup update/refresh/event handling
  radio/src/gui/colorlcd/controls/channel_range.cpp
  radio/src/gui/colorlcd/controls/channel_range.h
  radio/src/gui/colorlcd/controls/gvar_numberedit.cpp
  radio/src/gui/colorlcd/controls/input_source.cpp
  radio/src/gui/colorlcd/controls/input_source.h
  radio/src/gui/colorlcd/controls/source_numberedit.cpp
  radio/src/gui/colorlcd/controls/source_numberedit.h
  radio/src/gui/colorlcd/libui/choice.cpp
  radio/src/gui/colorlcd/libui/choice.h
  radio/src/gui/colorlcd/libui/slider.cpp
  radio/src/gui/colorlcd/libui/slider.h
  radio/src/gui/colorlcd/libui/toggleswitch.cpp
  radio/src/gui/colorlcd/libui/toggleswitch.h
  radio/src/gui/colorlcd/model/model_logical_switches.cpp
  radio/src/gui/colorlcd/model/special_functions.cpp
  radio/src/gui/colorlcd/module/afhds2a_settings.cpp
  radio/src/gui/colorlcd/module/afhds2a_settings.h
  radio/src/gui/colorlcd/module/afhds3_settings.cpp
  radio/src/gui/colorlcd/module/module_setup.cpp
  radio/src/gui/colorlcd/module/mpm_settings.cpp
  radio/src/gui/colorlcd/radio/hw_inputs.cpp
  radio/src/gui/colorlcd/radio/hw_inputs.h
  radio/src/gui/gui_common.cpp
  radio/src/pulses/flysky.cpp
Labels: color, UX-UI, bug/regression ↩️, house keeping 🧹

#5509 fix(color): use LVGL canvas for drawing standalone script UI
  radio/src/gui/colorlcd/standalone_lua.cpp
  radio/src/gui/colorlcd/standalone_lua.h
Labels: color, UX-UI, bug/regression ↩️

#5506 fix(crsf): send modelID after module reset
  radio/src/pulses/crossfire.cpp
Labels: bug 🪲, firmware

#5511 fix(pl18): ws2812 not working properly after v16 support
  radio/src/targets/common/arm/stm32/stm32_ws2812.cpp
Labels: bug/regression ↩️

#5517 chore(color): remove unused code
  radio/src/gui/colorlcd/module/module_setup.cpp
Labels: color, house keeping 🧹

#5515 fix(radio): CS values may be read incorrectly from yaml
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
Labels: bug 🪲, color, B&W

#5493 feat(v16): enable support of Flysky Gimbal
  radio/src/targets/horus/CMakeLists.txt
Labels: needs: testing

#5519 chore: cleanup sdcard
  radio/src/targets/common/arm/stm32/diskio_spi.cpp
  radio/src/targets/common/arm/stm32/pwr_driver.cpp
  radio/src/targets/taranis/hal.h
Labels: house keeping 🧹, firmware

#5522 fix(color): curve button remaining in pressed state when editing input or mix
  radio/src/gui/colorlcd/controls/curve_param.cpp
  radio/src/gui/colorlcd/controls/curve_param.h
Labels: bug 🪲, color, UX-UI

#5525 fix: T-Pro S external module
  radio/src/targets/taranis/hal.h
Labels: bug 🪲, house keeping 🧹

#5524 feat(color): use curve select button on outputs edit page to match inputs and mixes
  radio/src/edgetx.h
  radio/src/gui/colorlcd/controls/curve_param.cpp
  radio/src/gui/colorlcd/controls/curve_param.h
  radio/src/gui/colorlcd/model/curveedit.cpp
  radio/src/gui/colorlcd/model/curveedit.h
  radio/src/gui/colorlcd/model/input_edit.cpp
  radio/src/gui/colorlcd/model/input_edit.h
  radio/src/gui/colorlcd/model/mixer_edit.cpp
  radio/src/gui/colorlcd/model/mixer_edit.h
  radio/src/gui/colorlcd/model/model_curves.cpp
  radio/src/gui/colorlcd/model/model_curves.h
  radio/src/gui/colorlcd/model/output_edit.cpp
  radio/src/gui/navigation/navigation.cpp
Labels: enhancement ✨, color, UX-UI

#5518 feat(color): add Slider & Choice widget option types
  companion/src/firmwares/customisation_data.cpp
  companion/src/firmwares/customisation_data.h
  radio/src/gui/colorlcd/libui/dialog.cpp
  radio/src/gui/colorlcd/mainview/widget.cpp
  radio/src/gui/colorlcd/mainview/widget_settings.cpp
  radio/src/gui/colorlcd/mainview/widget_settings.h
  radio/src/gui/colorlcd/mainview/widgets_setup.cpp
  radio/src/gui/colorlcd/mainview/zone.h
  radio/src/lua/api_colorlcd_lvgl.cpp
  radio/src/lua/api_general.cpp
  radio/src/lua/interface.cpp
  radio/src/lua/lua_api.h
  radio/src/lua/lua_event.cpp
  radio/src/lua/lua_lvgl_widget.cpp
  radio/src/lua/lua_widget.cpp
  radio/src/lua/lua_widget.h
  radio/src/lua/lua_widget_factory.cpp
  radio/src/lua/widgets.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/ua.h
Labels: enhancement ✨, color, lua-api, lua

#5526 feat(color): show global variable names in UI
  radio/src/gui/colorlcd/model/model_gvars.cpp
  radio/src/gui/colorlcd/model/special_functions.cpp
Labels: enhancement ✨, color, UX-UI

#5531 fix(color): incorrect font name in Lua API
  radio/src/lua/api_general.cpp
Labels: color, lua-api, bug/regression ↩️

#5497 feat: special function to push customisable switches
  companion/src/firmwares/boardjson.cpp
  companion/src/firmwares/boardjson.h
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/customfunctiondata.cpp
  companion/src/firmwares/customfunctiondata.h
  companion/src/firmwares/edgetx/yaml_customfunctiondata.cpp
  companion/src/firmwares/rawsource.cpp
  companion/src/modeledit/customfunctions.cpp
  radio/src/cfn_sort.cpp
  radio/src/dataconstants.h
  radio/src/datastructs_private.h
  radio/src/edgetx.h
  radio/src/functions.cpp
  radio/src/gui/128x64/model_special_functions.cpp
  radio/src/gui/colorlcd/model/special_functions.cpp
  radio/src/lua/api_general.cpp
  radio/src/myeeprom.h
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_t15.cpp
  radio/src/storage/yaml/yaml_datastructs_t20.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/switches.cpp
  radio/src/switches.h
  radio/src/targets/common/arm/stm32/delays_driver.cpp
  radio/src/targets/common/arm/stm32/delays_driver.h
  radio/src/targets/simu/switch_driver.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/ua.h
  tools/cfn_sorter.cpp
Labels: enhancement ✨

#5530 feat(color): keep screen options when changing layout.
  radio/src/gui/colorlcd/mainview/screen_setup.cpp
Labels: enhancement ✨, color, UX-UI, rn: feature

#5536 fix(bw): adjust 128x64 B&W FlightModes tab layout to better fit values.
  radio/src/gui/128x64/model_flightmodes.cpp
Labels: UX-UI, B&W

#5535 chore(lua): remove redundant entries added in 5518.
  radio/src/gui/colorlcd/mainview/zone.h
  radio/src/lua/api_general.cpp
  radio/src/lua/lua_api.h
Labels: color, lua-api, house keeping 🧹

#5537 SE translation updates
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#5538 chore: abbreviation of voice names for smaller screens
  radio/src/translations/ru.h
Labels: translation

#5541 feat: mute while charging on some Jumper radio
  radio/src/CMakeLists.txt
  radio/src/targets/horus/board.cpp
  radio/src/targets/taranis/board.cpp
Labels: enhancement ✨, firmware

#5544 fix(color): full screen widget may not exit cleanly after calling lcd.exitFullScreen()
  radio/src/gui/colorlcd/mainview/widget.h
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/lua_widget.cpp
Labels: bug 🪲, color, UX-UI, lua-api

#5562 chore: update yaml_datastructs files.
  radio/src/storage/yaml/yaml_datastructs_128x64.cpp
  radio/src/storage/yaml/yaml_datastructs_f16.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_pl18.cpp
  radio/src/storage/yaml/yaml_datastructs_t15.cpp
  radio/src/storage/yaml/yaml_datastructs_t20.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9dp2019.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
Labels: house keeping 🧹

#5529 feat(bw): add collapsable sections to B&W radio setup tab
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/212x64/model_setup.cpp
  radio/src/gui/212x64/radio_setup.cpp
Labels: enhancement ✨, UX-UI, B&W

#5559 feat(bw): show trim name in top bar when editing FM trim value.
  radio/src/gui/128x64/model_flightmodes.cpp
Labels: enhancement ✨, UX-UI, B&W

#5567 fix(color): wrong selection order of model buttons on manage models page
  radio/src/gui/colorlcd/model/model_select.cpp
Labels: color, bug/regression ↩️

#5561 fix(cpn): sf/gf sd logs minimum and default time
  companion/src/modeledit/customfunctions.cpp
Labels: bug 🪲, companion, user manual change
