Repository EdgeTX/edgetx, pull requests merged in 2024-10, with the labels that each got.

#5582 fix(color): automatic switch and source selection in popup menus not working
  radio/src/gui/colorlcd/libui/modal_window.cpp
Labels: color, bug/regression ↩️

#5590 chore: update sf/gf sort order from recent changes
  radio/src/cfn_sort.cpp
Labels: color, B&W, house keeping 🧹

#5588 fix(color): special function 'Set Main Screen' settings not written to YAML file correctly
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
Labels: color, bug/regression ↩️

#5592 fix(bw): incorrect module bay size for T12Max and T14
  radio/src/targets/taranis/CMakeLists.txt
Labels: bug 🪲, B&W

#5593 fix(color): incorrect method called to free a widget options array
  radio/src/lua/widgets.cpp
Labels: color, lua, bug/regression ↩️

#5594 fix overflows on BW radios in UA translation
  radio/src/translations/ua.h
Labels: translation

#5596 fix(color): place UI for all three pots at bottom of main view for PL18/PL18EV
  radio/src/gui/colorlcd/mainview/sliders.cpp
  radio/src/gui/colorlcd/mainview/sliders.h
  radio/src/gui/colorlcd/mainview/view_main_decoration.cpp
Labels: color, UX-UI

#5586 fix(cpn): set all sf/gf functions with repeat to enabled on otx import
  companion/src/firmwares/opentx/opentxeeprom.cpp
Labels: companion, bug/regression ↩️

#5580 fix(bw): unshifted trims on XLite radios should always adjust elevator and aileron
  radio/src/boards/generic_stm32/inputs.cpp
  radio/src/keys.cpp
  radio/src/targets/simu/simpgmspace.cpp
Labels: B&W, bug/regression ↩️

#5564 fix(radio): fix GV calculation and menu navigation in weight/offset/expo fields.
  radio/src/gui/navigation/common.cpp
  radio/src/gui/navigation/navigation.cpp
  radio/src/gui/navigation/navigation_9x.cpp
  radio/src/gui/navigation/navigation_x7.cpp
  radio/src/mixer.cpp
  radio/src/strhelpers.cpp
Labels: color, B&W, bug/regression ↩️

#5599 Support for Jumper Bumblebee
  .github/workflows/actions.yml
  .github/workflows/nightly.yml
  companion/src/CMakeLists.txt
  companion/src/companion.qrc
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/images/simulator/JumperBumblebee/bottom.png
  companion/src/images/simulator/JumperBumblebee/enter.png
  companion/src/images/simulator/JumperBumblebee/exit.png
  companion/src/images/simulator/JumperBumblebee/left.png
  companion/src/images/simulator/JumperBumblebee/menu.png
  companion/src/images/simulator/JumperBumblebee/page.png
  companion/src/images/simulator/JumperBumblebee/right.png
  companion/src/images/simulator/JumperBumblebee/top.png
  companion/src/simulation/CMakeLists.txt
  companion/src/simulation/simulateduiwidget.h
  companion/src/simulation/simulateduiwidgetJumperBumblebee.cpp
  companion/src/simulation/simulateduiwidgetJumperBumblebee.ui
  companion/src/simulation/simulatorwidget.cpp
  fw.json
  radio/src/datastructs.h
  radio/src/hal/rotary_encoder.h
  radio/src/simu.cpp
  radio/src/storage/yaml/yaml_datastructs.cpp
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/hal.h
  radio/src/targets/taranis/usb_descriptor.h
  radio/util/hw_defs/legacy_names.py
  radio/util/hw_defs/pot_config.py
  radio/util/hw_defs/switch_config.py
  tools/build-companion.sh
  tools/build-gh.sh
  tools/generate-hw-defs.sh
Labels: hardware support

#5601 fix(bw): navigation for main view, logical switches and special functions
  radio/src/gui/128x64/gui.h
  radio/src/gui/128x64/model_logical_switches.cpp
  radio/src/gui/128x64/model_special_functions.cpp
  radio/src/gui/128x64/view_main.cpp
  radio/src/gui/212x64/gui.h
  radio/src/gui/navigation/common.cpp
  radio/src/gui/navigation/navigation.h
Labels: UX-UI, B&W, bug/regression ↩️

#5606 chore: remove unused NAVIGATION_TYPE define.
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/taranis/CMakeLists.txt
Labels: compilation, house keeping 🧹

#5616 fix(cpn): moving lua script functions
  companion/src/modeledit/customfunctions.cpp
Labels: bug 🪲, companion

#5589 feat(bw): add 'Set Screen' special function to B&W radios
  companion/src/firmwares/customfunctiondata.cpp
  companion/src/firmwares/customfunctiondata.h
  companion/src/modeledit/customfunctions.cpp
  companion/src/modeledit/customfunctions.h
  radio/src/cfn_sort.cpp
  radio/src/dataconstants.h
  radio/src/edgetx.h
  radio/src/functions.cpp
  radio/src/gui/128x64/model_special_functions.cpp
  radio/src/gui/128x64/view_telemetry.cpp
  radio/src/gui/212x64/model_special_functions.cpp
  radio/src/gui/212x64/view_telemetry.cpp
  radio/src/gui/common/stdlcd/view_telemetry.cpp
  radio/src/lua/api_general.cpp
  radio/src/lua/interface.cpp
  radio/src/main.cpp
  radio/src/myeeprom.h
  radio/src/storage/yaml/yaml_datastructs_128x64.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/storage/yaml/yaml_datastructs_t20.cpp
  radio/src/storage/yaml/yaml_datastructs_tpro.cpp
  radio/src/storage/yaml/yaml_datastructs_x9d.cpp
  radio/src/storage/yaml/yaml_datastructs_x9dp2019.cpp
  radio/src/storage/yaml/yaml_datastructs_x9e.cpp
  radio/src/storage/yaml/yaml_datastructs_xlite.cpp
  radio/src/storage/yaml/yaml_datastructs_xlites.cpp
  radio/src/translations.cpp
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/ua.h
  tools/cfn_sorter.cpp
Labels: enhancement ✨, B&W, user manual change, needs:translation

#5620 fix(cpn): function switches induced crash
  companion/src/firmwares/boardjson.cpp
  companion/src/firmwares/customfunctiondata.cpp
Labels: companion, bug/regression ↩️

#5587 feat(lua): deliver EVT_TOUCH_RELEASE event
  radio/src/lua/lua_widget.cpp
Labels: lua-api, touch 👆

#5605 feat(color): add FILE type for widget options
  companion/src/firmwares/customisation_data.cpp
  companion/src/firmwares/customisation_data.h
  radio/src/datastructs.h
  radio/src/gui/colorlcd/libui/filechoice.h
  radio/src/gui/colorlcd/mainview/widget_settings.cpp
  radio/src/gui/colorlcd/mainview/zone.h
  radio/src/lua/api_general.cpp
  radio/src/lua/lua_widget.cpp
  radio/src/lua/lua_widget_factory.cpp
  radio/src/lua/widgets.cpp
  radio/src/storage/yaml/yaml_datastructs_f16.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14.cpp
  radio/src/storage/yaml/yaml_datastructs_pl18.cpp
  radio/src/storage/yaml/yaml_datastructs_t15.cpp
  radio/src/storage/yaml/yaml_datastructs_x10.cpp
Labels: color, widget, lua

#5622 chore: run `companion_translations`
  companion/src/translations/companion_cs.ts
  companion/src/translations/companion_da.ts
  companion/src/translations/companion_de.ts
  companion/src/translations/companion_en.ts
  companion/src/translations/companion_es.ts
  companion/src/translations/companion_fi.ts
  companion/src/translations/companion_fr.ts
  companion/src/translations/companion_he.ts
  companion/src/translations/companion_it.ts
  companion/src/translations/companion_ja.ts
  companion/src/translations/companion_nl.ts
  companion/src/translations/companion_pl.ts
  companion/src/translations/companion_pt.ts
  companion/src/translations/companion_ru.ts
  companion/src/translations/companion_sv.ts
  companion/src/translations/companion_zh_CN.ts
  companion/src/translations/companion_zh_TW.ts
Labels: companion, translation

#5623 chore: update ES for #5589
  radio/src/cfn_sort.cpp
  radio/src/translations/es.h
Labels: translation

#5624 feat: support for Jumper Bumblebee
  .github/workflows/actions.yml
  .github/workflows/nightly.yml
  companion/src/CMakeLists.txt
  companion/src/companion.qrc
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/opentx/opentxeeprom.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/images/simulator/JumperBumblebee/bottom.png
  companion/src/images/simulator/JumperBumblebee/enter.png
  companion/src/images/simulator/JumperBumblebee/exit.png
  companion/src/images/simulator/JumperBumblebee/left.png
  companion/src/images/simulator/JumperBumblebee/menu.png
  companion/src/images/simulator/JumperBumblebee/page.png
  companion/src/images/simulator/JumperBumblebee/right.png
  companion/src/images/simulator/JumperBumblebee/top.png
  companion/src/simulation/CMakeLists.txt
  companion/src/simulation/simulateduiwidget.h
  companion/src/simulation/simulateduiwidgetJumperBumblebee.cpp
  companion/src/simulation/simulateduiwidgetJumperBumblebee.ui
  companion/src/simulation/simulatorwidget.cpp
  fw.json
  radio/src/datastructs.h
  radio/src/hal/rotary_encoder.h
  radio/src/simu.cpp
  radio/src/storage/yaml/yaml_datastructs.cpp
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/hal.h
  radio/src/targets/taranis/usb_descriptor.h
  radio/util/hw_defs/legacy_names.py
  radio/util/hw_defs/pot_config.py
  radio/util/hw_defs/switch_config.py
  tools/build-common.sh
  tools/build-companion.sh
  tools/generate-hw-defs.sh
Labels: hardware support

#5629 fix(cpn): update last used directory on save
  companion/src/mainwindow.cpp
  companion/src/mainwindow.h
  companion/src/mdichild.cpp
Labels: bug 🪲, companion

#5628 fix(cpn): active file radio profile conversion
  companion/src/firmwares/generalsettings.cpp
Labels: bug 🪲, companion

#3932 feat(sim): hat switches support for NV14 and EL18
  companion/src/companion.qrc
  companion/src/images/simulator/NV14/bottom.png
  companion/src/images/simulator/NV14/left.png
  companion/src/images/simulator/NV14/lhs.png
  companion/src/images/simulator/NV14/lhs_hat_down.png
  companion/src/images/simulator/NV14/lhs_hat_left.png
  companion/src/images/simulator/NV14/lhs_hat_press.png
  companion/src/images/simulator/NV14/lhs_hat_right.png
  companion/src/images/simulator/NV14/lhs_hat_up.png
  companion/src/images/simulator/NV14/rhs.png
  companion/src/images/simulator/NV14/rhs_hat_down.png
  companion/src/images/simulator/NV14/rhs_hat_left.png
  companion/src/images/simulator/NV14/rhs_hat_press.png
  companion/src/images/simulator/NV14/rhs_hat_right.png
  companion/src/images/simulator/NV14/rhs_hat_up.png
  companion/src/images/simulator/NV14/right.png
  companion/src/images/simulator/NV14/top.png
  companion/src/simulation/simulateduiwidgetEL18.cpp
  companion/src/simulation/simulateduiwidgetEL18.ui
  companion/src/simulation/simulateduiwidgetNV14.cpp
  companion/src/simulation/simulateduiwidgetNV14.ui
  companion/src/simulation/simulator_strings.h
Labels: enhancement ✨, simulator

#5632 feat(color): add option for 'Copy min/max/center to all outputs'
  radio/src/gui/colorlcd/model/model_outputs.cpp
Labels: enhancement ✨, color, UX-UI

#5635 chore: improve VBAT measurement
  radio/src/hal/adc_driver.cpp
  radio/src/targets/simu/adc_driver.cpp
  radio/src/targets/taranis/board.h
Labels: rn: warning, house keeping 🧹
