Repository EdgeTX/edgetx, pull requests merged in 2025-07, with the labels that each got.

#6403 fix(lua): model.setCurve function may fail when creating a curve with 17 points.
  radio/src/lua/api_model.cpp
Labels: bug 🪲, color, lua-api, B&W

#6402 feat(telem): add support for CRSF 0x09 packed vertical speed
  radio/src/telemetry/crossfire.cpp
Labels: telemetry 📶

#6396 chore: make helper tools more robust, translation helpers
  radio/src/fonts/lvgl/make_fonts.sh
  radio/src/translations/pl.h
  tools/cfn_sorter.sh
  tools/check_translations.py
  tools/update-companion-translations.sh
Labels: house keeping 🧹

#6411 fix(radio): Lua script special functions running when no trigger set
  radio/src/lua/interface.cpp
Labels: bug 🪲, color, B&W

#6419 fix(color): radio may crash if custom mixer Lua script output name is 6 chars long.
  radio/src/gui/colorlcd/model/model_mixer_scripts.cpp
  radio/src/lua/interface.cpp
Labels: bug 🪲, color, UX-UI

#6413 fix(miniz): suppress compile warnings
  cmake/FetchMiniz.cmake
Labels: compilation

#6415 fix(simulator): radio profile sd path
  companion/src/simulator.cpp
Labels: bug 🪲, simulator

#6423 chore: cleanup TR_ENTER translation
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/ko.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/tw.h
  radio/src/translations/ua.h
Labels: house keeping 🧹

#6424 chore: remove PCBFRSKY definition
  radio/src/audio.cpp
  radio/src/edgetx.cpp
  radio/src/edgetx.h
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/stm32h7s78-dk/CMakeLists.txt
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/telemetry/telemetry.cpp
  radio/src/tests/functions.cpp
  radio/src/tests/gtests.h
  radio/src/tests/switches.cpp
Labels: house keeping 🧹

#6409 fix(cpn): add HRS V14
  companion/src/CMakeLists.txt
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/opentx/opentxinterface.cpp
  radio/util/hw_defs/switch_config.py
  tools/build-companion.sh
Labels: companion, hardware support

#6420 chore(translation): update Italian 🇮🇹 translations
  radio/src/translations/bl_translations.h
  radio/src/translations/it.h
Labels: translation

#6427 fix(frftl): array out of bounds issue
  radio/src/drivers/frftl.cpp
Labels: bug 🪲

#6430 fix(color): text input field may not display correctly when value is erased.
  radio/src/gui/colorlcd/libui/textedit.cpp
Labels: bug 🪲, color, UX-UI

#6431 feat(color): GPS QR code locator tool
  radio/src/gui/colorlcd/CMakeLists.txt
  radio/src/gui/colorlcd/libui/static.cpp
  radio/src/gui/colorlcd/libui/static.h
  radio/src/gui/colorlcd/radio/radio_gps_tool.cpp
  radio/src/gui/colorlcd/radio/radio_gps_tool.h
  radio/src/gui/colorlcd/radio/radio_tools.cpp
  radio/src/translations.cpp
  radio/src/translations.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/ko.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/ua.h
Labels: enhancement ✨, color

#6444 chore(radio): obsolete raw telemetry packets from MPM
  radio/src/telemetry/multi.cpp
Labels: house keeping 🧹

#6447 feat(color): increase RAM allocation to LVGL for Lua scripts with many images
  radio/src/gui/colorlcd/lv_conf.h
Labels: color, lua

#6183 refactor(f4): use generic init system on F4 targets
  radio/src/boards/generic_stm32/startup/startup_stm32f40_41xxx.s
  radio/src/boards/generic_stm32/startup/startup_stm32f413xx.s
  radio/src/boards/generic_stm32/startup/startup_stm32f42_43xxx.s
  radio/src/targets/common/arm/stm32/f4/CMakeLists.txt
  radio/src/targets/common/arm/stm32/f4/memory_sections.h
  radio/src/targets/common/arm/stm32/f4/system_clock.c
  radio/src/targets/common/arm/stm32/f4/system_stm32f4xx.c
  radio/src/targets/common/arm/stm32/f4/vectors_stm32f407xx.c
  radio/src/targets/common/arm/stm32/f4/vectors_stm32f429xx.c
  radio/src/targets/common/arm/stm32/sdram_driver.cpp
  radio/src/targets/horus/CMakeLists.txt
  radio/src/targets/horus/board.cpp
  radio/src/targets/pl18/CMakeLists.txt
  radio/src/targets/pl18/backlight_driver.cpp
  radio/src/targets/pl18/board.cpp
Labels: enhancement ✨, house keeping 🧹

#6410 chore(cpn): remove SKY9X/9XRPRO
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/moduledata.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/modeledit/setup_module.cpp
  companion/src/radiointerface.cpp
  companion/src/storage/rlefile.cpp
Labels: companion

#6460 fix(color): momentaryButton in Lua script crashes radio
  radio/src/lua/lua_lvgl_widget.cpp
  radio/src/lua/lua_lvgl_widget.h
Labels: color, lua-api, bug/regression ↩️

#6464 fix(color): debug messages when loading images in Lua script not shown as errors
  radio/src/gui/colorlcd/libui/bitmapbuffer_fileio.cpp
  radio/src/gui/colorlcd/libui/static.cpp
Labels: color, lua

#6461 fix(cpn): windows installer
  companion/src/CMakeLists.txt
Labels: companion, compilation

#6385 fix(v16): I2C conflicts in sensors reading
  radio/src/targets/horus/tp_gt911.cpp
Labels: bug 🪲

#6451 feat(color): spectrum analyzer peak hold
  radio/src/edgetx.h
  radio/src/gui/colorlcd/libui/etx_lv_theme.cpp
  radio/src/gui/colorlcd/libui/etx_lv_theme.h
  radio/src/gui/colorlcd/radio/radio_spectrum_analyser.cpp
  radio/src/telemetry/frsky_pxx2.cpp
  radio/src/telemetry/multi.cpp
Labels: enhancement ✨, color

#6465 fix(cpn): update maxlibqt commit reference
  cmake/FetchMaxLibQt.cmake
Labels: companion, compilation

#6466 fix(cpn): update components checkbox spacing
  companion/src/apppreferencesdialog.cpp
Labels: bug 🪲, companion

#6470 feat(lua): add getStickMode function
  radio/src/lua/api_general.cpp
Labels: lua-api

#6472 fix(scripts): qt version and formatting
  tools/msys2_fetch_and_build_all.sh
  tools/setup_buildenv_ubuntu22.04.sh
  tools/setup_buildenv_ubuntu24.04.sh
Labels: compilation

#6473 fix(sim): wrong background color for B&W simulator
  companion/src/simulation/simulateduiwidgetGeneric.cpp
  companion/src/simulation/widgets/lcdwidget.h
Labels: UX-UI, B&W, simulator, bug/regression ↩️

#6454 refactor: convert simufatfs to C++17
  radio/src/lib_file.cpp
  radio/src/targets/simu/simpgmspace.h
  radio/src/targets/simu/simufatfs.cpp
  radio/src/tests/gtests.cpp
  radio/src/tests/lcd.cpp
  radio/src/tests/lcd_480x272.cpp
Labels: house keeping 🧹

#6467 chore: cleanup SDL2 definitions
  CMakeLists.txt
  cmake/FetchImgui.cmake
  cmake/NativeTargets.cmake
  companion/src/CMakeLists.txt
  companion/src/apppreferencesdialog.cpp
  companion/src/apppreferencesdialog.h
  companion/src/companion.cpp
  companion/src/simulation/CMakeLists.txt
  companion/src/simulation/simulatormainwindow.cpp
  companion/src/simulation/simulatorwidget.cpp
  companion/src/simulation/simulatorwidget.h
  companion/src/simulator.cpp
  radio/src/audio.cpp
  radio/src/audio.h
  radio/src/targets/simu/CMakeLists.txt
  radio/src/targets/simu/simuaudio.cpp
  tools/build-companion.sh
  tools/msys2_fetch_and_build_all.sh
Labels: companion, house keeping 🧹

#6474 chore(simu): remove dependency to `getopt()`
  radio/src/targets/simu/CMakeLists.txt
  radio/src/targets/simu/arg_parser.cpp
  radio/src/targets/simu/arg_parser.h
  radio/src/targets/simu/bt_driver.cpp
  radio/src/targets/simu/sdl_simu.cpp
  radio/src/targets/simu/simpgmspace.cpp
  radio/src/targets/simu/simpgmspace.h
Labels: house keeping 🧹

#6485 fix(color): battery voltage value not updating on Radio Hardware page
  radio/src/gui/colorlcd/radio/radio_hardware.cpp
Labels: color, UX-UI, bug/regression ↩️
