Repository EdgeTX/edgetx, pull requests merged in 2025-01, with the labels that each got.

#5743 chore: cleanup compiler warnings, disable "unaligned pointer value" warning
  cmake/toolchain/native.cmake
  radio/src/CMakeLists.txt
  radio/src/edgetx_helpers.h
  radio/src/functions.cpp
  radio/src/gui/colorlcd/model/special_functions.cpp
  radio/src/gui/common/stdlcd/radio_tools.cpp
  radio/src/gui/common/stdlcd/view_telemetry.cpp
  radio/src/lua/lua_widget.cpp
  radio/src/strhelpers.cpp
  radio/src/targets/simu/module_drivers.cpp
  radio/src/targets/simu/simpgmspace.cpp
  radio/src/thirdparty/Lua/src/liolib.c
  radio/src/trainer.cpp
Labels: color, B&W, simulator, house keeping 🧹

#5745 fix: move firmware compiler version check down
  radio/src/CMakeLists.txt
Labels: compilation, bug/regression ↩️, house keeping 🧹

#5724 feat: process RC packets back from CRSF module as trainer input
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/modeldata.h
  radio/src/dataconstants.h
  radio/src/gui/gui_common.cpp
  radio/src/storage/yaml/yaml_datastructs_funcs.cpp
  radio/src/telemetry/crossfire.cpp
  radio/src/telemetry/crossfire.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/ua.h
  radio/src/translations/untranslated.h
Labels: enhancement ✨

#5748 chore: remove ADC_DIRECTION diagnostic from build output
  radio/util/hw_defs/hal_adc.py
Labels: house keeping 🧹

#5746 chore(translation): change CRSF_ARMING_MODE German text
  radio/src/translations/de.h
Labels: translation

#5767 fix(cpn): mix edit title bar post inverted sources
  companion/src/modeledit/mixerdialog.cpp
Labels: companion, bug/regression ↩️

#5751 fix(nv14): AFHDS3 missing for FRM303 external module
  radio/src/targets/nv14/CMakeLists.txt
Labels: bug 🪲

#5776 fix(bw): customisable switch LED color text sometimes incorrect on GX12
  radio/src/gui/128x64/model_setup.cpp
  radio/src/hal/rgbleds.h
  radio/src/targets/simu/led_driver.cpp
  radio/src/targets/taranis/led_driver.cpp
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/ua.h
Labels: UX-UI, B&W, bug/regression ↩️

#5763 feat(cpn): simulator allow manually setting transmitter battery voltage
  companion/src/simulation/simulatorinterface.h
  companion/src/simulation/simulatormainwindow.cpp
  companion/src/simulation/simulatormainwindow.h
  companion/src/simulation/simulatormainwindow.ui
  companion/src/simulation/simulatorwidget.cpp
  companion/src/simulation/simulatorwidget.h
  radio/src/hal/adc_driver.cpp
  radio/src/targets/simu/adc_driver.cpp
  radio/src/targets/simu/opentxsimulator.cpp
  radio/src/targets/simu/opentxsimulator.h
Labels: enhancement ✨, simulator

#5771 fix(color): focus border clipped on custom throttle check input value
  radio/src/gui/colorlcd/model/preflight_checks.cpp
Labels: color, UX-UI, bug/regression ↩️

#5749 chore: make firmware check fatal error by default
  radio/src/CMakeLists.txt
Labels: compilation

#5778 chore(cpn): delay loading libsims
  companion/src/simulation/simulatorinterface.cpp
  companion/src/simulation/simulatorinterface.h
Labels: companion, house keeping 🧹

#5780 fix(bw): simulator may crash on Linux when SYS key pressed
  radio/src/gui/common/stdlcd/radio_tools.cpp
Labels: UX-UI, B&W, bug/regression ↩️

#5787 fix(bw): remove default SYS key
  radio/src/targets/taranis/hal.h
Labels: B&W, bug/regression ↩️

#5785 chore: quieten CMake unused variable warning
  radio/src/CMakeLists.txt
Labels: compilation

#5781 feat(bw128): display PPM value in channel monitor
  radio/src/gui/128x64/view_channels.cpp
Labels: enhancement ✨, UX-UI, B&W

#5796 feat(cpn): add customisable switch colors to Companion YAML file handling
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
  companion/src/firmwares/modeldata.h
Labels: enhancement ✨, companion

#5797 fix(sim): initial state for customisable switches not set correctly
  radio/src/edgetx.cpp
Labels: simulator, bug/regression ↩️

#5803 feat(bw): move battery range settings to Radio / Hardware tab
  radio/src/gui/128x64/radio_setup.cpp
  radio/src/gui/common/stdlcd/radio_hardware.cpp
Labels: enhancement ✨, UX-UI, B&W

#5799 feat(bw128): add customisable switches edit page, allow editing custom colors
  radio/src/gui/128x64/model_setup.cpp
  radio/src/hal/rgbleds.h
  radio/src/targets/simu/led_driver.cpp
  radio/src/targets/taranis/led_driver.cpp
Labels: enhancement ✨, UX-UI, B&W

#5804 feat(f4): more free memory on handsets with CCM RAM
  radio/src/CMakeLists.txt
  radio/src/boards/generic_stm32/linker/stm32f40x/extra_sections.ld
  radio/src/edgetx.cpp
  radio/src/gui/colorlcd/standalone_lua.cpp
  radio/src/lua/bin_allocator.cpp
  radio/src/lua/ccm_allocator.cpp
  radio/src/lua/custom_allocator.cpp
  radio/src/lua/custom_allocator.h
  radio/src/lua/interface.cpp
  radio/src/lua/widgets.cpp
Labels: enhancement ✨, B&W, lua

#5809 fix(sim): crash if trainer mode is set to Master/SBUS
  radio/src/trainer.cpp
Labels: bug 🪲, simulator

#5807 fix(color): LVGL font generation not working
  radio/src/fonts/lvgl/lz4_font.cpp
  radio/src/gui/colorlcd/lv_conf.h
Labels: color, compilation, bug/regression ↩️

#5806 fix(bw): radio tools list may display incorrect names
  radio/src/edgetx.h
  radio/src/gui/common/stdlcd/radio_tools.cpp
Labels: UX-UI, B&W, bug/regression ↩️

#5801 fix(lua): stick "side" missing from model.getInput
  radio/src/lua/api_model.cpp
Labels: bug 🪲, lua-api

#5816 fix(color): wizard Lua scripts are not run
  radio/src/gui/colorlcd/model/model_select.cpp
  radio/src/gui/colorlcd/radio/radio_sdmanager.cpp
Labels: color, lua, bug/regression ↩️

#5817 fix(bw): prevent script from re-opening itself
  radio/src/lua/interface.cpp
Labels: B&W, lua, bug/regression ↩️

#5820 fix(color): MPM - wrong display of used RF protocol
  radio/src/gui/colorlcd/module/mpm_settings.cpp
Labels: color, UX-UI, bug/regression ↩️

#5823 fix: gx12 not entering BL
  radio/src/targets/common/arm/stm32/bootloader/boot.cpp
Labels: bug/regression ↩️

#5811 fix(color): attempt to show units for value widget if height < 50 - 2.10
  radio/src/gui/colorlcd/widgets/value.cpp
Labels: bug 🪲, color, widget

#5818 fix(color): attempt to show units for value widget if height < 50
  radio/src/gui/colorlcd/widgets/value.cpp
Labels: bug 🪲, color, widget

#5819 fix(bw): prevent phantom 'Script error' message after trying to load a Lua 5.2 luac file
  radio/src/lua/interface.cpp
Labels: bug 🪲, UX-UI, B&W, lua

#5753 feat(cpn): read and write to/from radio profile sd path and menu reorganisation
  companion/releasenotes.txt
  companion/src/companion.qrc
  companion/src/images/originals/folder-tree-read-classic.svg
  companion/src/images/originals/folder-tree-read-monochrome.svg
  companion/src/images/originals/folder-tree-read-outline.svg
  companion/src/images/originals/folder-tree-read-yerico.svg
  companion/src/images/originals/folder-tree-write-classic.svg
  companion/src/images/originals/folder-tree-write-monochrome.svg
  companion/src/images/originals/folder-tree-write-outline.svg
  companion/src/images/originals/folder-tree-write-yerico.svg
  companion/src/mainwindow.cpp
  companion/src/mainwindow.h
  companion/src/mdichild.cpp
  companion/src/mdichild.h
  companion/src/radiointerface.cpp
  companion/src/radiointerface.h
  companion/src/storage/appdata.h
  companion/src/themes/classic/16/folder-tree-read.png
  companion/src/themes/classic/16/folder-tree-write.png
  companion/src/themes/classic/24/folder-tree-read.png
  companion/src/themes/classic/24/folder-tree-write.png
  companion/src/themes/classic/32/folder-tree-read.png
  companion/src/themes/classic/32/folder-tree-write.png
  companion/src/themes/classic/48/folder-tree-read.png
  companion/src/themes/classic/48/folder-tree-write.png
  companion/src/themes/monoblue/16/folder-tree-read.png
  companion/src/themes/monoblue/16/folder-tree-write.png
  companion/src/themes/monoblue/24/folder-tree-read.png
  companion/src/themes/monoblue/24/folder-tree-write.png
  companion/src/themes/monoblue/32/folder-tree-read.png
  companion/src/themes/monoblue/32/folder-tree-write.png
  companion/src/themes/monoblue/48/folder-tree-read.png
  companion/src/themes/monoblue/48/folder-tree-write.png
  companion/src/themes/monochrome/16/folder-tree-read.png
  companion/src/themes/monochrome/16/folder-tree-write.png
  companion/src/themes/monochrome/24/folder-tree-read.png
  companion/src/themes/monochrome/24/folder-tree-write.png
  companion/src/themes/monochrome/32/folder-tree-read.png
  companion/src/themes/monochrome/32/folder-tree-write.png
  companion/src/themes/monochrome/48/folder-tree-read.png
  companion/src/themes/monochrome/48/folder-tree-write.png
  companion/src/themes/monowhite/16/folder-tree-read.png
  companion/src/themes/monowhite/16/folder-tree-write.png
  companion/src/themes/monowhite/24/folder-tree-read.png
  companion/src/themes/monowhite/24/folder-tree-write.png
  companion/src/themes/monowhite/32/folder-tree-read.png
  companion/src/themes/monowhite/32/folder-tree-write.png
  companion/src/themes/monowhite/48/folder-tree-read.png
  companion/src/themes/monowhite/48/folder-tree-write.png
  companion/src/themes/yerico/16/folder-tree-read.png
  companion/src/themes/yerico/16/folder-tree-write.png
  companion/src/themes/yerico/24/folder-tree-read.png
  companion/src/themes/yerico/24/folder-tree-write.png
  companion/src/themes/yerico/32/folder-tree-read.png
  companion/src/themes/yerico/32/folder-tree-write.png
  companion/src/themes/yerico/48/folder-tree-read.png
  companion/src/themes/yerico/48/folder-tree-write.png
Labels: enhancement ✨, companion, house keeping 🧹

#5825 fix(color): setup dialog for pots on portrait LCD has overlapping text
  radio/src/gui/colorlcd/radio/hw_inputs.cpp
  radio/src/gui/colorlcd/radio/hw_inputs.h
Labels: bug 🪲, color, UX-UI

#5822 feat(sim): startup can be slow when scanning SYSTEM audio files
  radio/src/audio.cpp
Labels: enhancement ✨, simulator

#5833 fix(lua): io.read always reading 256 bytes rather than specified value
  radio/src/thirdparty/Lua/src/liolib.c
Labels: lua, bug/regression ↩️

#5835 chore(dsm): remove always zero sensors, use thread safe functions
  radio/src/telemetry/spektrum.cpp
Labels: telemetry 📶, house keeping 🧹

#5837 fix(h750): linker scripts
  radio/src/boards/generic_stm32/linker/common_sections.ld
  radio/src/boards/generic_stm32/linker/firmware.ld
  radio/src/boards/generic_stm32/linker/stm32h750_sdram/bootloader/layout.ld
  radio/src/boards/generic_stm32/linker/stm32h750_sdram/layout.ld
Labels: hardware support

#5827 feat(tx16s): default calibration for 6POS
  radio/src/edgetx.cpp
  radio/src/targets/horus/hal.h
  radio/src/targets/taranis/hal.h
  radio/util/hw_defs/legacy_names.py
  radio/util/hw_defs/pot_config.py
Labels: enhancement ✨

#5846 fix(cpn): ADC switch type hardware definition
  companion/src/firmwares/boardjson.cpp
  companion/src/firmwares/boards.h
Labels: bug 🪲, companion

#5845 fix(color): long ENTER on main view not allowing widget selection
  radio/src/gui/colorlcd/mainview/view_main.cpp
Labels: color, UX-UI, bug/regression ↩️

#5843 fix(cpn): missing sbus trainer for some handsets
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/moduledata.cpp
Labels: bug 🪲, companion

#5849 chore(cpn): add PL18EV support
  companion/src/CMakeLists.txt
  companion/src/firmwares/boards.cpp
  companion/src/firmwares/boards.h
  companion/src/firmwares/generalsettings.cpp
  companion/src/firmwares/opentx/opentxinterface.cpp
  companion/src/generaledit/generalsetup.cpp
  companion/src/modeledit/setup.cpp
  companion/src/modelprinter.cpp
Labels: bug 🪲, companion

#5836 feat(vs1053b): use callbacks for RST & MUTE pins
  radio/src/targets/common/arm/stm32/vs1053b.cpp
  radio/src/targets/common/arm/stm32/vs1053b.h
  radio/src/targets/horus/board.cpp
  radio/src/targets/nv14/board.cpp
Labels: hardware support
