Repository EdgeTX/edgetx, pull requests merged in 2025-10, with the labels that each got.

#6614 fix(color): navigation for Ghost module config tool
  radio/src/gui/colorlcd/radio/radio_ghost_module_config.cpp
Labels: color, UX-UI, bug/regression ↩️

#6578 feat(cpn): model notes and checklist files packaged with model files
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/modeldata.h
  companion/src/helpers.cpp
  companion/src/helpers.h
  companion/src/modeledit/checklistdialog.cpp
  companion/src/modeledit/checklistdialog.h
  companion/src/modeledit/checklistdialog.ui
  companion/src/modeledit/setup.cpp
  companion/src/modeledit/setup.h
  companion/src/modeledit/setup.ui
  companion/src/print/modelprinter.cpp
  companion/src/storage/etx.cpp
  companion/src/storage/etx.h
  companion/src/storage/labeled.cpp
  companion/src/storage/labeled.h
  companion/src/storage/sdcard.cpp
  companion/src/storage/sdcard.h
Labels: enhancement ✨, companion

#6623 fix(color): potential crash when configuring external module if trainer mode set to Master/SBUS
  radio/src/gui/colorlcd/module/module_setup.cpp
Labels: color, UX-UI, bug/regression ↩️

#6631 fix(color): widgets may not update correctly when flight mode changes
  radio/src/gui/colorlcd/mainview/layout_factory_impl.cpp
  radio/src/gui/colorlcd/mainview/layout_factory_impl.h
Labels: color, UX-UI, bug/regression ↩️

#6633 fix(radio): early init hooks
  radio/src/boards/jumper-h750/board.cpp
  radio/src/boards/rm-h750/board.cpp
  radio/src/targets/common/arm/stm32/f4/memory_sections.h
  radio/src/targets/common/arm/stm32/h7/memory_sections.h
  radio/src/targets/horus/board.cpp
Labels: bug 🪲

#6627 fix(cpn): support IMU for TX15
  companion/src/firmwares/boardjson.cpp
  companion/src/firmwares/boards.cpp
Labels: companion

#6636 fix: configure default switch warning for customizable switches
  radio/src/model_init.cpp
Labels: bug/regression ↩️

#6639 fix(color): widgets may not update correctly when flight mode changes (v2)
  radio/src/gui/colorlcd/mainview/layout_factory_impl.cpp
  radio/src/gui/colorlcd/mainview/layout_factory_impl.h
Labels: bug 🪲, color, UX-UI
