Repository EdgeTX/edgetx, pull requests merged in 2025-02, with the labels that each got.

#5856 chore: swedish translation updates
  companion/src/translations/companion_sv.ts
  radio/src/translations/se.h
Labels: translation

#5863 chore: removed undefined command "volume" from cli
  radio/src/cli.cpp
Labels: compilation

#5861 fix(cpn): startup crash when "prompt for radio profile" enabled
  companion/src/mainwindow.cpp
Labels: bug 🪲, companion

#5854 fix(sim): flight mode name incorrect in the simulator window title bar
  radio/src/edgetx.h
  radio/src/strhelpers.cpp
  radio/src/strhelpers.h
  radio/src/targets/simu/opentxsimulator.cpp
  radio/src/tests/gtests.cpp
Labels: bug 🪲, UX-UI, simulator

#5853 chore: update Danish companion and radio translations
  companion/src/translations/companion_da.ts
  radio/src/translations/da.h
Labels: translation

#5808 feat(color): allow all UI controls for widgets when full screen
  radio/src/dataconstants.h
  radio/src/gui/colorlcd/controls/sourcechoice.cpp
  radio/src/gui/colorlcd/libui/button.cpp
  radio/src/gui/colorlcd/libui/button.h
  radio/src/gui/colorlcd/libui/slider.cpp
  radio/src/gui/colorlcd/libui/slider.h
  radio/src/gui/colorlcd/libui/toggleswitch.cpp
  radio/src/gui/colorlcd/libui/toggleswitch.h
  radio/src/gui/colorlcd/libui/window.cpp
  radio/src/gui/colorlcd/libui/window.h
  radio/src/gui/colorlcd/mainview/view_main.cpp
  radio/src/gui/colorlcd/mainview/widget.cpp
  radio/src/gui/colorlcd/mainview/widget.h
  radio/src/gui/colorlcd/standalone_lua.cpp
  radio/src/gui/colorlcd/standalone_lua.h
  radio/src/gui/gui_common.cpp
  radio/src/gui/gui_common.h
  radio/src/lua/api_colorlcd_lvgl.cpp
  radio/src/lua/api_general.cpp
  radio/src/lua/interface.cpp
  radio/src/lua/lua_api.h
  radio/src/lua/lua_lvgl_widget.cpp
  radio/src/lua/lua_lvgl_widget.h
  radio/src/lua/lua_widget.cpp
  radio/src/lua/lua_widget.h
  radio/src/lua/lua_widget_factory.cpp
  radio/src/lua/widgets.cpp
Labels: enhancement ✨, color, lua-api

#5397 chore: use single target to support nv14/el18/pl18/pl18ev/nb4p
  companion/src/CMakeLists.txt
  radio/src/datastructs.h
  radio/src/storage/yaml/CMakeLists.txt
  radio/src/storage/yaml/yaml_datastructs.cpp
  radio/src/storage/yaml/yaml_datastructs_nv14_family.cpp
  radio/src/targets/nv14/hal.h
  radio/src/targets/pl18/CMakeLists.txt
  radio/src/targets/pl18/battery_driver.cpp
  radio/src/targets/pl18/battery_driver.h
  radio/src/targets/pl18/board.cpp
  radio/src/targets/pl18/board.h
  radio/src/targets/pl18/bootloader/boot_menu.cpp
  radio/src/targets/pl18/hal.h
  radio/src/targets/pl18/touch_driver.cpp
  radio/src/targets/pl18/usb_descriptor.h
  radio/src/translations/cn.h
  radio/src/translations/cz.h
  radio/src/translations/da.h
  radio/src/translations/de.h
  radio/src/translations/en.h
  radio/src/translations/es.h
  radio/src/translations/fi.h
  radio/src/translations/fr.h
  radio/src/translations/he.h
  radio/src/translations/it.h
  radio/src/translations/jp.h
  radio/src/translations/nl.h
  radio/src/translations/pl.h
  radio/src/translations/pt.h
  radio/src/translations/ru.h
  radio/src/translations/se.h
  radio/src/translations/tw.h
  radio/src/translations/ua.h
  tools/build-common.sh
  tools/build-flysky.py
Labels: compilation, house keeping 🧹

#5883 chore(cpn): 🇸🇪 translation for Flight/Drive modes tab title
  companion/src/translations/companion_sv.ts
Labels: companion, translation

#5874 fix(lua): missing speedPrec for getMix/insertMix
  radio/src/lua/api_model.cpp
Labels: bug 🪲, lua

#5886 fix(lua): missing delayPrec for getMix/insertMix
  radio/src/lua/api_model.cpp
Labels: bug 🪲, lua-api

#5868 fix: remove redundant touchPanelInit
  radio/src/targets/horus/board.cpp
Labels: touch 👆, bug/regression ↩️

#5865 fix(chore): key labels match physical radios
  radio/util/hw_defs/hal_json.py
  radio/util/hw_defs/hal_keys.py
Labels: color, B&W, simulator

#5889 fix(sim): add 'Shift' key shortcut in the simulator
  companion/src/simulation/simulateduiwidget.cpp
Labels: UX-UI, B&W, simulator, bug/regression ↩️

#5892 fix(bw): putsChn() should return always channel number
  radio/src/gui/128x64/lcd.cpp
  radio/src/gui/128x64/lcd.h
  radio/src/gui/212x64/lcd.cpp
  radio/src/gui/212x64/lcd.h
Labels: UX-UI, B&W, bug/regression ↩️

#5893 fix(color): unable to turn off radio if powered on with no SD card.
  radio/src/edgetx.cpp
  radio/src/gui/colorlcd/startup_shutdown.cpp
Labels: color, UX-UI, bug/regression ↩️

#5890 fix(cpn): update main window menus and toolbars on fixing invalid models
  companion/src/mainwindow.cpp
  companion/src/mdichild.cpp
  companion/src/mdichild.h
Labels: bug 🪲, companion

#5903 fix(cpn): read and delete model file names case insensitive
  companion/src/storage/labeled.cpp
Labels: bug 🪲, companion

#5905 fix(audio): clipped SPI audio on nv14/el18/x12s
  radio/src/audio.h
  radio/src/targets/common/arm/stm32/vs1053b.cpp
Labels: bug/regression ↩️

#5902 fix: RTC issue causing time reset and lag on colorlcd
  radio/src/targets/common/arm/stm32/rtc_driver.cpp
Labels: bug/regression ↩️

#5908 fix(color): top bar widgets may not get removed when switching models.
  radio/src/gui/colorlcd/mainview/layout.cpp
  radio/src/gui/colorlcd/mainview/widgets_container_impl.h
Labels: color, UX-UI, bug/regression ↩️

#5913 fix(radio): '---' option is missing when selecting some source values.
  radio/src/gui/gui_common.cpp
Labels: color, UX-UI, B&W, bug/regression ↩️

#5910 fix(color): view screen layout may not update correctly after changing screen setup.
  radio/src/gui/colorlcd/mainview/layout.cpp
  radio/src/gui/colorlcd/mainview/layout.h
  radio/src/gui/colorlcd/mainview/layout_factory_impl.cpp
  radio/src/gui/colorlcd/mainview/layout_factory_impl.h
  radio/src/gui/colorlcd/mainview/screen_setup.cpp
  radio/src/gui/colorlcd/mainview/view_main.cpp
  radio/src/gui/colorlcd/mainview/widgets_container.h
  radio/src/gui/colorlcd/mainview/widgets_container_impl.h
  radio/src/storage/sdcard_common.cpp
  radio/src/storage/storage_common.cpp
Labels: color, UX-UI, bug/regression ↩️

#5916 fix(color): mix line source string may be truncated if it is too long.
  radio/src/gui/colorlcd/libui/list_line_button.cpp
Labels: color, UX-UI, bug/regression ↩️

#5918 fix(bw): bluetooth discovery popup menu lockup
  radio/src/gui/128x64/model_setup.cpp
  radio/src/gui/common/stdlcd/popups.cpp
Labels: B&W, bug/regression ↩️

#5876 chore(gx12): add Bluetooth pin definitions
  radio/src/targets/taranis/CMakeLists.txt
  radio/src/targets/taranis/hal.h
Labels: hardware support

#5911 fix: enable/disable RTC_BACKUP write access
  radio/src/targets/common/arm/stm32/rtc_driver.cpp
Labels: bug/regression ↩️, house keeping 🧹

#5923 fix: only clear storageDirtyMsk bits when no errors, extend RTOS queues
  radio/src/FreeRTOSConfig.h
  radio/src/storage/sdcard_common.cpp
Labels: bug/regression ↩️, partner, storage

#5922 feat: allow for compile time user override of power LED color
  radio/src/CMakeLists.txt
  radio/src/edgetx.h
  radio/src/options.h
  radio/src/targets/horus/board.cpp
  radio/src/targets/pl18/board.cpp
  radio/src/targets/taranis/board.cpp
Labels: enhancement ✨

#5928 fix(lua): io.open(filename, “a”) overwriting instead of appending
  radio/src/thirdparty/Lua/src/liolib.c
Labels: color, B&W, lua, bug/regression ↩️

#5929 fix(radio): limit the number of consecutive retries when writing SD card data.
  radio/src/storage/sdcard_common.cpp
Labels: enhancement ✨, color, B&W

#5935 fix(color): timer widget displays wrong UI for count up timers.
  radio/src/gui/colorlcd/widgets/timer.cpp
Labels: color, UX-UI, widget, bug/regression ↩️

#5947 fix(cpn): input edit window title
  companion/src/modeledit/expodialog.cpp
Labels: companion, bug/regression ↩️

#5943 Swedish translation fixes
  radio/src/translations/se.h
Labels: translation

#5942 fix(color): consistently sized outline for Timer widget
  radio/src/bitmaps/480x272/mask_timer.png
Labels: color, UX-UI, widget

#5950 fix(cpn): don't assume all lcd customisable switches have colour settings
  companion/src/firmwares/edgetx/yaml_modeldata.cpp
Labels: bug 🪲, companion
