Repository EdgeTX/edgetx, pull requests merged in 2025-03, with the labels that each got.

#5964 fix(color): bootloader text overlap on portrait layout
  radio/src/targets/pl18/bootloader/boot_menu.cpp
Labels: color, bug/regression ↩️

#5949 refactor(radio): async call handling to prevent GX12 switch lockups
  radio/src/edgetx.cpp
  radio/src/targets/taranis/gx12/bsp_io.cpp
  radio/src/telemetry/telemetry.cpp
Labels: bug 🪲, blocks-release, partner, firmware

#5957 fix(cpn): include global variables in mixes source list
  companion/src/modeledit/mixerdialog.cpp
Labels: bug 🪲, companion

#5961 fix: don't check ELRS version if crossfire disabled
  radio/src/gui/gui_common.cpp
  radio/src/pulses/modules_helpers.h
  radio/src/telemetry/crossfire.h
Labels: bug/regression ↩️, house keeping 🧹

#5968 fix(radio): fix inverted source causing EM on PlayValue SF trigger
  radio/src/functions.cpp
Labels: em, bug/regression ↩️, firmware

#5972 chore(radio): tweak POWER_LED_BLUE, fix Flysky startup sequence
  radio/src/CMakeLists.txt
  radio/src/edgetx.h
  radio/src/targets/taranis/board.cpp
Labels: bug 🪲, house keeping 🧹, firmware

#5978 fix(cpn): sometimes reads wrong SD card path
  companion/src/radiointerface.cpp
Labels: companion, bug/regression ↩️

#5979 chore(radio): update Ukrainian 🇺🇦 translations
  radio/src/translations/ua.h
Labels: translation, firmware

#5973 chore(radio): save some ram in radios with RGB LEDs
  radio/src/boards/generic_stm32/rgb_leds.cpp
  radio/src/boards/generic_stm32/rgb_leds.h
  radio/src/targets/common/arm/stm32/stm32_ws2812.cpp
  radio/src/targets/common/arm/stm32/stm32_ws2812.h
  radio/src/targets/horus/board.cpp
  radio/src/targets/pl18/board.cpp
  radio/src/targets/taranis/board.cpp
  radio/src/targets/taranis/hal.h
Labels: house keeping 🧹

#5999 fix(color): model name may be hard to read on model select page
  radio/src/gui/colorlcd/model/model_select.cpp
Labels: color, UX-UI, bug/regression ↩️

#6000 fix(color): minor layout issues on mixes and curves screens
  radio/src/gui/colorlcd/model/model_curves.cpp
  radio/src/gui/colorlcd/model/model_mixes.cpp
Labels: color, UX-UI, bug/regression ↩️

#5991 fix(lua): display "needs file" rather than "unknown error"
  radio/src/lua/interface.cpp
Labels: bug 🪲, UX-UI, B&W, lua

#5993 fix(bw): FM/DM list starting at one, not zero
  radio/src/gui/128x64/model_flightmodes.cpp
Labels: UX-UI, B&W, bug/regression ↩️

#5994 fix(cpn): moving input line up to an empty line resulted in input data loss
  companion/src/firmwares/modeldata.cpp
  companion/src/firmwares/modeldata.h
  companion/src/modeledit/inputs.cpp
  companion/src/modeledit/inputs.h
Labels: bug 🪲, companion

#5896 chore(bw): cleanup and consolidate navigation code
  radio/src/edgetx.h
  radio/src/gui/128x64/gui.h
  radio/src/gui/128x64/model_curve_edit.cpp
  radio/src/gui/128x64/model_input_edit.cpp
  radio/src/gui/128x64/model_mix_edit.cpp
  radio/src/gui/128x64/view_channels.cpp
  radio/src/gui/128x64/view_main.cpp
  radio/src/gui/212x64/gui.h
  radio/src/gui/212x64/view_main.cpp
  radio/src/gui/common/stdlcd/draw_functions.cpp
  radio/src/gui/common/stdlcd/model_usbjoystick.cpp
  radio/src/gui/common/stdlcd/radio_sdmanager.cpp
  radio/src/gui/common/stdlcd/view_telemetry.cpp
  radio/src/gui/gui_common.cpp
  radio/src/gui/gui_common.h
  radio/src/gui/navigation/navigation.h
  radio/src/gui/navigation/navigation_x7.cpp
  radio/src/keys.cpp
  radio/src/keys.h
Labels: B&W, house keeping 🧹

#6009 fix(radio): constrain Backlight SF input value to valid range
  radio/src/functions.cpp
Labels: bug 🪲

#5926 feat(color): telemetry queues for Lua, enhance default widget options
  radio/src/gui/colorlcd/libui/list_line_button.cpp
  radio/src/gui/colorlcd/mainview/layout.h
  radio/src/gui/colorlcd/mainview/layout_factory_impl.h
  radio/src/gui/colorlcd/mainview/screen_setup.cpp
  radio/src/gui/colorlcd/mainview/widget.cpp
  radio/src/gui/colorlcd/mainview/widget.h
  radio/src/gui/colorlcd/mainview/widget_settings.cpp
  radio/src/gui/colorlcd/mainview/widgets_container.h
  radio/src/gui/colorlcd/mainview/widgets_setup.cpp
  radio/src/gui/colorlcd/standalone_lua.cpp
  radio/src/gui/colorlcd/standalone_lua.h
  radio/src/lua/api_colorlcd.cpp
  radio/src/lua/api_colorlcd_lvgl.cpp
  radio/src/lua/api_general.cpp
  radio/src/lua/lua_api.h
  radio/src/lua/lua_lvgl_widget.cpp
  radio/src/lua/lua_lvgl_widget.h
  radio/src/lua/lua_widget.cpp
  radio/src/lua/lua_widget.h
  radio/src/lua/lua_widget_factory.cpp
  radio/src/lua/lua_widget_factory.h
  radio/src/lua/widgets.cpp
  radio/src/strhelpers.cpp
  radio/src/strhelpers.h
  radio/src/telemetry/crossfire.cpp
  radio/src/telemetry/frsky_sport.cpp
  radio/src/telemetry/ghost.cpp
  radio/src/telemetry/telemetry.cpp
  radio/src/telemetry/telemetry.h
  radio/src/tests/crossfire.cpp
Labels: enhancement ✨, color, lua-api

#6020 fix(color): logical switch list page crash
  radio/src/gui/colorlcd/model/model_logical_switches.cpp
Labels: color, UX-UI, bug/regression ↩️

#6030 fix(color): lvgl.clear() not working correctly for Lua child layouts
  radio/src/lua/lua_lvgl_widget.cpp
  radio/src/lua/lua_lvgl_widget.h
Labels: bug 🪲, color, lua-api

#6015 fix(bw): drawing lines with out of bounds co-ordinates may crash
  radio/src/gui/128x64/lcd.cpp
  radio/src/gui/212x64/lcd.cpp
Labels: bug 🪲, B&W

#6017 fix(color): missing telemetry ID instance input field
  radio/src/gui/colorlcd/model/model_telemetry.cpp
Labels: color, UX-UI, bug/regression ↩️

#6014 fix(tele): DSM LIPO 6S sensor endian order
  radio/src/telemetry/spektrum.cpp
Labels: bug 🪲, telemetry 📶

#6027 fix(bw): tool scripts with long file names not working
  radio/src/edgetx.h
  radio/src/gui/common/stdlcd/radio_tools.cpp
Labels: UX-UI, B&W, bug/regression ↩️

#6028 fix(radio): improve initialisation of RTC
  radio/src/targets/common/arm/stm32/rtc_driver.cpp
Labels: bug 🪲, house keeping 🧹

#6031 fix(lua): setCurve min points should be 2
  radio/src/dataconstants.h
Labels: bug 🪲, lua

#6019 fix(cpn): remove custom switches from global functions
  companion/src/datamodels/compounditemmodels.cpp
Labels: bug 🪲, companion

#6035 fix(color): when the personal templates folder is empty the description section shows 'Text'
  radio/src/gui/colorlcd/model/model_templates.cpp
Labels: color, UX-UI, bug/regression ↩️

#6036 fix(color): allow long press of RTN key to also exit setup pages
  radio/src/gui/colorlcd/libui/page.cpp
  radio/src/gui/colorlcd/libui/page.h
  radio/src/gui/colorlcd/libui/tabsgroup.cpp
  radio/src/gui/colorlcd/libui/tabsgroup.h
  radio/src/gui/colorlcd/libui/window.cpp
  radio/src/gui/colorlcd/libui/window.h
  radio/src/gui/colorlcd/model/model_templates.cpp
  radio/src/gui/colorlcd/model/model_templates.h
  radio/src/gui/colorlcd/radio/radio_ghost_module_config.cpp
  radio/src/gui/colorlcd/radio/radio_ghost_module_config.h
Labels: color, UX-UI, bug/regression ↩️

#6032 fix(color): touch release event is incorrectly sent to Lua scripts after key presses.
  radio/src/lua/lua_widget.cpp
Labels: color, lua, bug/regression ↩️
